[2022-09-07 13:50] Dusch4593 opened #964 "[Term Entry] C++ Math Functions: `fmax()`"
### Reason/inspiration (optional)

Under `cpp/concepts/math-functions/terms/`, create a new term entry for the `fmax()` function.

- In the `terms/` folder, make a new folder called `fmax`
- Inside the `fmax` folder, create a new markdown file called `fmax.md`
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
- Let's include an "Example" section with a \```cp

[2022-09-07 13:51] Dusch4593 opened #965 "[Term Entry] C++ Math Functions: `fmin()`"
### Reason/inspiration (optional)

Under `cpp/concepts/math-functions/terms/`, create a new term entry for the `fmin()` function.

- In the `terms/` folder, make a new folder called `fmin`
- Inside the `fmin` folder, create a new markdown file called `fmin.md`
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
- Let's include an "Example" section with a \```cp

[2022-09-07 13:54] Dusch4593 opened #966 "[Term Entry] C++ Math Functions: `isfinite()`"
### Reason/inspiration (optional)

Under `c++/concepts/math-functions/terms/`, create a new term entry for the `isfinite()` function.

- In the `terms/` folder, make a new folder called `isfinite`
- Inside the `isfinite` folder, create a new markdown file called `isfinite.md`
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
- Let's include an "Example" secti

[2022-09-07 13:54] Dusch4593 opened #967 "[Term Entry] C++ Math Functions: `isinf()`"
### Reason/inspiration (optional)

Under `cpp/concepts/math-functions/terms/`, create a new term entry for the `isinf()` function.

- In the `terms/` folder, make a new folder called `isinf`
- Inside the `isinf` folder, create a new markdown file called `isinf.md`
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
- Let's include an "Example" section with a \`

[2022-09-07 13:55] Dusch4593 opened #968 "[Term Entry] C++ Math Functions: `isnan()`"
### Reason/inspiration (optional)

Under `cpp/concepts/math-functions/terms/`, create a new term entry for the `isnan()` function.

- In the `terms/` folder, make a new folder called `isnan`
- Inside the `isnan` folder, create a new markdown file called `isnan.md`
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
- Let's include an "Example" section with a \`

[2022-09-07 14:37] Libens-bufo commented on #959
@Dusch4593 Would you assign me to this please?

[2022-09-07 14:39] Dusch4593 commented on #959
@Libens-bufo Thanks for taking this! You're assigned 😄

[2022-09-07 20:16] Dusch4593 commented on #966
@Hitarth-Kothari thanks for taking on this issue and opening a PR! 🙏🏻

Could you comment back on this thread so I can formally assign you to this?

[2022-09-07 20:18] Hitarth-Kothari commented on #966
Yep

[2022-09-07 20:20] Hitarth-Kothari commented on #960
i would like to be assigned to this issue

[2022-09-07 20:20] Dusch4593 commented on #966
Awesome, thanks @Hitarth-Kothari! Anytime you wanna open a PR to address one of these issues, feel free to ask to be assigned beforehand and we'll assign you. 😄

[2022-09-07 20:26] Hitarth-Kothari commented on #960
@Dusch4593 I apologize for not asking before hand

[2022-09-07 20:28] Dusch4593 commented on #960
@Hitarth-Kothari No worries! You're assigned 😄

[2022-09-07 20:46] Hitarth-Kothari commented on #956
@Dusch4593  I wish to be assigned

[2022-09-07 20:52] Dusch4593 commented on #956
@Hitarth-Kothari Sure thing! Let's have you work on the three issues for now (including this one). As the attached PRs get merged, feel free to ask to be assigned to another open issue! 😄

[2022-09-07 20:57] Hitarth-Kothari commented on #956
Will do

[2022-09-07 20:58] Dusch4593 commented on #956
Thanks, @Hitarth-Kothari! Also, I was curious, how/where did you hear about contributing to Codecademy Docs?

[2022-09-07 21:02] Hitarth-Kothari commented on #956
https://goodfirstissues.com/
I'm new to open source so this is where i found this repo

[2022-09-07 21:09] Dusch4593 commented on #956
Firstly, we're happy your starting your open-source journey with us! 🎉 Secondly, that is a cool resource that I've never stumbled upon before! Thank you for sharing 😄

[2022-09-08 11:39] SSwiniarski opened #976 "[Edit] C++ Math Functions: `cos()`"
### Type of Edit (select all that apply)

Fix grammar, spelling, formatting
Clarify unclear content and/or terms
Add new content (definitions, codeblocks, etc.)

### Description (optional)

Requesting edits for the [cos()](https://www.codecademy.com/resources/docs/cpp/math-functions/cos) term entry under the C++: Math Functions concept.

Under `cpp/concepts/math-functions/terms/cos/cos.md`, please

[2022-09-08 11:41] SSwiniarski opened #977 "[Term Entry] C++ Math Functions: `sin()`"
### Reason/inspiration (optional)

Under `cpp/concepts/math-functions/terms/`, create a new term entry for the `sin()` function.

- In the terms/ folder, make a new folder called `sin`
- Inside the `sin` folder, create a new markdown file called `sin.md`
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
- Let's include an "Example" section with a \```cpp code

[2022-09-08 11:43] SSwiniarski opened #978 "[Term Entry] C++ Math Functions: `tan()`"
### Reason/inspiration (optional)

Under `cpp/concepts/math-functions/terms/`, create a new term entry for the `tan()` function.

- In the terms/ folder, make a new folder called `tan`
- Inside the `tan` folder, create a new markdown file called `tan.md`
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
- Let's include an "Example" section with a \```cpp code

[2022-09-08 11:45] SSwiniarski opened #979 "[Edit] C++ Math Functions: `cosh()`"
### Type of Edit (select all that apply)

Fix grammar, spelling, formatting
Clarify unclear content and/or terms
Add new content (definitions, codeblocks, etc.)

### Description (optional)

Requesting edits for the [cosh()](https://www.codecademy.com/resources/docs/cpp/math-functions/cosh) term entry under the C++: Math Functions concept.

Under `cpp/concepts/math-functions/terms/cosh/cosh.md`, pl

[2022-09-08 11:47] SSwiniarski opened #980 "[Term Entry] C++ Math Functions: `sinh()`"
### Reason/inspiration (optional)

Under `cpp/concepts/math-functions/terms/`, create a new term entry for the `sinh()` function.

- In the terms/ folder, make a new folder called `sinh`
- Inside the `sinh` folder, create a new markdown file called `sinh.md`
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
- Let's include an "Example" section with a \```cpp

[2022-09-08 11:48] SSwiniarski opened #981 "[Term Entry] C++ Math Functions: `tanh()`"
### Reason/inspiration (optional)

Under `cpp/concepts/math-functions/terms/`, create a new term entry for the `tanh()` function.

- In the terms/ folder, make a new folder called `tanh`
- Inside the `tanh` folder, create a new markdown file called `tanh.md`
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
- Let's include an "Example" section with a \```cpp

[2022-09-08 11:52] SSwiniarski opened #982 "[Term Entry] C++ Math Functions: `nan()`"
### Reason/inspiration (optional)

Under `cpp/concepts/math-functions/terms/`, create a new term entry for the `nan()` function.

- In the terms/ folder, make a new folder called `nan`
- Inside the `nan()` folder, create a new markdown file called `nan.md`
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
- Let's include an "Example" section with a \```cpp co

[2022-09-08 11:54] SSwiniarski opened #983 "[Term Entry] C++ Math Functions: `pow()`"
### Reason/inspiration (optional)

Under c++/concepts/math-functions/terms/, create a new term entry for the `pow()` function.

In the terms/ folder, make a new folder called `pow`
Inside the isnan folder, create a new markdown file called `pow.md`
Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
Let's include an "Example" section with a \```cpp code snippet.

[2022-09-08 11:55] SSwiniarski opened #984 "[Term Entry] C++ Math Functions: `remainder()`"
### Reason/inspiration (optional)

Under `cpp/concepts/math-functions/terms/`, create a new term entry for the `remainder()` function.

- In the terms/ folder, make a new folder called `remainder`
- Inside the `remainder` folder, create a new markdown file called `remainder.md`
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
- Let's include an "Example" sec

[2022-09-08 12:01] #983 closed

[2022-09-08 12:02] SSwiniarski commented on #983
Duplicate

[2022-09-08 12:03] SSwiniarski opened #985 "[Term Entry] C++ Math Functions: `rint()`"
### Reason/inspiration (optional)

Under `cpp/concepts/math-functions/terms/`, create a new term entry for the `rint()` function.

- In the terms/ folder, make a new folder called `rint`
- Inside the `rint` folder, create a new markdown file called `rint.md`
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
- Let's include an "Example" section with a \```cpp

[2022-09-08 12:04] SSwiniarski opened #986 "[Term Entry] C++ Math Functions: `round()`"
### Reason/inspiration (optional)

Under c++/concepts/math-functions/terms/, create a new term entry for the `round()` function.

In the terms/ folder, make a new folder called `round`
Inside the isnan folder, create a new markdown file called `round.md`
Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
Let's include an "Example" section with a \```cpp code sni

[2022-09-08 12:06] SSwiniarski opened #987 "[Term Entry] C++ Math Functions: `trunc()`"
### Reason/inspiration (optional)

Under `cpp/concepts/math-functions/terms/`, create a new term entry for the `trunc()` function.

- In the terms/ folder, make a new folder called `trunc`
- Inside the `trunc` folder, create a new markdown file called `trunc.md`
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
- Let's include an "Example" section with a \```

[2022-09-08 12:08] SSwiniarski opened #988 "[Term Entry] C++ Math Functions: `remquo()`"
### Reason/inspiration (optional)

Under `cpp/concepts/math-functions/terms/`, create a new term entry for the `remquo()` function.

- In the terms/ folder, make a new folder called `remquo`
- Inside the `remquo` folder, create a new markdown file called `remquo.md`
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
- Let's include an "Example" section with a

[2022-09-08 12:12] SSwiniarski opened #989 "[Term Entry] C++ Math Functions: `signbit()`"
### Reason/inspiration (optional)

Under `cpp/concepts/math-functions/terms/`, create a new term entry for the `signbit()` function.

- In the terms/ folder, make a new folder called `signbit`
- Inside the `signbit` folder, create a new markdown file called `signbit.md`
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
- Let's include an "Example" section wit

[2022-09-08 12:14] SSwiniarski opened #990 "[Term Entry] C++ Math Functions: `modf()`"
### Reason/inspiration (optional)

Under c++/concepts/math-functions/terms/, create a new term entry for the `modf()` function.

In the terms/ folder, make a new folder called `modf`
Inside the isnan folder, create a new markdown file called `modf.md`
Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
Let's include an "Example" section with a \```cpp code snippe

[2022-09-08 12:16] SSwiniarski opened #991 "[Term Entry] C++ Math Functions: `nearbyint()`"
### Reason/inspiration (optional)

Under `cpp/concepts/math-functions/terms/`, create a new term entry for the `nearbyint()` function.

- In the terms/ folder, make a new folder called `nearbyint`
- Inside the `nearbyint` folder, create a new markdown file called `nearbyint.md`
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
- Let's include an "Example" sec

[2022-09-08 12:20] SSwiniarski opened #992 "[Term Entry] C++ Math Functions: `atan()`"
### Reason/inspiration (optional)

Under c++/concepts/math-functions/terms/, create a new term entry for the `atan()` function.

In the terms/ folder, make a new folder called `atan`
Inside the isnan folder, create a new markdown file called `atan.md`
Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
Let's include an "Example" section with a \```cpp code snippe

[2022-09-08 12:21] SSwiniarski opened #993 "[Edit] C++ Math Functions: `exp()`"
### Type of Edit (select all that apply)

Fix grammar, spelling, formatting
Clarify unclear content and/or terms
Add new content (definitions, codeblocks, etc.)

### Description (optional)

Requesting edits for the [exp()](https://www.codecademy.com/resources/docs/cpp/math-functions/exp) term entry under the C++: Math Functions concept.

Under `cpp/concepts/math-functions/terms/exp/exp()`, please

[2022-09-08 12:22] SSwiniarski opened #994 "[Edit] C++ Math Functions: `ceil()`"
### Type of Edit (select all that apply)

Fix grammar, spelling, formatting
Clarify unclear content and/or terms
Add new content (definitions, codeblocks, etc.)

### Description (optional)

Requesting edits for the [ceil()](https://www.codecademy.com/resources/docs/cpp/math-functions/ceil) term entry under the C++: Math Functions concept.

Under `cpp/concepts/math-functions/terms/ceil/ceil.md`, pl

[2022-09-08 12:23] SSwiniarski opened #995 "[Edit] C++ Math Functions: `floor()`"
### Type of Edit (select all that apply)

Fix grammar, spelling, formatting
Clarify unclear content and/or terms
Add new content (definitions, codeblocks, etc.)

### Description (optional)

Requesting edits for the [floor()](https://www.codecademy.com/resources/docs/cpp/math-functions/floor) term entry under the C++: Math Functions concept.

Under `c++/concepts/math-functions/terms/floor/floor.md`

[2022-09-08 12:25] SSwiniarski opened #996 "[Edit] C++ Math Functions: `abs()`"
### Type of Edit (select all that apply)

Fix grammar, spelling, formatting
Clarify unclear content and/or terms
Add new content (definitions, codeblocks, etc.)

### Description (optional)

Requesting edits for the [abs()](https://www.codecademy.com/resources/docs/cpp/math-functions/abs) term entry under the C++: Math Functions concept.

Under `cpp/concepts/math-functions/terms/abs/abs.md`, please

[2022-09-08 19:25] #960 closed

[2022-09-08 20:53] Hitarth-Kothari commented on #978
Id like to be assigned to this

[2022-09-08 21:07] Dusch4593 commented on #978
@Hitarth-Kothari assigned 😄

[2022-09-10 14:23] SSwiniarski commented on #590
@Dusch4593 do we have a policy on how long we leave an issue with no activity before unassigning it?

[2022-09-12 00:14] sharkipelago commented on #827
@Dusch4593 That was my bad I never pinged :sweat_smile:. I just submitted first draft of pr though!

[2022-09-13 09:28] Yash-Var commented on #977
@SSwiniarski i will work on this issue ...

[2022-09-13 23:15] jcesardv commented on #910
@SSwiniarski I would like to take up this issue.

[2022-09-14 07:49] beverand commented on #586
I saw that this has been sitting a while, my python is a little rusty since I've been doing mostly javascript, but I'd like to take a crack at this issue if no one else is working on it.

[2022-09-14 11:49] Dusch4593 commented on #586
@beverand Absolutely! I've assigned this issue to you. Thank you for your interest in contributing to Docs and let us know if have any questions about making/submitting the pull request. 😄

[2022-09-14 12:25] Dusch4593 commented on #910
@jcesardv Assigned! 😄

[2022-09-14 12:32] Dusch4593 commented on #590
cc: @SSwiniarski

Hey @denisCabrera, hope all is well! 😄 Since [there hasn't been much activity on this issue/PR](https://github.com/Codecademy/docs/blob/main/.github/CONTRIBUTING.md#:~:text=PRs%20will%20be%20marked%20as%20invalid%20if%20there%20is%20no%20consistent%20activity%20within%20a%202%2Dweek%20period%20on%20the%20contributor%27s%20part%20and%20content%20does%20not%20meet%20or%20pass%20sta

[2022-09-14 13:08] #956 closed

[2022-09-14 20:08] #827 closed

[2022-09-15 21:42] beverand commented on #586
Thank you!

[2022-09-16 07:52] beverand commented on #586
@Dusch4593, did I do this correctly?

[2022-09-16 22:29] Dusch4593 commented on #282
Hey @Punit-Choudhary , hope all is well! 😄 Since [there hasn't been much activity on this issue/PR](https://github.com/Codecademy/docs/blob/main/.github/CONTRIBUTING.md#:~:text=PRs%20will%20be%20marked%20as%20invalid%20if%20there%20is%20no%20consistent%20activity%20within%20a%202%2Dweek%20period%20on%20the%20contributor%27s%20part%20and%20content%20does%20not%20meet%20or%20pass%20standard%20format

[2022-09-16 22:30] Dusch4593 commented on #620
Hey @cesscode how are you? Just wanted to check in and see how everything has been with writing the content for this issue? Anything I can do to help?

[2022-09-17 03:36] yangc95 opened #1010 "[Entry] General: Virtual reality"
### Reason/inspiration (optional)

Currently there is an entry for AR: https://www.codecademy.com/resources/docs/general/augmented-reality

There's a section that mentions AR vs VR but it would be beneficial to create a separate VR entry. Edits to the AR entry may also be needed.

### Entry Type (select all that apply)

New Concept Entry for Existing Topic

### Code of Conduct

- [X] I agree to fo

[2022-09-17 09:31] ishaanbedi commented on #1010
Hi!
I'd like to work on this!
Can you please assign it to me?

[2022-09-20 15:48] jcesardv commented on #910
@Dusch4593 I already completed the review.

[2022-09-20 18:34] #910 closed

[2022-09-26 12:53] dharmelolar commented on #707
@Dusch4593 I just made a PR. Thanks for your patience

[2022-09-26 17:10] #586 closed

[2022-09-27 01:17] Dusch4593 commented on #590
@dorian-edwards go for it! 👍🏻

[2022-09-28 14:10] yangc95 opened #1021 "[Edit] General: Object"
### Type of Edit (select all that apply)

Add new content (definitions, codeblocks, etc.)

### Description (optional)

The general concept, [object](https://www.codecademy.com/resources/docs/general/object), need some TLC! The intro paragraph is not the most accurate and some additional info on objects is missing.

In addition, we should update the links that bring us to the different language's o

[2022-09-29 17:02] binayuchai commented on #996
Hello, I would like to have some contribution to your repository. Please help me get started and assign me some tasks to do.

[2022-09-29 17:20] #829 closed

[2022-09-30 00:19] Dusch4593 commented on #996
Hey @binayuchai I assigned you to this issue so you can get started with the PR for it! Let us know if you have any questions with getting started. 😄

[2022-09-30 10:39] Dusch4593 commented on #1021
@Nessvah assigned!

[2022-10-01 05:30] igoche7v commented on #1021
Hi, I will like to contribute to this.

[2022-10-01 13:28] sanvisharma003 commented on #706
heyy.. i can work on this issue..
i have to explain everything about stacks iguess? can i use java to do this?

[2022-10-01 13:53] Dusch4593 commented on #706
@sanvisharma003 You're assigned! Thank you for your interest in contributing to Docs. 😄

Yes, you can use Java to discuss or provide examples of stacks (using a \```java code block). I would also recommend checking out the [content standards](https://github.com/Codecademy/docs/blob/main/documentation/content-standards.md), [catalog content](https://github.com/Codecademy/docs/blob/main/documentatio

[2022-10-01 16:39] Dusch4593 commented on #1021
Hi @igoche7v! This one has already assigned. However, we have more open issues on our "Issues" tab. Comment on one and we'll assign you. 😊

[2022-10-01 21:51] Dusch4593 opened #1026 "[Term Entry] HTML Elements: `<style>`"
### Reason/inspiration (optional)

We would like a new HTML Elements term entry about the `<style>` element. Please include "Syntax" and "Example" sections along with any other necessary subsections that are brief but deeply informative.

To get started with the PR and new entry:

1. Create a new folder called `style` under `content/html/concepts/elements/terms/`.
2. Then create a new file called

[2022-10-01 22:25] Dusch4593 opened #1027 "[Term Entry] JavaScript Strings: toString()"
### Reason/inspiration (optional)

Please write a new term entry under `content/javascript/concepts/strings/terms/` about the `.toString()` method of the `String` object in JavaScript. Let's include the following sections:

- A "Syntax" section with \```pseudo code snippet.
- An "Example" section with a \```js code snippet.

Bonus: If you're feeling extra adventurous, let's write an additional exa

[2022-10-01 22:30] Dusch4593 opened #1028 "[Entry] CSS: Pseudo-classes"
### Reason/inspiration (optional)

Please write a new CSS concept entry about pseudo-classes under `content/css/concepts/`. Let's make sure to include the following:

- A clear definition of what pseudo-classes are and what they do (2-5 sentences).
- A "Syntax" section with a \```pseudo code snippet.
- An "Example" section with \```css snippet.

To get started with the PR and with writing the entr

[2022-10-01 22:36] PriyanshuAhlawat commented on #1027
I will like to work on it, please assign to me

[2022-10-01 22:49] Dusch4593 commented on #1027
@PriyanshuAhlawat You got it! Assigned. Let us know if you have any questions with getting started or anything. 😄

[2022-10-02 05:00] itsvipindev commented on #880
i like to work on this assign it to me

[2022-10-02 05:37] itsvipindev commented on #902
Hello sir i would like to work on this issue

[2022-10-02 05:38] itsvipindev commented on #899
Assign it to me sir i can do this

[2022-10-02 06:23] dharmelolar commented on #806
@Dusch4593 Can I work on this issue?

[2022-10-02 07:49] Shivashish-rwt commented on #1028
I can do that. Can u please assign this to me??

[2022-10-02 11:41] SaumyaBhushan commented on #1026
Hi @Dusch4593 I would like to work on this . Please assign it to me .

[2022-10-02 13:32] PriyanshuAhlawat commented on #1027
@Dusch4593 Thanks, I will let you know if there are doubts🙂

[2022-10-02 14:17] PriyanshuAhlawat commented on #1027
@Dusch4593 pls check pr, some review issue seems to be there

[2022-10-02 16:18] yesimhozman commented on #1010
I want to work on that. Can you assign it to me?

[2022-10-02 18:06] Yash-Var commented on #977
@Dusch4593 @SSwiniarski i have made a pr review it and guide me if there is any mistake

[2022-10-02 18:08] Yash-Var commented on #995
@Dusch4593 @SSwiniarski i will work on this issue ...

[2022-10-02 21:07] joneskj55 commented on #671
May I be assigned to this issue? @yangc95 @Dusch4593

[2022-10-02 21:15] joneskj55 commented on #726
I'll take this if still available @not-a-ethan @Dusch4593

[2022-10-03 04:36] itsvipindev commented on #620
Hello @Dusch4593  can i try this i have good understanding of how javascript works

[2022-10-03 07:11] borntofrappe commented on #993
Good morning maintainers.

If at all possible I'd like to contribute to the issue. I've looked at the example of the entry you crafted for the [`log`](https://www.codecademy.com/resources/docs/cpp/math-functions/log) function and I think I've a good handle on the necessary changes.

[2022-10-03 08:58] TheZal commented on #893
I can work on this, pls assign it to me!

[2022-10-03 15:52] Dusch4593 commented on #902
@itsvipindev You got it! Assigned 😄 Just so you know, because you are also assigned to another issue, please open _one PR for each issue_ (e.g., one that closes #880 and a separate one that closes this one, #902).

[2022-10-03 15:57] Dusch4593 commented on #806
@dharmelolar absolutely! Assigned 👍🏻

[2022-10-03 16:12] SSwiniarski commented on #995
@Yash-Var, I assigned you this issue.

[2022-10-03 16:13] SSwiniarski commented on #994
@Yash-Var, I assigned you this issue.

[2022-10-03 16:14] SSwiniarski commented on #993
@borntofrappe, I assigned you this issue. Thanks for contributing 😃

[2022-10-03 16:19] Dusch4593 commented on #899
@itsvipindev Sure thing! Assigned 😎 Just so you know, we allow a max of 3 issues to be assigned to a contributor at a given time. As you create PRs for these issues and they get merged after being reviewed, you may request to assigned to a new open issue.

[2022-10-03 16:20] Dusch4593 commented on #1028
@Shivashish-rwt Of course. You are assigned and thank you so much for being interested in contributing to Codecademy Docs! 😄

[2022-10-03 16:21] Dusch4593 commented on #1026
@SaumyaBhushan You got it! Assigned! 😎

[2022-10-03 16:22] Dusch4593 commented on #1010
@yesimhozman You are assigned and thank you for your interest in contributing to Codecademy Docs for Hacktoberfest! 😄 🚀

[2022-10-03 16:31] Dusch4593 commented on #671
You got it, @joneskj55! You're assigned and thank you for your interest in contributing to Codecademy Docs! 😄

[2022-10-03 16:34] Dusch4593 commented on #726
@joneskj55 Assigned! 👍🏻

[2022-10-03 16:56] Dusch4593 commented on #620
Hey @itsvipindev! This issue is presently assigned to someone. Feel free to continue working on the PRs for the issues you're currently assigned to. 😄

[2022-10-03 17:13] Yash-Var commented on #977
@SSwiniarski check my new changes ...

[2022-10-03 23:49] sudojarvis commented on #987
I would like to work on this issue.

[2022-10-04 08:05] adityaonstage commented on #893
Hii @Dusch4593. Pls let me contribute in this.

[2022-10-04 08:16] adityaonstage commented on #976
@Dusch4593  Please assign this issue  to me.

[2022-10-04 08:21] adityaonstage commented on #922
@SSwiniarski  please assign me this issue

[2022-10-04 08:26] adityaonstage commented on #918
Please assign me this task @Dusch4593 @SSwiniarski

[2022-10-04 08:26] borntofrappe commented on #964
I'd like to pitch in if possible. Let me know if I can be assigned to this issue.

[2022-10-04 08:28] borntofrappe commented on #965
`fmin` is quite similar to `fmax` #964. Let me know if I can participate to this issue as well, I'll try to keep a consistent style for the entries.

[2022-10-04 08:35] borntofrappe commented on #962
I'm working on the entry for the `exp()` function #993 and I hope you don't mind if I try to help on `exp2()` as well. Let me know if I can be assigned the issue.

[2022-10-04 10:26] Dusch4593 commented on #918
@adityaonstage Assigned! Thank you for your interest in contributing to Codecademy Docs! 🚀

[2022-10-04 11:20] Dusch4593 commented on #893
@adityaonstage Looks like this issue had already been assigned to someone else recently. Plenty of other open issues to choose from, though. 😄

[2022-10-04 11:23] Dusch4593 commented on #976
You got it, @adityaonstage! You are assigned 😎

Just a heads up, though. Since you're currently working on multiple issues (the other one being #918) make sure to create _separate pull requests that each address a single issue_. So for example, in your situation, you'd create one PR to fix this issue regarding the C++ math function `cos()` and then you'd make another one to fix #918 regarding the

[2022-10-04 11:25] Dusch4593 commented on #964
@borntofrappe of course! You are assigned 😄 Just make sure to creating separate pull requests (and pushing changes from separate PR branches) that each address a single issue.

[2022-10-04 11:27] Dusch4593 commented on #962
Since you're currently assigned to 3 open issues at this time, let's wait a little before assigning another one to you. When one of your pull requests have passed the reviews and is merged, we can assign another issue to you. 😄

[2022-10-04 11:37] Dusch4593 commented on #987
@sudojarvis You're assigned! Thank you for your interest in contributing to Docs 😄

[2022-10-04 11:39] Dusch4593 commented on #922
@adityaonstage You're assigned! Since you now have a few issues assigned to you at the moment (3, I believe), we'll let you get started with making PRs for those. As your contributions are approved and merged, you may asked to be assigned to more open issues. 😄

[2022-10-04 12:10] borntofrappe commented on #965
Sure. Since one is the mirror of the other I will wait for your suggestions on #964 though.

[2022-10-04 12:15] Dusch4593 commented on #965
@borntofrappe You may start drafting a PR for either one of these (`fmin()` or `fmax()`).

[2022-10-04 16:04] codewithdev commented on #992
@Dusch4593 How can I test my local changes? The https://github.com/Codecademy/docs/blob/main/.github/CONTRIBUTING.md guide doesn't specify the command to run the local changes.

[2022-10-04 16:08] codewithdev commented on #992
@Dusch4593 The changes i made to `cpp/concepts/math-functions/terms/atan/atan.md` file. I just want to run it locally and test it how it looks like before i make a final PR.

[2022-10-04 16:09] Dusch4593 commented on #992
@codewithdev So you want to preview what the rendered markdown looks like?

[2022-10-04 16:10] Dusch4593 commented on #992
Depending on the code editor you're using, there might be an "Open Preview" option when right-clicking the file. Otherwise, you can preview by copy/pasting in the text area on https://markdownlivepreview.com/.

[2022-10-04 18:54] codewithdev commented on #991
@Dusch4593 Could you please assign this to me?

[2022-10-04 18:55] Dusch4593 commented on #991
@codewithdev Assigned! 😊

[2022-10-04 19:15] chiragcode11 commented on #991
Could you please, assign this to me as well?

[2022-10-04 19:25] tanishq-singh-2301 commented on #986
Please assign it to me.

[2022-10-04 19:30] Rkpani05 commented on #981
i would like to do it please assign me

[2022-10-04 19:31] Rkpani05 commented on #990
please assign me

[2022-10-04 19:32] Rkpani05 commented on #988
please assign me

[2022-10-05 08:34] manish-singh-bisht commented on #921
Hi @SSwiniarski I recently learnt java, I would like to contribute to this project of yours by writing for issue #921.
Please assign me this.

[2022-10-05 09:42] Dusch4593 commented on #991
Hey @chiragcode11! This issue has already been assigned (with a pull request created) and we generally assign just one contributor to one issue. Feel free to check out our list of C++ issues that have not yet been assigned: https://github.com/Codecademy/docs/issues?q=is%3Aopen+is%3Aissue+label%3Ac%2B%2B+no%3Aassignee

[2022-10-05 10:07] Dusch4593 commented on #921
@manish-singh-bisht Assigned! Thank you for you interest in contributing to Codecademy Docs. 😄

[2022-10-05 10:09] Dusch4593 commented on #981
@Rkpani05 just assigned you! 😄 Thanks for your interest in contributing to Codecademy Docs!

[2022-10-05 10:23] Dusch4593 commented on #986
Hey @tanishq-singh-2301 just assigned you. Could you actually make a new PR to fix this issue? We generally discourage making/pushing changes from your fork's `main` branch because that should always be synced with the upstream `Codecademy/docs:main` branch. Please check out and follow [these steps](https://github.com/Codecademy/docs/blob/main/.github/CONTRIBUTING.md#how-do-i-submit-a-pull-request

[2022-10-05 10:25] Dusch4593 commented on #988
@Rkpani05 Assigned!

[2022-10-05 10:27] Dusch4593 commented on #990
@Rkpani05 just assigned you. At this time, you've been assigned to three (3) separate issues. Let's have you make the pull requests (PRs) for those ones and then once your PRs begin to get approved and merged you may request assignment for new issues. 😄

[2022-10-05 11:16] tanishq-singh-2301 commented on #986
Made the desired changes.
Please review it @Dusch4593

Thanks.

[2022-10-05 11:18] Dusch4593 commented on #986
Did you create the new PR? Not seeing the new link in the ["Pull requests" tab](https://github.com/Codecademy/docs/pulls).

[2022-10-05 11:19] tanishq-singh-2301 commented on #986
Just did!

[2022-10-05 11:19] tanishq-singh-2301 commented on #986
this [https://github.com/Codecademy/docs/pull/1043](https://github.com/Codecademy/docs/pull/1043)

[2022-10-05 12:42] Dusch4593 opened #1045 "[Entry] R: Vectors"
### Reason/inspiration (optional)

We would like a new concept entry about vectors in the [R programming language](https://www.codecademy.com/resources/docs/r). Please include the following information:

- A "Syntax" section with a \```pseudo code snippet that describes the common structure(s) of vectors.
- A section about accessing and updating elements in a vector (with example \```r snippet).
-

[2022-10-05 14:35] Hariprasad19036 commented on #980
I would like to work on this issue, kindly assign this to me!

[2022-10-05 15:04] SSwiniarski commented on #980
@Hariprasad19036 I assigned you. Thanks for contributing.

[2022-10-05 15:15] sotiriszogos commented on #919
Hello, I would like to work on that. Could you please assign it to me?

[2022-10-05 15:25] monieshravichandrran commented on #1045
Hey hi! I can do that. Can u please assign this to me?

[2022-10-05 15:44] krowter commented on #672
Hi @yangc95, this issue looks fun

Just want to clarify a something. By one "term entry", you meant a single markdown file containing some description, syntax, and example right?

[2022-10-05 16:00] yangc95 commented on #672
Hi @krowter! Yeah, React hooks are really fun to work with.

Yup! There are currently two hooks mentioned that should be terms (`useState` and `useEffect`). If you can create a `terms` folder within `hooks`, and create two separate folders (`useState` and `useEffect`) for the markdown files (`useState.md` and `useEffect.md`), that would be ideal. As a result, the concept entry `hooks.md` would als

[2022-10-05 16:11] #993 closed

[2022-10-05 16:50] SSwiniarski commented on #919
@sotiriszogos I've assigned you to this issue. Thanks for contributing!

[2022-10-05 16:57] Dusch4593 commented on #1045
@monieshravichandrran Sure thing! You're assigned and thanks for your interest in contributing to Codecademy Docs. 😄

[2022-10-05 16:59] Dusch4593 commented on #1045
@monieshravichandrran Also, I was wondering how you discovered Codecademy Docs and this repository?

[2022-10-05 17:16] monieshravichandrran commented on #1045
I was looking forward to contribute to open source and came across this repository from a contribution of my collegemate and came to know more about Codecademy and the repository

[2022-10-05 18:22] monieshravichandrran commented on #1045
Hi @Dusch4593 I have raised the PR #1049 for the issue have created the documentation of Vectors in R
Can you please review it?

[2022-10-05 22:58] kitrak-rev commented on #979
I would like to be assigned with this task

[2022-10-05 23:09] yangc95 commented on #979
Hi @kitrak-rev,

Just assigned you this issue! Please tag myself or any of the maintainers if you have any questions you have prior to submitting a PR. Also, feel free to explore all parts of this repo.

Quick question: How did you learn about contributing to Codecademy Docs?

[2022-10-05 23:21] kitrak-rev commented on #979
#1050 I have opened a PR, @yangc95 it seems to have met with an error, kindly let me know what other changes I need to do. I learnt about Codeacademy Docs from my friend

[2022-10-06 01:41] AravindShounik commented on #989
I would like to work on this. Please assign it to me.

[2022-10-06 03:54] kavin5kumar commented on #984
I would want to work on this. Please assign me!

[2022-10-06 05:53] AAnirudh07 commented on #958
Hi @Dusch4593!
Could you assign me to this issue please?

[2022-10-06 10:44] SSwiniarski commented on #989
@AravindShounik, I've assigned you. Thanks for contributing.

Quick question, how did you come across this repo?

[2022-10-06 11:52] SSwiniarski commented on #984
@kavin5kumar, I've assigned you. Thanks for contributing.

Quick question, how did you find this repo?

[2022-10-06 13:55] Dusch4593 commented on #985
@chiragcode11 Assigned! Thank you for your interest in Codecademy Docs! 😄

I was wondering how you first learned about Docs and how you can contribute to it? Always curious about how our learners discover our content and products.

[2022-10-06 17:37] Dusch4593 commented on #985
Hey @chiragcode11 unfortunately you will have to resubmit a PR for this issue. See [my note](https://github.com/Codecademy/docs/pull/1070#issuecomment-1270453396) for details.

[2022-10-06 19:24] Dusch4593 commented on #954
@sudojarvis Sure! Assigned. 😎

[2022-10-07 02:03] AAnirudh07 commented on #958
Thanks @Dusch4593!
My college friends told me that Codeacademy is participating in Hacktoberfest this year. That's how I came to know about the organization. I found this particular repo by browsing through the issues labeled `hacktoberfest`.

[2022-10-07 07:35] yesimhozman commented on #1010
hello, I hope you are doing great @Dusch4593 . Are we going to add description and vr examples for VR ?  Do you have it? I need it to create Vr section actually.

[2022-10-07 09:29] Dusch4593 commented on #958
@AAnirudh07 That's really exciting to hear that you and your friends are participating in Hacktoberfest this year!

[2022-10-07 09:50] Dusch4593 commented on #1010
Hi @yesimhozman! Yes, we should add a description of VR near the top of the file. And we should have an "Examples" section, too. But are we taking about examples of how VR is used or what tools used to build VR experiences?

One tool that comes to mind is a framework called A-Frame (Codecademy actually has a [course](https://www.codecademy.com/learn/learn-a-frame) on this). [This Codecademy articl

[2022-10-07 18:58] YanisaHS commented on #950
Hi! I'm into this 🥳  Can you assign it to me?
In case it matters/there's a max # of issues for each person - I have two issues still assigned to me. One I'm writing now, and the other is close to being merged.

[2022-10-07 22:54] YanisaHS opened #1075 "[Edit] General: File Paths"
### Type of Edit (select all that apply)

Add new content (definitions, codeblocks, etc.)

### Description (optional)

The general concept, [file paths](https://www.codecademy.com/resources/docs/general/file-paths), has information on relative file paths, but it doesn't explain or provide an example of an absolute file path.

I suggest that the "Relative File Paths" heading be changed to "Absolute

[2022-10-07 23:02] YanisaHS opened #1076 "[Edit] General: File Formats"
### Type of Edit (select all that apply)

Clarify unclear content and/or terms

### Description (optional)

The general concept, [file formats](https://www.codecademy.com/resources/docs/general/file-formats), doesn't make a clear connection to the relationship between "file format" and "file type". I think more learners would be familiar with the term "file type".

I suggest a line gets added in t

[2022-10-08 01:54] AravindShounik commented on #989
I was searching for a good first issue because I recently started contributing and I came across this repo

[2022-10-08 03:02] joneskj55 commented on #726
Hey @Dusch4593, I noticed that you wrote the front and back-end entries. Is it ok if I reuse some of your content for the full-stack entry? I am adding a lot of my own content as well however, I have found that your entries contain a lot of the info already so was thinking to just recycle some of it if thats ok.

[2022-10-08 08:19] chiragcode11 commented on #982
Can you assign this issue to me.

[2022-10-08 10:20] tejas0124 commented on #806
Can I Work On This Issue?

[2022-10-08 10:22] dharmelolar commented on #806
@tejas0124 This issue has been assigned to me already and I'm currently working on it.

[2022-10-08 12:22] SSwiniarski commented on #982
@chiragcode11, you've been assigned. Thanks for contributing.

Quick question, how did you come across this repo?

[2022-10-08 12:24] Dusch4593 commented on #1010
@yesimhozman I think it would be worthwhile to have this information in both entries. 😄

[2022-10-08 12:37] #977 closed

[2022-10-08 13:08] Dusch4593 commented on #950
Hey @YanisaHS! Yeah, we try to keep the limit to three active issues/PRs per contributor. I'll assign this one to you. And once [that one PR](https://github.com/Codecademy/docs/pull/997) is merged, you can ask to be assigned to another issue. 😄

[2022-10-08 14:02] Dusch4593 commented on #806
@tejas0124 Here is a list of other open issues (not yet assigned) in the general topic: https://github.com/Codecademy/docs/issues?q=is%3Aopen+is%3Aissue+label%3Ageneral+no%3Aassignee

[2022-10-08 14:14] Dhanunjay18 commented on #995
Hello @SSwiniarski , can u plz assign this issue to me

[2022-10-08 14:15] Dhanunjay18 commented on #967
Hello please can u assing this issue to me

[2022-10-08 14:18] SSwiniarski commented on #995
@Dhanunjay18, this issue has already been assigned to @Yash-Var. You're welcome to claim another issue that hasn't been assigned yet.

[2022-10-08 14:24] Dhanunjay18 commented on #995
Can u please assign another issue to me

[2022-10-08 14:34] SSwiniarski commented on #995
@Dhanunjay18, If you want a similar issue that hasn't been assigned yet, you can claim [968](https://github.com/Codecademy/docs/issues/968).

[2022-10-08 14:38] Dhanunjay18 commented on #968
Assign this issue to me

[2022-10-08 14:41] yesimhozman commented on #1010
Yes, I think so. 👍🏻🥳

[2022-10-08 14:54] Dusch4593 commented on #968
@Dhanunjay18 Assinged!

[2022-10-08 14:56] itsTodFod commented on #963
I would like to resolve the issue.

[2022-10-08 14:58] Dusch4593 commented on #963
@itsTodFod Assigned to you! 😄 I was curious, how did you learn about Codecademy Docs and the repository you can contribute to?

[2022-10-08 14:58] Sparsh47 commented on #957
can you assign this issue to me?

[2022-10-08 15:00] Sparsh47 commented on #961
can you assign this issue to me?

[2022-10-08 15:01] #980 closed

[2022-10-08 15:05] Dusch4593 commented on #957
@Sparsh47 Sure! You are assigned 😎

I was curious, how did you discover Codecademy Docs and learn about contributing to it?

[2022-10-08 15:05] Dusch4593 commented on #961
@Sparsh47 Assigned! 😄

[2022-10-08 16:29] chiragcode11 commented on #982
was searching for contribution for hacktoberfest and came across this repo.

[2022-10-08 17:04] Sparsh47 commented on #957
I was searching for hacktober fest repositories and then I came to know about your docs.

[2022-10-08 18:00] chiragcode11 commented on #982
I have also contributed to  codecadmy's another term entry and now, when I am creating a PR the previous changes are also getting along with it. what should I do now?

[2022-10-08 18:13] SSwiniarski commented on #982
@chiragcode11, You should have a separate fork for each PR. That allows you to do two PRs and not have them interfere with each other.

[2022-10-08 18:19] chiragcode11 commented on #982
@SSwiniarski but it is not allowing me to do another fork as I have already forked it for the previous term entry

[2022-10-08 19:45] chiragcode11 commented on #985
@Dusch4593 will this contribution considered for hacktoberfest

[2022-10-08 21:54] PriyanshuAhlawat commented on #944
I will like to work on this, pls assign

[2022-10-09 04:47] Dhanunjay18 commented on #985
Hello , plz assign this issue to me

[2022-10-09 05:07] MinalGhate commented on #903
Hello sir I would like to work on this issue

[2022-10-09 06:26] tejas0124 commented on #949
Can I Work On This Issue?

[2022-10-09 07:21] itsTodFod commented on #963
I found it using the labels i learned about while attending a Hacktober based event.

[2022-10-09 09:58] itsTodFod commented on #962
I would like to resolve the issue.

[2022-10-09 12:30] SSwiniarski commented on #982
@chiragcode11 you need a new fork off the main branch for the other PR.

[2022-10-09 12:34] SSwiniarski commented on #985
@Dhanunjay18, this issue has already been assigned and there's a existing PR that addresses it.

@chiragcode11, this does count for hacktoberfest.

[2022-10-09 15:12] MinalGhate commented on #897
Hello sir
I would like to work on this issue

[2022-10-09 15:16] chiragcode11 commented on #982
@SSwiniarski how can I create another fork as it is not allowing me to.
please suggest the procedure

[2022-10-09 15:48] SSwiniarski commented on #982
@chiragcode11, I may be confusing you because I was misspeaking. What we really want is a separate **branch** for each PR on your forked repository. This page [here](https://reflectoring.io/github-fork-and-pull/#:~:text=Creating%20a%20fork%20on%20GitHub,to%20the%20fork%20on%20GitHub.) may be helpful. Look at the section "Working on multiple pull requests at once."

[2022-10-09 21:59] joneskj55 commented on #948
Hey @Dusch4593 I'll take this one if no one else is to be assigned.

[2022-10-09 23:22] PriyanshuAhlawat commented on #944
@Dusch4593 I will like to work on it, pls assign

[2022-10-10 05:12] sumedhav2004 commented on #955
Hi,I would love to work on it.Please assign it to me.

[2022-10-10 05:13] sumedhav2004 commented on #953
Please assign it to me.

[2022-10-10 05:14] sumedhav2004 commented on #952
Please assign it to me.

[2022-10-10 05:14] sumedhav2004 commented on #948
I would love to work on this. Please assign it to me.

[2022-10-10 05:15] sumedhav2004 commented on #933
I would love to work on this.Please assign it to me.

[2022-10-10 05:15] sumedhav2004 commented on #920
Please assign it to me.

[2022-10-10 05:16] sumedhav2004 commented on #917
Please assign it to me.

[2022-10-10 05:16] sumedhav2004 commented on #914
PLease assign it to me.

[2022-10-10 11:52] Dusch4593 commented on #903
@MinalGhate You're assigned! Thanks for your interest in contributing to Codecademy Docs. 😄

[2022-10-10 11:52] Dusch4593 commented on #949
@tejas0124 You sure can! Assigned. 😄

[2022-10-10 11:54] Dusch4593 commented on #962
Sure thing, @itsTodFod! Assigned. 😄

[2022-10-10 12:13] Dusch4593 commented on #897
@MinalGhate Assigned!

[2022-10-10 12:18] Dusch4593 commented on #944
@PriyanshuAhlawat Assigned you 😄

[2022-10-10 12:51] Dusch4593 commented on #948
Hey @sumedhav2004 you've already been assigned to two other issues. We typically like to limit each contributor to **three (3)** open issues/PRs at a given time. For your third, would you like to be assigned to this issue (about env variables) or to #952 (about `atan2()` C++ function)?

[2022-10-10 15:49] SSwiniarski commented on #920
@sumedhav2004, you've been assigned. Thanks for contributing.

One question, how did you come across this repo?

[2022-10-10 15:51] SSwiniarski commented on #917
@sumedhav2004, you've been assigned!

[2022-10-10 15:53] SSwiniarski commented on #914
@sumedhav2004, you've been assigned. Please develop the three issues you've been assigned before you request any more. In order to keep Issues available for everyone, we limit things to three open issues assigned to any one person at a time.

[2022-10-10 18:39] sumedhav2004 commented on #920
I found these issues using the hacktoberfest label.
Unassigning me because i was assigned 5 issues at once. Please assign it to others. 😃

[2022-10-10 18:41] sumedhav2004 commented on #917
Unassigning me because i was assigned 5 issues at once. Please assign it to others.

[2022-10-10 18:42] sumedhav2004 commented on #914
Unassigning me because i was assigned 5 issues at once. Please assign it to others.

[2022-10-10 19:15] itsTodFod commented on #962
@Dusch4593 Please review.

[2022-10-11 02:27] yangc95 opened #1091 "[Term Entry] SwiftUI Views: Button"
### Reason/inspiration (optional)

Please write a new entry under:
content/swiftui/concepts/views/terms/ about the Button view in SwiftUI.

A "Syntax" section with pseudo code snippet.
An "Example" section with a swift code snippet and an accompanying image to display the view.

To get started with the PR and entry file:

Under content/swiftui/concepts/views/terms/, create a new folder called butt

[2022-10-11 02:30] yangc95 opened #1092 "[Term Entry] SwiftUI Views: Circle"
### Reason/inspiration (optional)

Please write a new entry under:
content/swiftui/concepts/views/terms/ about the Circle view in SwiftUI.

A "Syntax" section with pseudo code snippet.
An "Example" section with a swift code snippet and an accompanying image to display the view.

To get started with the PR and entry file:

Under content/swiftui/concepts/views/terms/, create a new folder called circ

[2022-10-11 02:31] yangc95 opened #1093 "[Term Entry] SwiftUI Views: Image"
### Reason/inspiration (optional)

Please write a new entry under:
content/swiftui/concepts/views/terms/ about the Image view in SwiftUI.

A "Syntax" section with pseudo code snippet.
An "Example" section with a swift code snippet and an accompanying image to display the view.

To get started with the PR and entry file:

Under content/swiftui/concepts/views/terms/, create a new folder called image

[2022-10-11 02:33] yangc95 opened #1094 "[Term Entry] SwiftUI Views: Label"
### Reason/inspiration (optional)

Please write a new entry under:
content/swiftui/concepts/views/terms/ about the Label view in SwiftUI.

A "Syntax" section with pseudo code snippet.
An "Example" section with a swift code snippet and an accompanying image to display the view.

To get started with the PR and entry file:

Under content/swiftui/concepts/views/terms/, create a new folder called label

[2022-10-11 02:36] yangc95 opened #1095 "[Term Entry] SwiftUI Views: Color"
### Reason/inspiration (optional)

Please write a new entry under:
content/swiftui/concepts/views/terms/ about the Color view in SwiftUI.

A "Syntax" section with pseudo code snippet.
An "Example" section with a swift code snippet and an accompanying image to display the view.

To get started with the PR and entry file:

Under content/swiftui/concepts/views/terms/, create a new folder called color

[2022-10-11 02:41] yangc95 opened #1096 "[Term Entry] SwiftUI Views: Rectangle"
### Reason/inspiration (optional)

Please write a new entry under:
content/swiftui/concepts/views/terms/ about the Rectangle view in SwiftUI.

A "Syntax" section with pseudo code snippet.
An "Example" section with a swift code snippet and an accompanying image to display the view.

To get started with the PR and entry file:

Under content/swiftui/concepts/views/terms/, create a new folder called r

[2022-10-11 02:42] yangc95 opened #1097 "[Term Entry] SwiftUI Views: Text"
### Reason/inspiration (optional)

Please write a new entry under:
content/swiftui/concepts/views/terms/ about the Text view in SwiftUI.

A "Syntax" section with pseudo code snippet.
An "Example" section with a swift code snippet and an accompanying image to display the view.

To get started with the PR and entry file:

Under content/swiftui/concepts/views/terms/, create a new folder called text.

[2022-10-11 02:46] #590 closed

[2022-10-11 02:49] yangc95 commented on #590
@Dusch4593 will this count towards hacktober? Just making sure so I can add the proper labels. TY!

[2022-10-11 10:57] Dusch4593 commented on #590
Yup! Just added the https://github.com/Codecademy/docs/labels/hacktoberfest and https://github.com/Codecademy/docs/labels/hacktoberfest-accepted labels to #1023 😄

[2022-10-12 01:53] Bobliuuu commented on #952
Hey @Dusch4593, can I take up this issue?

[2022-10-12 16:02] #979 closed

[2022-10-13 20:36] tanishq-singh-2301 commented on #952
Please assign it to me. @Dusch4593  @SSwiniarski

[2022-10-14 04:22] akash-1107 commented on #952
please assign it to me

[2022-10-14 14:34] Dusch4593 commented on #890
@Bobliuuu assigned! Thanks for your interest in contributing to Codecademy Docs. 😄

[2022-10-14 14:35] Dusch4593 commented on #952
@akash-1107 You are assigned! 😄

@Bobliuuu I just assigned #890 to you.

@tanishq-singh-2301 and @sumedhav2004 since both you have already been assigned issues/created PRs, I wanted to assign these issues to someone who hasn't yet been assigned to one.

[2022-10-14 14:40] shlok-2003 commented on #952
Hey @Dusch4593, are there any simple issues for me? This would be my first contribution

[2022-10-14 14:49] #710 closed

[2022-10-14 15:02] Dusch4593 commented on #900
@YanisaHS Assigned! 😄

[2022-10-14 15:03] shlok-2003 commented on #985
please assign me this issue

[2022-10-14 15:26] Dusch4593 commented on #985
@shlok-2003 I'm sorry but it looks like PE #1084 was already created to address this issue so we won't be able to assign this one. But feel free to check out any of the other open issues [here](https://github.com/Codecademy/docs/issues?q=is%3Aissue+is%3Aopen+no%3Aassignee+label%3A%22good+first+issue%22). 😄

[2022-10-14 15:36] shivanshugour45 commented on #920
I would Like to work on this please assign it to me.

[2022-10-14 15:54] shlok-2003 commented on #967
@Dusch4593 Please assign me this issue

[2022-10-14 15:57] SSwiniarski commented on #920
@shivanshugour45, you're assigned. Thanks for contributing.

One question, how did you come across this repo?

[2022-10-14 17:54] shlok-2003 commented on #917
@SSwiniarski please assign it to me

[2022-10-14 18:12] shivanshugour45 commented on #916
Please assign this to me.

[2022-10-14 18:52] Dusch4593 commented on #916
@shivanshugour45 Assigned! Thank you for your interest in contributing to Codecademy Docs. 😄

[2022-10-14 18:53] Dusch4593 commented on #917
@shlok-2003 You got it! Glad you found one. 😄

[2022-10-14 19:46] yangc95 opened #1106 "[Term Entry] Swift Arrays: `.first`"
### Reason/inspiration (optional)

Please write a new entry under:
content/swiftui/concepts/views/terms/ about the Text view in SwiftUI.

A "Syntax" section with pseudo code snippet.
An "Example" section with a swift code snippet and an accompanying image to display the view.

To get started with the PR and entry file:

Under content/swift/concepts/arrays/terms/, create a new folder called first.

[2022-10-14 19:50] yangc95 commented on #1106
A note that the arrays.md file mentions the `.first` property. These are different from methods and this may require a discussion to see if it is okay to mix properties and methods under array terms.

[2022-10-14 19:52] yangc95 opened #1107 "[Term Entry] Swift Arrays: `.last`"
### Reason/inspiration (optional)

Please write a new entry under:
content/swift/concepts/arrays/terms/ about the Array property .last in Swift.

A "Syntax" section with pseudo code snippet.
An "Example" section with a swift code snippet.

To get started with the PR and entry file:

Under content/swift/concepts/arrays/terms/, create a new folder called last.
Then create a new file called last.md u

[2022-10-14 19:56] yangc95 opened #1108 "[Term Entry] Swift Arrays: `.reduce()`"
### Reason/inspiration (optional)

Please write a new entry under:
content/swift/concepts/arrays/terms/ about the Array method .reduce() in Swift.

A "Syntax" section with pseudo code snippet.
An "Example" section with a swift code snippet.

To get started with the PR and entry file:

Under content/swift/concepts/arrays/terms/, create a new folder called reduce.
Then create a new file called reduc

[2022-10-14 20:03] yangc95 opened #1109 "[Term Entry] Swift Sets: `.contains()`"
### Reason/inspiration (optional)

Please write a new entry under:
content/swift/concepts/sets/terms/ about the Set method .contains() in Swift.

A "Syntax" section with pseudo code snippet.
An "Example" section with a swift code snippet.

To get started with the PR and entry file:

Under content/swift/concepts/sets/terms/, create a new folder called contains (create a terms folder if not already

[2022-10-14 20:05] yangc95 opened #1110 "[Term Entry] Swift Sets: `.isSubset()`"
### Reason/inspiration (optional)

Please write a new entry under:
content/swift/concepts/sets/terms/ about the Set method .isSubset() in Swift.

A "Syntax" section with pseudo code snippet.
An "Example" section with a swift code snippet.

To get started with the PR and entry file:

Under content/swift/concepts/sets/terms/, create a new folder called isSubset (create a terms folder if not already

[2022-10-14 20:07] yangc95 opened #1111 "[Term Entry] Swift Sets: `.isSuperset()`"
### Reason/inspiration (optional)

Please write a new entry under:
content/swift/concepts/sets/terms/ about the Set method .isSuperset() in Swift.

A "Syntax" section with pseudo code snippet.
An "Example" section with a swift code snippet.

To get started with the PR and entry file:

Under content/swift/concepts/sets/terms/, create a new folder called isSuperset (create a terms folder if not alre

[2022-10-14 20:09] yangc95 opened #1112 "[Term Entry] Swift Sets: `.union()`"
### Reason/inspiration (optional)

Please write a new entry under:
content/swift/concepts/sets/terms/ about the Set method .union() in Swift.

A "Syntax" section with pseudo code snippet.
An "Example" section with a swift code snippet.

To get started with the PR and entry file:

Under content/swift/concepts/sets/terms/, create a new folder called union(create a terms folder if not already created

[2022-10-14 20:10] yangc95 opened #1113 "[Term Entry] Swift Sets: `.intersection()`"
### Reason/inspiration (optional)

Please write a new entry under:
content/swift/concepts/sets/terms/ about the Set method .intersection() in Swift.

A "Syntax" section with pseudo code snippet.
An "Example" section with a swift code snippet.

To get started with the PR and entry file:

Under content/swift/concepts/sets/terms/, create a new folder called intersection (create a terms folder if not

[2022-10-14 22:10] hcz commented on #1113
I've wrote an article about `.intersection()` method here: #1116
Feel free to comment

[2022-10-14 22:46] hcz commented on #1112
I've wrote an article about .union() method here: https://github.com/Codecademy/docs/pull/1117
Feel free to comment

[2022-10-15 05:26] Prerna-Bhargava commented on #1108
Hey, Please assign me this issue.

[2022-10-15 05:26] Prerna-Bhargava commented on #1110
Hey, I can work on this. Please assign me this issue.

[2022-10-15 10:33] shivanshugour45 commented on #916
I was searching for some good first issues to start contributing with and found this while exploring GitHub.

[2022-10-15 11:31] shivanshugour45 commented on #920
Hi @SSwiniarski , I was searching for good first issues using hacktoberfest label and this came up.

[2022-10-15 12:30] SSwiniarski commented on #1106
@yangc95 I think we have to place both under terms, since we don't really have another option. I'm also not sure if I like mixing the property and method entries.

[2022-10-15 14:35] ritikabhardwaj1111 commented on #904
hello @Dusch4593  , I would like to work on this issue. Kindly, assign the issue to me.

[2022-10-15 14:56] Hariprasad19036 commented on #912
I would like to work on this issue! Kindly assign this to me.

[2022-10-15 17:10] shivanshugour45 commented on #920
Please review the file and suggest changes if any.

[2022-10-15 17:28] shivanshugour45 commented on #916
Please review the request and suggest changes if any.

[2022-10-15 17:59] shlok-2003 commented on #917
@Dusch4593 I have some doubts, so how could I get help from you guys ?

[2022-10-16 03:40] shivanshugour45 commented on #914
Please assign this to me.

[2022-10-16 04:47] vipul-027 commented on #920
I would Like to work on this please assign it to me.

[2022-10-16 06:45] Hariprasad19036 commented on #896
I would like to work on this issue! Kindly assign this to me @Dusch4593 :)

[2022-10-16 12:16] SSwiniarski commented on #912
@Hariprasad19036, you've been assigned. Thanks for contributing.

Quick question, how did you come across this repo?

[2022-10-16 12:34] SSwiniarski commented on #917
@shlok-2003 You can tag us in a question and one of us will try to get back to you. If your questions are about structure and format you can also look at the documentation [here](https://github.com/Codecademy/docs/blob/main/documentation/content-standards.md).

[2022-10-16 12:39] Hariprasad19036 commented on #912
Thanks @SSwiniarski ! I have actually contributed to this repo previously this month. I found this repo when I was searching for issues on the https://github.com/issues page.

[2022-10-16 12:40] SSwiniarski commented on #920
@vipul-027 this issue was already assigned and a PR has been made for it. If you're looking for a similar issue [this one](https://github.com/Codecademy/docs/issues/905) hasn't been assigned yet.

[2022-10-16 13:00] Hariprasad19036 commented on #912
Hey @SSwiniarski, I've raised a PR for this issue. Kindly review it!

[2022-10-16 20:02] yangc95 opened #1124 "[Term Entry] Swift Sets: `.insert()`"
### Reason/inspiration (optional)

Please write a new entry under:
content/swift/concepts/sets/terms/ about the Set method .insert() in Swift.

A "Syntax" section with pseudo code snippet.
An "Example" section with a swift code snippet.

To get started with the PR and entry file:

Under content/swift/concepts/sets/terms/, create a new folder called insert (create a terms folder if not already crea

[2022-10-16 20:06] yangc95 opened #1125 "[Term Entry] Swift Sets: `.subtracting()`"
### Reason/inspiration (optional)

Please write a new entry under:
content/swift/concepts/sets/terms/ about the Set method .subtracting() in Swift.

A "Syntax" section with pseudo code snippet.
An "Example" section with a swift code snippet.

To get started with the PR and entry file:

Under content/swift/concepts/sets/terms/, create a new folder called subtracting (create a terms folder if not al

[2022-10-16 20:07] yangc95 opened #1126 "[Term Entry] Swift Sets: `.symmetricDifference()`"
### Reason/inspiration (optional)

Please write a new entry under:
content/swift/concepts/sets/terms/ about the Set method .symmetricDifference() in Swift.

A "Syntax" section with pseudo code snippet.
An "Example" section with a swift code snippet.

To get started with the PR and entry file:

Under content/swift/concepts/sets/terms/, create a new folder called symmetricDifference (create a terms

[2022-10-16 20:07] yangc95 opened #1127 "[Term Entry] Swift Sets: `.removeAll()`"
### Reason/inspiration (optional)

Please write a new entry under:
content/swift/concepts/sets/terms/ about the Set method .removeAll() in Swift.

A "Syntax" section with pseudo code snippet.
An "Example" section with a swift code snippet.

To get started with the PR and entry file:

Under content/swift/concepts/sets/terms/, create a new folder called removeAll (create a terms folder if not alread

[2022-10-16 20:07] yangc95 opened #1128 "[Term Entry] Swift Sets: `.remove()`"
### Reason/inspiration (optional)

Please write a new entry under:
content/swift/concepts/sets/terms/ about the Set method .remove() in Swift.

A "Syntax" section with pseudo code snippet.
An "Example" section with a swift code snippet.

To get started with the PR and entry file:

Under content/swift/concepts/sets/terms/, create a new folder called remove (create a terms folder if not already crea

[2022-10-16 20:16] yangc95 commented on #1108
@Prerna-Bhargava assigned!

[2022-10-16 23:22] Bobliuuu commented on #911
Hey @Dusch4593, can I take this issue?

[2022-10-17 10:29] rriver2 commented on #1096
Hi can i assign this issue?

[2022-10-17 11:17] isanketsaha commented on #901
Hey @Dusch4593 , can you please assign this to me?

[2022-10-17 11:45] rriver2 commented on #1107
Hi can I assign this?

[2022-10-17 11:59] rriver2 commented on #1128
Hi, Can i assign this ?

[2022-10-17 12:07] Minkyeong-Ko commented on #1109
Hi can I be assigned to this issue?

[2022-10-17 12:18] rriver2 commented on #1127
hi, Can i assigne this issue?

[2022-10-17 13:30] SSwiniarski commented on #911
@Bobliuuu, you've been assigned. Thanks for contributing.

One question, how did you come across this repo?

[2022-10-17 14:36] Dusch4593 commented on #1124
@Minkyeong-Ko you are now officially assigned 😄

[2022-10-17 14:37] Dusch4593 commented on #1127
@rriver2 You are assigned 😄 Thanks for your interest in contributing to Codecademy Docs! 🚀

Quick question, how did you happen to learn about contributing to this repo?

[2022-10-17 14:40] Bobliuuu commented on #911
Through the Hacktoberfest label!

[2022-10-17 14:42] Dusch4593 commented on #1109
@Minkyeong-Ko Assigned 😄

[2022-10-17 14:42] Dusch4593 commented on #1128
@rriver2 You are officially assigned 😎

[2022-10-17 14:43] Dusch4593 commented on #1107
@rriver2 Assigned 😄

[2022-10-17 14:44] Dusch4593 commented on #901
Hi @isanketsaha. Absolutely! You are assigned and thank you for your interest in contributing to Codecademy Docs 😄 🚀

Quick question: How did you happen to learn about Docs and about contributing to it?

[2022-10-17 14:45] Dusch4593 commented on #1096
@rriver2 officially assigned 😎

[2022-10-17 14:48] Dusch4593 commented on #904
Hello @ritikabhardwaj1111 😄 You are assigned and thank you for being interested in contributing to Codecademy Docs!

I was curious, how did you learn about Codecademy Docs and about contributing to it?

[2022-10-17 14:50] Dusch4593 commented on #1106
I agree with @SSwiniarski, I think that there isn't a more suitable location/arrangement as of now. For a (hopefully near-)future version, I'd like to see a separate tables for methods and properties under certain concepts like Arrays, Strings, etc.

[2022-10-17 14:51] Dusch4593 commented on #1110
@Prerna-Bhargava Assigned! 😄

[2022-10-17 14:52] Dusch4593 commented on #1091
@girijakar You are now officially assigned. For future reference, we'd kindly ask that you request to be assigned to an issue before making a PR for it. 😄

[2022-10-17 14:54] Dusch4593 commented on #967
Assigning to @Dhanunjay18 since they commented here first.

[2022-10-17 14:56] Dusch4593 commented on #933
Hey @sumedhav2004 this issue was actually used for internal purposes and labeled with https://github.com/Codecademy/docs/labels/hacktoberfest by mistake. Closing now.

[2022-10-17 14:56] #933 closed

[2022-10-17 14:57] girijakar commented on #1091
@Dusch4593 sure!

[2022-10-17 15:01] Dusch4593 commented on #985
@shlok-2003 I would say skip making an issue for whatever you'd like to work on and open a new pull request. 😄 But I strongly advise that you look through the ["Issues" tab](https://github.com/Codecademy/docs/issues) beforehand and make sure there isn't already an issue created and/or assigned to someone else.

[2022-10-17 17:36] #921 closed

[2022-10-17 18:01] #1091 closed

[2022-10-17 18:08] shlok-2003 commented on #895
@Dusch4593 I would love to work on this issue.

[2022-10-17 18:14] Dusch4593 commented on #895
@shlok-2003 Absolutely! You are now assigned 😄

[2022-10-17 18:51] #951 closed

[2022-10-18 05:55] isanketsaha commented on #901
Hello @Dusch4593. I have found this issue as part of hacktoberfest.

[2022-10-18 06:31] isanketsaha commented on #901
Hello @Dusch4593. I have raised PR for this issue. Kindly check.
PR number - 1140.

[2022-10-18 16:12] shivanshugour45 commented on #908
Please assign this to me.

[2022-10-18 16:18] isanketsaha commented on #898
@Dusch4593 , assign this to me.

[2022-10-18 17:11] YanisaHS commented on #906
Hi @Dusch4593 or @SSwiniarski , would you be able to assign this to me? I actually have 3 PRs open now though, so no worries if you can't! Just trying to do a 4th one to finish hacktoberfest 🥳

[2022-10-18 19:35] yangc95 commented on #906
@YanisaHS Thanks for putting your PRs on our radar! I've assigned you this in the meantime while I review your open PRs.

[2022-10-19 13:47] shlok-2003 commented on #895
I am doing 2 documentation at the same time. so if I push both the readme files at same time. Do they count for both the issues

[2022-10-19 13:51] Dusch4593 commented on #895
If I understand your question correctly, I would advise _against_ doing this because both issues were made separately to count as two distinct contributions towards Hacktoberfest. Creating a PR that closes more than one issue is definitely possible, but then it would be counted as _one_ Hacktoberfest contribution after the PR is merged.

[2022-10-19 13:55] shlok-2003 commented on #895
so I have to remove one of the file from the existing directory and I can add it after making a merge of the other file. Am I right

[2022-10-19 14:38] Dusch4593 commented on #895
@shlok-2003 Do we have a link for this merge request?

[2022-10-19 15:03] shlok-2003 commented on #895
Could you help me speed up the process of reviewing, as it hasn't been reviewed since yesterday

[2022-10-19 19:19] Dusch4593 commented on #898
@isanketsaha assigned! 😄

[2022-10-20 12:25] #963 closed

[2022-10-20 15:05] isanketsaha commented on #898
@Dusch4593 Raised PR. please review #1145

[2022-10-20 17:16] #906 closed

[2022-10-20 18:11] #900 closed

[2022-10-21 12:01] girijakar commented on #1092
Hi, please assign me this issue.
Thank you

[2022-10-21 13:02] Dusch4593 commented on #1092
@girijakar There we are 😎

[2022-10-21 13:18] vaisrinivasan commented on #907
@SSwiniarski / @Dusch4593 : I have started working on this. Please assign this to me. Thanks

[2022-10-21 13:25] vaisrinivasan commented on #907
@Dusch4593 : I'm already participating in hacktoberfest. Was searching for my next repo to contribute and came across CodeAcademy Docs.
Thanks for the prompt response :)

[2022-10-21 14:01] YanisaHS commented on #905
Hi!! Could I be assigned to this? 🙃 🥳

[2022-10-21 14:08] #917 closed

[2022-10-21 14:25] yangc95 commented on #905
@YanisaHS Assigned!

[2022-10-21 14:41] #1092 closed

[2022-10-21 14:53] #914 closed

[2022-10-21 16:51] #957 closed

[2022-10-21 19:15] mosmoo commented on #934
Hi, I'd like to request the permission to work on this issue.

[2022-10-21 19:16] Dusch4593 commented on #934
@mosmoo Absolutely! You're assigned 😄

Thank you for your interest in contributing to Codecademy Docs! 🚀

I was curious, how did you happen to learn about Docs and about contributing to it?

[2022-10-21 19:20] mosmoo commented on #934
I just finished the Learn Git and Github course on Codecademy and I was redirected here to work on an issue! Super Excited, Thank you very much!

[2022-10-22 01:00] #916 closed

[2022-10-22 01:36] #908 closed

[2022-10-22 17:29] #950 closed

[2022-10-22 19:09] #920 closed

[2022-10-22 19:26] #903 closed

[2022-10-22 22:54] #779 closed

[2022-10-22 23:18] Dusch4593 commented on #913
Hey @Yash-Var! Just wanted to check in to see how things were going for you on your `.sin()` term entry? Let us know if you have any questions! 😄

[2022-10-22 23:19] Dusch4593 commented on #995
Hey @Yash-Var! Just wanted to check in to see how things were going for you on your `.sin()` term entry? Let us know if you have any questions! 😄

[2022-10-23 15:43] Yash-Var commented on #995
@Dusch4593 NO, I will complete it very soon ....

[2022-10-23 15:44] Yash-Var commented on #994
@Dusch4593 No, I will complete it very soon........

[2022-10-23 17:19] Dusch4593 opened #1164 "[Edit] JavaScript: Data Types"
### Type of Edit (select all that apply)

Clarify unclear content and/or terms

### Description (optional)

Asking for some edits to be made to the existing [JavaScript: Data Types](https://www.codecademy.com/resources/docs/javascript/data-types) entry in the `javascript/concepts/data-types/data-types.md` file. Looking for the following edits:

- On line # 17, **bold** the first instance of "Data

[2022-10-23 17:30] #964 closed

[2022-10-23 17:32] #895 closed

[2022-10-23 17:40] shlok-2003 commented on #880
Hey @Dusch4593, I would love to work on this issue, please assign this to me

[2022-10-23 17:40] Dusch4593 commented on #880
You got it, @shlok-2003!

[2022-10-23 18:30] #898 closed

[2022-10-23 19:17] #1109 closed

[2022-10-23 20:52] #1113 closed

[2022-10-24 01:11] #1112 closed

[2022-10-24 03:28] xMan-Model11 commented on #1026
I would like to work on this.  If the option is available can I have this re-assigned to me... I am also open to any other suggestions.

[2022-10-24 06:23] siddharth595 commented on #1164
@Dusch4593
 Can you please assign this to me?

[2022-10-24 11:32] Dusch4593 commented on #1164
@siddharth595 Assigned! 😄

[2022-10-24 11:33] Dusch4593 commented on #1026
Hey @xMan-Model11 since this issue is already assigned, and a PR has already been opened for it, we won't be able to assign this particular issue to you. _But_, there are plenty of [open issues yet to be assigned](https://github.com/Codecademy/docs/issues?q=is%3Aissue+is%3Aopen+no%3Aassignee) that you should definitely check out! 😄

[2022-10-24 12:35] Dusch4593 opened #1167 "[Term Entry] Python Built-in Functions: `iter()`"
### Reason/inspiration (optional)

We'd like someone to write a new term entry about the built-in `iter()` function in Python. Be sure to include the following information:

- A "Syntax" section with a \```pseudo code block.
- An "Example" section with a \```py code block.
- A "Codebyte Example" section with a \```codebyte/python block.

A nice-to-have:

- Link out to the [existing entry](https://

[2022-10-24 12:37] Dusch4593 opened #1168 "[Term Entry] Python Built-in Functions: `next()`"
### Reason/inspiration (optional)

We'd like someone to write a new term entry about the built-in `next()` function in Python. Be sure to include the following information:

- A "Syntax" section with a \```pseudo code block.
- An "Example" section with a \```py code block.
- A "Codebyte Example" section with a \```codebyte/python block.

A nice-to-have:

- Link out to the [existing entry](https://

[2022-10-24 12:39] Dusch4593 opened #1169 "[Entry Edit] Python Built-in Functions: `breakpoint()`"
### Reason/inspiration (optional)

We'd like someone to write a new term entry about the built-in `breakpoint()` function in Python. Be sure to include the following information:

- A "Syntax" section with a \```pseudo code block.
- An "Example" section with a \```py code block.

### Entry Type (select all that apply)

New Term for Existing Concept Entry

### Code of Conduct

- [X] By submitting t

[2022-10-24 18:42] siddharth595 commented on #1164
![image](https://user-images.githubusercontent.com/51822297/197601184-0293ccc3-9959-44aa-a105-4d68f3d2d201.png)
Can you please explain a little bit in detail about the two requirements

[2022-10-24 18:43] siddharth595 commented on #1164
![image](https://user-images.githubusercontent.com/51822297/197601547-b8a92427-8dbc-4ac3-856d-49164ae5d24a.png)
Here the respective readme pages should be linked right?

[2022-10-24 18:47] #890 closed

[2022-10-24 18:50] Dusch4593 commented on #1164
Yes, that's right. 😄

[2022-10-24 18:58] Dusch4593 commented on #1164
The current markdown table needs to be revised to include information about each _primitive_ data type (which is immutable and expressed as lowercase &mdash; i.e., `string`) in addition to the existing information about their corresponding _wrapper object_ (i.e. `String`). It should look something like this:

| Data Type | Wrapper Object | Description |
| --- | --- | --- |
| `number` | `Number` |

[2022-10-24 19:26] siddharth595 commented on #1164
@Dusch4593 I have created the PR. Please suggest any changes that has to be made

[2022-10-24 19:29] #1108 closed

[2022-10-24 20:22] #1110 closed

[2022-10-24 20:31] J0hnRJr commented on #899
Please assign this to me, I would like to contribute.

[2022-10-24 20:43] #1096 closed

[2022-10-24 21:17] yangc95 commented on #899
@J0hnRJr cool! Assigned to you 🔥

[2022-10-25 04:19] tanishq-singh-2301 commented on #902
can I work on this?

[2022-10-25 11:02] vicontiveros00 commented on #1027
Noticed this is still open after a while, could I also contribute?

[2022-10-25 17:25] Dusch4593 commented on #902
@tanishq-singh-2301 Assigned! 😄

[2022-10-25 17:30] Dusch4593 commented on #1027
Hey @vicontiveros00! I'm actually conducting a review for this PR right now. We like to keep each issue assigned to just one contributor but feel free to check out [these open issues](https://github.com/Codecademy/docs/issues?q=is%3Aissue+is%3Aopen+no%3Aassignee) to see if any are of interest! 🚀

[2022-10-25 21:13] #985 closed

[2022-10-25 21:44] mcuocolo commented on #1167
Hello Dusch,
I would like to be assigned the iter() documentation.
I'm quite knew to Markdown but I have some knowledge about python.
Though not quite with iter ... so I have 2 good reasons to work on that.
I'll gladly take another python assignement if this one is taken.
Thanks in advance for your answer
Best regards

[2022-10-25 21:46] Dusch4593 commented on #1167
@mcuocolo Nope this one is open to be assigned to you! Thanks for your interest in contributing to Codecademy Docs!

I was curious, how did you happen to learn about Docs and about contributing to it?

[2022-10-25 22:08] mcuocolo commented on #1167
It's part of the excellent course about git/github : Learn Git & GitHub

Thanks. I'll do my best to submit a PR in the next few days ;-)

[2022-10-26 00:30] #965 closed

[2022-10-26 12:41] Dusch4593 commented on #282
Hi @HajarJuhari! 👋🏻 I'd be happy to assign you! 😄

This entry wouldn't necessarily have the same length or structure as an article. For this particular entry, I think it should be structured in a way that answers a few of the following questions:

- What is a QR code and what are they used for?
- What do they look like?
- What are some common use cases for QR codes?

[2022-10-26 15:12] #901 closed

[2022-10-26 15:13] alextolon commented on #1168
Hello,
As I'm enrolled in Codecademy Git/Github course, I have to choose a task and I think this one could be good for me.
Waiting for your assignment if it is possible.
Thanks.

[2022-10-26 15:15] Dusch4593 commented on #1168
Hi @alextolon! Sure thing, you're assigned. 😄

Thank you for your interest in contributing to Codecademy Docs! 🚀

[2022-10-27 03:51] Bobliuuu commented on #1169
Can I take this issue? @Dusch4593

[2022-10-27 04:56] PRO-BROS commented on #1164
I also faced a similar issue on my [site](https://prhocoding.com/) but thankfully I hire a developer which resolve that's issue.

[2022-10-27 06:35] tanishq-singh-2301 commented on #902
@Dusch4593 please review!!

[2022-10-27 12:12] gracekishino commented on #948
Hello! Please can I work on this?

[2022-10-27 16:22] YanisaHS commented on #1076
Hi! I can take this and #1075 in a single PR if you want to do these changes? Feel free to assign me 🥳

ALSO, if you ever (now or in the future) need more reviewers/official content people, I would volunteer! 🙋‍♀️👼  My email is in my GitHub profile, if needed.

Thanks! 🌟

[2022-10-27 16:59] Dusch4593 commented on #1169
@Bobliuuu you're assigned 😄

[2022-10-27 17:12] Dusch4593 commented on #948
Hi @gracekishino! Thanks for your interest in contributing to Codecademy Docs! 😄

I've assigned to you.

[2022-10-27 17:50] cesarfras commented on #1095
Hello, I would like to work on this issue.

[2022-10-27 23:24] KarinaNi commented on #1097
Can I be assigned this issue?

[2022-10-27 23:26] KarinaNi commented on #1126
Can I take this issue please?

[2022-10-28 11:16] #893 closed

[2022-10-28 14:07] JonnySimmons commented on #1093
I'd like to take this issue @yangc95

[2022-10-28 18:00] #934 closed

[2022-10-29 03:08] gracekishino commented on #948
@Dusch4593 Thanks for assigning to me!

As far as I can tell, there isn't a page for [Linux](https://www.codecademy.com/resources/docs/general/linux) yet, shall I add one in?

[2022-10-29 03:17] gracekishino commented on #948
It's OK, I found it here :)
[Linux](https://www.codecademy.com/resources/docs/open-source/linux)

[2022-10-29 17:18] #1164 closed

[2022-10-29 21:59] MarkLovesCoding commented on #1111
If possible, can I please be assigned to this?

[2022-10-29 23:47] codesciousness opened #1190 "JavaScript Comments: Grammar Edit"
### Type of Edit (select all that apply)

Fix grammar, spelling, formatting

### Description (optional)

In the JavaScript Comments file the second sentence on line 34, which explains the usage of comments, should be edited to be better understood.

This is the original sentence: "Comments are good ways for a variety of reasons like explaining a code block or indicating some hints, etc."

I sugges

[2022-10-30 13:34] SSwiniarski commented on #620
Hey @cesscode, since there've been several weeks without activity, I'm going to unassign you so someone else can work on this. Please feel free to sign up for another issue when you have time.

@imvipindev, are you still interested in this issue?

[2022-10-30 13:38] SSwiniarski commented on #674
@lyallstewart, because there's been no activity on this for several weeks, I'm unassigning you so someone else can work on this. Feel free to claim another issue when you have time to work on it.

[2022-10-30 13:42] SSwiniarski commented on #706
@sanvisharma003, I unassigned you because the entry you provided didn't follow our content standards, and went some weeks without any edits. Feel free to reclaim this or another issue in the future when you have time, but please review the [content standards](https://github.com/Codecademy/docs/blob/main/documentation/content-standards.md), [catalog content](https://github.com/Codecademy/docs/blob/

[2022-10-30 13:45] SSwiniarski commented on #806
@dharmelolar I just wanted to check how you're progressing on this issue and if you need any help. If you're actively progressing on it, just leave a note here. Also note that there's only another two days for credit in hacktoberfest.

[2022-10-30 13:52] SSwiniarski commented on #856
This was addressed with PR [875](https://github.com/Codecademy/docs/pull/875)

[2022-10-30 13:52] #856 closed

[2022-10-30 13:58] SSwiniarski commented on #874
@cjunhyuk I just want to follow up on how your progressing on this entry since there hasn't been any activity for a while. Just respond in this thread if you're still working on it or if you need any assistance.

[2022-10-30 14:00] SSwiniarski commented on #897
@MinalGhate, I just wanted to check on how you're progressing on this entry. Just respond in this thread if you're still working on it or if you need assistance. Reminder there's only two days left to receive credit for hacktoberfest.

[2022-10-30 14:03] SSwiniarski commented on #911
@Bobliuuu just wanted to check on your progress on this entry. Just reply in this thread if you're still working on it or if you need any help. Reminder there's only two days left for credit in hacktoberfest.

[2022-10-30 14:06] SSwiniarski commented on #918
@adityaonstage I just wanted to check on your progress on this issue. Please respond in this thread if you're still working on it or if you need assistance. Reminder there's only two days left for credit in hacktoberfest.

[2022-10-30 14:07] SSwiniarski commented on #922
@adityaonstage, I wanted to check on your progress on this issue. Please respond in this thread if you're still working on it or if you need assistance. Reminder, there's only two days left for credit in hacktoberfest.

[2022-10-30 14:08] SSwiniarski commented on #943
@prakha  I wanted to check on your progress on this issue. Please respond in this thread if you're still working on it or if you need assistance.

[2022-10-30 14:09] SSwiniarski commented on #944
@PriyanshuAhlawat  I wanted to check on your progress on this issue. Please respond in this thread if you're still working on it or if you need assistance. Reminder, there's only two days left for credit in hacktoberfest.

[2022-10-30 14:10] SSwiniarski commented on #949
@tejas0124  I wanted to check on your progress on this issue. Please respond in this thread if you're still working on it or if you need assistance. Reminder, there's only two days left for credit in hacktoberfest.

[2022-10-30 14:11] SSwiniarski commented on #952
@akash-1107  I wanted to check on your progress on this issue. Please respond in this thread if you're still working on it or if you need assistance. Reminder, there's only two days left for credit in hacktoberfest.

[2022-10-30 14:11] SSwiniarski commented on #953
@sumedhav2004  I wanted to check on your progress on this issue. Please respond in this thread if you're still working on it or if you need assistance. Reminder, there's only two days left for credit in hacktoberfest.

[2022-10-30 14:12] SSwiniarski commented on #958
@AAnirudh07  I wanted to check on your progress on this issue. Please respond in this thread if you're still working on it or if you need assistance. Reminder, there's only two days left for credit in hacktoberfest.

[2022-10-30 14:13] SSwiniarski commented on #967
@Dhanunjay18  I wanted to check on your progress on this issue. Please respond in this thread if you're still working on it or if you need assistance. Reminder, there's only two days left for credit in hacktoberfest.

[2022-10-30 14:18] Bobliuuu commented on #911
Hi @SSwiniarski, I already have my 4 PRs for Hacktoberfest, and I am a bit busy at the moment. I will complete this in the next 4 days (if that's okay)!

[2022-10-30 14:19] SSwiniarski commented on #976
Closing this because the cos entry has been created, though I can't find the PR for it.

[2022-10-30 14:19] #976 closed

[2022-10-30 14:20] SSwiniarski commented on #981
@Rkpani05  I wanted to check on your progress on this issue. Please respond in this thread if you're still working on it or if you need assistance. Reminder, there's only two days left for credit in hacktoberfest.

[2022-10-30 14:20] SSwiniarski commented on #984
@kavin5kumar  I wanted to check on your progress on this issue. Please respond in this thread if you're still working on it or if you need assistance. Reminder, there's only two days left for credit in hacktoberfest.

[2022-10-30 14:21] SSwiniarski commented on #988
@Rkpani05  I wanted to check on your progress on this issue. Please respond in this thread if you're still working on it or if you need assistance. Reminder, there's only two days left for credit in hacktoberfest.

[2022-10-30 14:21] SSwiniarski commented on #990
@Rkpani05  I wanted to check on your progress on this issue. Please respond in this thread if you're still working on it or if you need assistance. Reminder, there's only two days left for credit in hacktoberfest.

[2022-10-30 14:25] SSwiniarski commented on #994
We have the entry now, but I can't find the PR

[2022-10-30 14:25] #994 closed

[2022-10-30 14:27] SSwiniarski commented on #995
We have the entry though I cannot find the PR.

[2022-10-30 14:27] #995 closed

[2022-10-30 14:30] SSwiniarski commented on #996
We have the entry for this now.

[2022-10-30 14:30] #996 closed

[2022-10-30 14:34] SSwiniarski commented on #1028
@Shivashish-rwt I wanted to check on your progress on this issue. Respond in this thread if you're still working on this or if you need any assistance. Reminder, we only have two days left for credit in hacktoberfest.

[2022-10-30 14:35] SSwiniarski commented on #1127
@rriver2 I wanted to check on your progress on this issue. Respond in this thread if you're still working on this or if you need any assistance. Reminder, we only have two days left for credit in hacktoberfest.

[2022-10-30 14:42] dharmelolar commented on #806
@SSwiniarski I’ll send it in soon.

[2022-10-30 15:05] SSwiniarski commented on #911
@Bobliuuu, that's fine. Just want to make sure that issues that are assigned are still being worked on.

[2022-10-30 15:05] SSwiniarski commented on #806
@dharmelolar, good to hear 👍

[2022-10-30 15:18] PriyanshuAhlawat commented on #944
@SSwiniarski got busy with other work, will work on it now

[2022-10-31 02:00] #880 closed

[2022-10-31 02:07] #905 closed

[2022-10-31 02:35] #1128 closed

[2022-10-31 03:04] #1027 closed

[2022-10-31 08:02] cilippofilia opened #1194 "[SwiftUI] Subject: LazyVStack"
### Reason/inspiration (optional)

Explanation with example and animated gif on how to use LazyVStack in SwiftUI.
Very useful and powerful when having to deal with loads of data and have to display them in a row.

### Entry Type (select all that apply)

New Topic Entry

### Code of Conduct

- [X] By submitting this issue, I agree to follow Codecademy Doc's [Code of Conduct](https://github.com/Code

[2022-10-31 08:03] cilippofilia opened #1195 "[SwiftUI] Subject: LazyHStack"
### Reason/inspiration (optional)

Explanation with example and animated gif on how to use LazyHStack in SwiftUI.
Very useful and powerful when having to deal with loads of data and have to display them in columns.

### Entry Type (select all that apply)

New Topic Entry

### Code of Conduct

- [X] By submitting this issue, I agree to follow Codecademy Doc's [Code of Conduct](https://github.com/Co

[2022-10-31 08:49] #1194 closed

[2022-10-31 08:49] #1195 closed

[2022-10-31 08:59] cilippofilia commented on #1094
Hey! I'd like to get assigned this issue.

[2022-10-31 12:00] #672 closed

[2022-10-31 12:15] #1190 closed

[2022-10-31 13:15] #726 closed

[2022-10-31 15:58] oliviap103 commented on #620
Hi, I would like to work on this issue as part of the Codecademy Learn Git & GitHub course.

[2022-10-31 16:19] SSwiniarski commented on #620
@oliviap103, I've assigned you. Thanks for contributing.

[2022-10-31 16:31] #912 closed

[2022-10-31 16:47] #966 closed

[2022-10-31 16:59] #959 closed

[2022-10-31 17:01] #1026 closed

[2022-10-31 17:46] #919 closed

[2022-10-31 18:27] #886 closed

[2022-10-31 21:10] #902 closed

[2022-10-31 21:19] #1010 closed

[2022-10-31 21:56] #1167 closed

[2022-11-01 02:09] elmanorc commented on #706
Hi! I'd like to work on this issue.

[2022-11-01 03:28] cryoung1998 commented on #896
If this term is now available for assignment I would love to contribute!

[2022-11-01 11:24] SSwiniarski commented on #706
@elmanorc, youre assigned. Thanks for contributing. Can I ask how you came across this repo?

[2022-11-01 12:20] elmanorc commented on #706
Thanks. I came here through Codecademy's Git and GitHub course.

[2022-11-01 12:58] ilyasKerbal commented on #897
Hello @SSwiniarski I have created a pull request:
https://github.com/Codecademy/docs/pull/1199

[2022-11-01 16:12] SSwiniarski commented on #949
@tejas0124 your PR was closed because it was primarily sourced from Wikipedia. Do you still intend to submit a PR for this issue that is your own work?

[2022-11-01 17:10] tanishq-singh-2301 commented on #674
can I work on this?

[2022-11-01 18:11] Dusch4593 commented on #896
@cryoung1998 You're assigned! Thank you for your interest in contributing to Codecademy Docs. 😄

[2022-11-01 19:19] yangc95 commented on #674
@tanishq-singh-2301 all yours!

[2022-11-02 14:21] Calvinadeyemi commented on #1028
Hi, i can work on this if and when available. Thanks

[2022-11-02 15:47] fjorwb commented on #620
May I be assigned to this I think that I could make a contribution for this issue. Thanks.

[2022-11-02 16:06] st3hall commented on #1125
I would like to be assigned this issue.

[2022-11-02 16:30] SSwiniarski commented on #1028
@Calvinadeyemi, we're going to give @Shivashish-rwt some time to respond to see if they're still working on this. Check back in a week or so.

[2022-11-02 16:31] SSwiniarski commented on #620
@fjorwb, the issue is already assigned to @oliviap103. If you want to contribute, there are still plenty of unassigned issues.

[2022-11-02 16:55] fjorwb commented on #620
Thank you for your prompt response. Anyways, please let me know if it could not be accomplished.

[2022-11-02 18:01] YKWIBN commented on #1097
Hi!
My name is Raul, and I would like to be assigned this issue, if it is not yet claimed.
I am currently on the iOS Career Path on Codecademy and learning how to contribute to the GitHub community.
Thank you!

[2022-11-02 18:02] YKWIBN commented on #1095
Hi!
My name is Raul, and I would like to be assigned this issue, if it is not yet claimed.
I am currently on the iOS Career Path on Codecademy and learning how to contribute to the GitHub community.
Thank you!

[2022-11-02 19:20] yangc95 opened #1207 "[Concept Entry] SwiftUI: ViewModifier"
### Reason/inspiration (optional)

Please write a new entry under:
content/swiftui/concepts/ about `ViewModifier` in SwiftUI. This is going to push out a ton of term entry issues upon merge.

A "Syntax" section with pseudo code snippet.
An "Example" section with a swift code snippet.

To get started with the PR and entry file:

Under content/swiftui/concepts/, create a new folder called viewmodifi

[2022-11-02 20:06] yangc95 commented on #1095
Apologies for the late reply. @cesarfras are you still wanting to work on this issue?

[2022-11-02 20:07] yangc95 commented on #1097
Hi @KarinaNi, thanks for your patience! Did you still wish to work on this entry?

[2022-11-02 20:42] nimblegeek commented on #850
Hey! I would like to contribute to this, is it still open to work on?

[2022-11-02 20:45] yangc95 commented on #850
@nimblegeek assigned to you!

[2022-11-02 20:45] yangc95 commented on #1125
@st3hall assigned!

[2022-11-02 21:15] KarinaNi commented on #1097
/Yes i would love to take this issue! Can I please be assigned?

[2022-11-02 21:17] #671 closed

[2022-11-02 21:21] yangc95 commented on #1097
@YKWIBN This has been assigned on a first-come basis. Check out another "unclaimed" issue and see if you can be assigned there!

[2022-11-02 21:47] yangc95 commented on #1111
Assigned to you @MarkLovesCoding !

[2022-11-02 21:51] yangc95 commented on #1076
@YanisaHS Thanks for creating the issues and now resolving them 😆

I've assigned both to you

[2022-11-02 21:52] yangc95 commented on #1126
@KarinaNi assigned!

[2022-11-02 21:54] yangc95 commented on #1093
@JonnySimmons thanks for being so speedy!

Also if you can take a minute, how did you find out about contributing to Docs?

[2022-11-02 21:56] KarinaNi commented on #1126
Thank you! Means a lot

[2022-11-02 22:00] yangc95 commented on #1094
@cilippofilia assigned!

[2022-11-03 03:41] cesarfras commented on #1095
Sure, I want to work on it!!

[2022-11-03 05:25] sammts commented on #1207
Hi, my name is Samuel, I would like to work on this problem

[2022-11-03 06:48] AustinWheel commented on #1207
Hi, my name is Austin, I would like to also work on this problem if possible?

[2022-11-03 09:14] cslylla commented on #1106
Hi, I have seen that this issue hasn't been assigned to anyone yet. I would like to work on this issue. I can write the  `.first`  array property.

[2022-11-03 14:10] YKWIBN commented on #1127
Hi!
My name is Raul, and I would like to be assigned this issue, if it is not resolved by the previous assignee.
I am currently on the iOS Career Path on Codecademy and learning how to contribute to the GitHub community.
Thank you!

[2022-11-03 14:23] YKWIBN commented on #1207
Good luck to you all!
I would also like to add my name to the list 😄.
I am currently on the iOS Career Path on Codecademy, and learning how to contribute to the GitHub community.
Thank you!

[2022-11-03 15:53] Dusch4593 commented on #897
Hey @ilyasKerbal for future reference, please refrain from opening a PR for an issue that has already been assigned. Even if the assignee is idle for while, we're still expecting a PR to be opened by them unless they state they want to be unassigned.

[2022-11-03 17:36] yangc95 commented on #897
Thank you @Dusch4593 for noticing this! Also, apologies @MinalGhate. I do see that you've created an entire entry here: [MinalGhate:ceil](https://github.com/Codecademy/docs/compare/main...MinalGhate:docs:ceil)

I liked how you used `num` in the syntax block to be more explicit in what type of argument is accepted by the method. I may incorporate this into @ilyasKerbal's entry.

Thank you both for

[2022-11-03 17:56] yangc95 commented on #1207
@sammts assigned on a first-come basis!

[2022-11-03 18:49] yangc95 commented on #1095
@cesarfras awesome! Assigned to you 🙂

[2022-11-04 04:40] #989 closed

[2022-11-04 12:59] mpicozza commented on #282
Hey @Dusch4593 I am looking for an issue for a portfolio project in my Codecademy course. With years of real life experience integrating QR codes into aspects of my small business, I'm confident I can cover the necessary information effectively. Figure this could be an issue worth requesting. Thanks!

[2022-11-04 14:44] ddiegow commented on #984
Hi, I'd like to work on this issue if the original assignee can't do it anymore.

[2022-11-04 15:39] yangc95 commented on #1207
Apologies @sammts, normally these issues are assigned on a first-come basis.

@AustinWheel thank you for being so quick with creating an entry on this topic. However, for future contributions or interest in an issue, make sure that you are assigned first before creating a PR.

We want to keep Docs as collaborative and inviting as possible -- these procedures in contributing are set in place to mak

[2022-11-04 15:54] SSwiniarski commented on #984
@ddiegow we like to give the original assignee a week or so to respond. We'll let you know then.

[2022-11-04 22:51] JWegener commented on #1207
The tutorial says "Browse available issues and select one to work on" -- how do we find these?

[2022-11-04 22:53] JWegener commented on #1097
How do I filter by unclaimed?

[2022-11-05 12:35] Dusch4593 commented on #282
Hi @mpicozza! Thank you for your interest in contributing to Codecademy Docs! 🎉

I've assigned this issue to you 😄 🦞

[2022-11-05 12:56] #991 closed

[2022-11-05 13:39] #1093 closed

[2022-11-05 14:17] Dusch4593 opened #1214 "[Entry] JavaScript: Scope"
### Reason/inspiration (optional)

We would like to create a new JavaScript entry about **scope** that includes the following information:

- Three (3) separate sections (lv. 2 header) about each scope type:
  - Global scope
  - Module scope
  - Function scope

- Let's dedicate a separate section (also lv. 2 header) about "block scope" regarding variables declared with `let` and `const`.

### Entr

[2022-11-05 14:24] Dusch4593 opened #1215 "[Edit] HTML: Forms"
### Type of Edit (select all that apply)

Clarify unclear content and/or terms, Add new content (definitions, codeblocks, etc.)

### Description (optional)

We'd like the following edits to be made for [HTML: Forms](https://www.codecademy.com/resources/docs/html/forms) entry, in the `html/concepts/forms/forms.md` file:

- **Bold** the first use of the word "forms".
- On line # 19, change "tag" to

[2022-11-05 14:29] Dusch4593 opened #1216 "[Term Entry] HTML Elements: `<section>`"
### Reason/inspiration (optional)

We like someone to create a new term entry about the `<section>` element under the HTML: Elements concept. It should include the following information:

- "Syntax" section with a \```pseudo code block
- "Example" section with an \```html code block
- Include link to existing [HTML: Forms](https://www.codecademy.com/resources/docs/html/forms) entry.

### Entry Typ

[2022-11-05 14:33] Dusch4593 opened #1217 "[Term Entry] HTML Elements: `<datalist>`"
### Reason/inspiration (optional)

We would like a new term entry about the `<datalist>` element to be created under the HTML: Elements concept. It should include the following information:

- A "Syntax" section with a \```pseudo code snippet.
- An "Example" section with an \```html code snippet.
- Links to [existing Docs entry](https://www.codecademy.com/resources/docs/html/elements/option) on `<

[2022-11-05 14:37] Dusch4593 opened #1218 "[Term Entry] HTML Elements: `<textarea>`"
### Reason/inspiration (optional)

We would like a new term entry about the `<textarea>` element to be created under the HTML: Elements concept. It should include the following information:

- A "Syntax" section with a \```pseudo code snippet.
  - Include a breakdown of the required and option attributes like `id`, `name`, `rows`, and `cols`.
- An "Example" section with an \```html code snippet.

[2022-11-05 14:40] Dusch4593 opened #1219 "[Term Entry] HTML Elements: `<label>`"
### Reason/inspiration (optional)

We would like a new term entry about the `<label>` element to be created under the HTML: Elements concept. It should include the following information:

- A "Syntax" section with a \```pseudo code snippet.
  - Include a `> **Note:**` about how the benefits of using `<label>` with `<input>`.
  - Link to [the existing Docs entry](https://www.codecademy.com/resource

[2022-11-05 14:45] Dusch4593 opened #1220 "[Term Entry] Python Built-in Functions: `list()`"
### Reason/inspiration (optional)

We would like a new term entry about the `list()` function to be created under the Python: Built-in Functions concept. It should include the following information:

- Include a link to [the existing entry](https://www.codecademy.com/resources/docs/python/iterators) on iterators in Python.
- A "Syntax" section with a \```pseudo code snippet.
- An "Example" section

[2022-11-05 18:57] D-Salkovic commented on #1216
Hello,
I would like to participate in this Issue.
I am a new Codecademy student and this would be my first contribution.
I came here due to my _Portfolio_ assignment  in **Learn Git & GitHub** course.
Thanks in advance.

[2022-11-05 19:32] Dusch4593 commented on #1216
Hi @D-Salkovic, just assigned you. 😁

[2022-11-05 23:39] Armania commented on #1219
Hi,

I am working on the "Intro to Open Source" course and would love to make this addition to the docs.

Ty,

[2022-11-06 06:42] God-ass commented on #1220
I am a newbie, but I would like to try this. Pls assign this to me

[2022-11-06 11:29] Diogolisbon commented on #620
Hello, can I be assigned? Thanks

[2022-11-06 15:10] nimblegeek commented on #850
Sorry but I don't think I properly understand this issue. Can I just commit and push the changes I find necessary? Related to i.e Arrays and some minor updates to primitive data types?

[2022-11-06 16:25] SSwiniarski opened #1224 "[Concept Entry] Go: arrays"
### Reason/inspiration (optional)

We would like a new concept entry for [Go](https://www.codecademy.com/resources/docs/go) about arrays.

The entry should go in a new file in docs/content/go/concepts/arrays/arrays.md

The entry should
- Explain the difference between an array and a slice.
- Have a "Syntax" section with a ```pseudo code snippet showing examples of the different ways of creating an

[2022-11-06 16:27] SSwiniarski opened #1225 "[Concept Entry] Go: slices"
### Reason/inspiration (optional)

We would like a new concept entry for [Go](https://www.codecademy.com/resources/docs/go) about slices.

The entry should go in a new file in docs/content/go/concepts/slices/slices.md

The entry should
- Explain the difference between an array and a slice
- Explain the length and capacity
- Have a "Syntax" section with a ```pseudo code snippet showing the differen

[2022-11-06 16:44] SSwiniarski opened #1226 "[Concept Entry] Go: strings"
### Reason/inspiration (optional)

We would like a new concept entry for [Go](https://www.codecademy.com/resources/docs/go) about strings.

The entry should go in a new file in docs/content/go/concepts/strings/strings.md

The entry should
- Explain the difference between Go strings and strings in other languages.
- Explain string literals and escapes using an example ```go code snippet.
- Explain

[2022-11-06 20:32] petros-wursta commented on #1215
I'd like to work on this issue

[2022-11-07 05:07] PrakharParakh commented on #1226
I would like to work on the issue.

[2022-11-07 11:16] D-Salkovic commented on #1216
#1227

[2022-11-07 11:18] D-Salkovic commented on #1216
It's my first time submitting a PR so I apologize in advance if it is sloppy

[2022-11-07 12:09] SSwiniarski commented on #1226
@PrakharParakh you've been assigned! Thanks for contributing. Can you let me know how you found this repo?

[2022-11-07 13:19] PrakharParakh commented on #1226
On Mon, 7 Nov 2022 at 5:39 PM, SSwiniarski ***@***.***> wrote:

Thank you, I was looking to make some contributions when I came across this
repo.

[2022-11-07 14:29] yangc95 commented on #1215
@petros-wursta assigned!

[2022-11-07 14:35] yangc95 commented on #850
Hey @nimblegeek, I'm wondering which part of the issue description is confusing.

Feel free to include other edits that you find necessary in your PR.

[2022-11-07 14:50] yangc95 commented on #1219
@Armania, glad the course brought you here to Docs! Assigning you this issue 🙂

[2022-11-07 14:55] yangc95 commented on #1093
@JonnySimmons congrats on the merge!

[2022-11-07 15:52] yangc95 commented on #1207
@JWegener I recommend going to the [issues](https://github.com/Codecademy/docs/issues) tab and glancing over each issue's title to determine if you have any interest in the topic to be covered:

![Screen Shot 2022-11-07 at 10 49 25 AM](https://user-images.githubusercontent.com/72277593/200353867-dbfd0e9e-053e-411d-9cd5-0d24c3d4291f.png)

On the right hand side of each issue, you'll see if there is

[2022-11-07 16:03] JJGuilloryGit commented on #1224
Good Morning. I would like to contribute to this issue.  Thank you!

[2022-11-07 16:36] yangc95 commented on #1097
@JWegener
see the other question you asked here: https://github.com/Codecademy/docs/issues/1207#issuecomment-1305814078

When you go to the issues tab, there is an option under the "Assignee" toggle. If you click on "Assigned to nobody," you will be able to "filter by unclaimed."
![Screen Shot 2022-11-07 at 11 31 08 AM](https://user-images.githubusercontent.com/72277593/200363782-61e62a33-ad3f-472

[2022-11-07 16:40] yangc95 commented on #282
Hi @mpicozza, thanks for your interest! The issue, however, is currently assigned to @HajarJuhari.

The exception is that the contributor is unable to complete the issue according to standards. We will give a few more days before considering reassignment.

In the meantime, feel free to browse an unassigned issues and thank you for your interest in Docs!

[2022-11-07 17:30] SSwiniarski commented on #1224
@JJGuilloryGit, you've been assigned. Thanks for contributing. Can you let me know how you came across this repo?

[2022-11-07 17:52] #896 closed

[2022-11-07 22:26] USERALOOO commented on #1215
I would  like to work on the issue can I ?

[2022-11-07 22:32] USERALOOO commented on #1218
I would like to work on this

[2022-11-07 22:43] USERALOOO commented on #1217
I can work on this issue !

[2022-11-07 23:27] JJGuilloryGit commented on #1224
Yes indeed and thank you.  I came across the repo from the Github course on CA. I had previously taken the Learn Go course so I figured I would give it a go.

[2022-11-08 11:40] USERALOOO commented on #1218
can I work on this

[2022-11-08 16:16] Dusch4593 commented on #1216
Hey @D-Salkovic see [my note](https://github.com/Codecademy/docs/pull/1227#issuecomment-1307470608). 😄

[2022-11-08 16:16] #1216 closed

[2022-11-08 17:01] Dusch4593 commented on #1218
@USERALOOO You're assigned! Thanks for your interest in contributing to Codecademy Docs 😄

I was wondering, how did you learn about Docs and about contributing to it?

[2022-11-09 03:13] rinyusri commented on #1214
Hi! I'm new to this, but can I try to work on this entry?

[2022-11-09 03:51] ddiegow commented on #984
@SSwiniarski OK, thanks

[2022-11-09 09:25] rojitaLuwang commented on #1075
Can I work on this, please

[2022-11-09 12:40] SSwiniarski commented on #874
@cjunhyuk, Because of the lack of activity on this issue I'm unassigning you so someone else can work on it.

[2022-11-09 12:42] SSwiniarski commented on #904
@ritikabhardwaj1111, I wanted to follow up to ask how you're doing on this entry and if you needed any assistance. Just respond in this thread if you're still working on it.

[2022-11-09 12:45] SSwiniarski commented on #913
@Yash-Var, because of the lack of activity on this entry, I'm unassigning you so someone else can work on it.

[2022-11-09 16:26] Dusch4593 commented on #1214
Hey @rinyusri, thanks for your interest in contributing to Codecademy Docs! 🚀

I just assigned this issue to you. If you need help with getting started, I'd recommend starting [here](https://github.com/Codecademy/docs/blob/main/.github/CONTRIBUTING.md#how-do-i-submit-a-pull-request-pr) in our `CONTRIBUTING.md` guide. Some other documentation to check out:

- [Content Standards](https://github.com/

[2022-11-09 23:53] TrishaGupta commented on #953
Can I be assigned this?

[2022-11-10 00:02] TrishaGupta commented on #913
Can I get assigned to this?

[2022-11-10 00:11] Dusch4593 commented on #913
@TrishaGupta Sure thing! 😄 Thanks for your interest in contributing to Codecademy Docs! 🚀

By chance, how did you learn about Docs and about contributing to it?

[2022-11-10 09:16] Buono-Marco commented on #1215
Hello,
I already worked on the task. If you give me the ok, I can submit the PR.

Thank you!

[2022-11-10 14:10] profithesame commented on #874
Hello, can I take this issue?
But i don't understand what to do)

Need to create an article?

[2022-11-10 14:43] #1220 closed

[2022-11-10 15:11] Dusch4593 commented on #1215
Hi @Buono-Marco and @USERALOOO,

Thank you for expressing interest in contributing to this issue. At this time, the issue was recently assigned to another user, @petros-wursta. We're still giving them time to open a PR. Our issues are assigned on a first-come-first-serve basis and we limit each issue to just one assignee.

In the meantime, my team and I are working to produce more issues for this

[2022-11-10 16:01] #987 closed

[2022-11-10 16:39] SSwiniarski commented on #874
@profithesame you're assigned.

[2022-11-10 16:49] SSwiniarski commented on #911
@Bobliuuu just checking on your progress again.

[2022-11-10 16:51] SSwiniarski commented on #918
@adityaonstage because it's been several weeks with no activity, I'm unassigning you so someone else can work on this.

[2022-11-10 16:53] SSwiniarski commented on #922
@adityaonstage, because it's been several weeks with no activity, I'm unassigning you so someone else can work on this issue.

[2022-11-10 16:55] SSwiniarski commented on #943
@prakha, because it's been several weeks with no activity, I'm unassigning you so someone else can work on this.

[2022-11-10 16:55] Buono-Marco commented on #674
Hi @Dusch4593,
As you suggested, I'm here to ask you to assign this task to me.

Thank you!

[2022-11-10 16:56] SSwiniarski commented on #944
@PriyanshuAhlawat, just checking if you were able to work on this.

[2022-11-10 16:58] SSwiniarski commented on #949
@tejas0124, since it's been a week, I'm going to assign this to @YKWIBN.

@YKWIBN, you're now assigned this issue.

[2022-11-10 17:01] SSwiniarski commented on #952
@akash-1107, since it's been several weeks without activity, I'm unassigning you so someone else can work on this.

[2022-11-10 17:02] SSwiniarski commented on #953
@sumedhav2004, since it's been several weeks with no activity I am unassigning you so someone else can work on this.

[2022-11-10 17:04] SSwiniarski commented on #958
@AAnirudh07, since it's been several weeks with no activity, I am unassigning you so someone else can work on this.

[2022-11-10 17:06] SSwiniarski commented on #967
@Dhanunjay18, since it's been several weeks with no activity, I am unassigning you so someone else can work on this issue.

[2022-11-10 17:07] SSwiniarski commented on #981
@Rkpani05, since it's been several weeks with no activity, I am unassigning you so someone else can work on this.

[2022-11-10 17:09] SSwiniarski commented on #984
@kavin5kumar because it's been several weeks without activity, I'm going to assign @ddiegow to this issue.

@ddiegow, you're now assigned.

[2022-11-10 17:10] SSwiniarski commented on #988
@Rkpani05, because it's been several weeks with no activity I am unassigning you so someone else can work on this.

[2022-11-10 17:11] SSwiniarski commented on #990
@Rkpani05, because it's been several weeks with no activity, I'm unassigning you so someone else can work on this.

[2022-11-10 17:23] SSwiniarski commented on #1028
@Shivashish-rwt because of several weeks of inactivity I'm unassigning you and assigning @Calvinadeyemi .

@Calvinadeyemi, you're assigned.

[2022-11-10 17:26] SSwiniarski commented on #1075
@rojitaLuwang, this issue has already been assigned to @YanisaHS. There are plenty of other unassigned issues you could work on.

[2022-11-10 17:32] SSwiniarski commented on #1127
@rriver2, because of inactivity, I am unassigning you from this issue so other people can work on it.

@YKWIBN, are you still interested in taking this issue?

[2022-11-10 17:36] SSwiniarski commented on #674
@Buono-Marco you've been assigned.

[2022-11-10 17:54] YKWIBN commented on #949
Great, thank you!

[2022-11-10 17:56] shlok-2003 commented on #952
hey @SSwiniarski, I would love to work on this issue

[2022-11-10 17:57] YKWIBN commented on #1127
Yes! I would prefer this assignment over the one I have already been assigned to.
Is there a way I can be assigned to this one and for me to leave issue # 949 for another student or developer to tackle?

[2022-11-10 19:24] Bobliuuu commented on #911
Will do today, sorry for the delay.

[2022-11-10 22:57] Dusch4593 commented on #952
Hey @shlok-2003, you're assigned! 👍🏻

[2022-11-10 22:58] Dusch4593 commented on #949
Un-assigned @YKWIBN at their request. Issue re-opened for assignment.

[2022-11-10 22:59] Dusch4593 commented on #1127
Hey @YKWIBN 👋🏻 I went ahead and assigned you to this issue and un-assigned you from #949, per your request. 😄

[2022-11-11 02:18] KucharskiR commented on #918
Hello! Can I be assigned to this issue?

[2022-11-11 04:52] gracekishino commented on #1225
Can I work on this issue?

[2022-11-11 12:45] SSwiniarski commented on #918
@KucharskiR, I've assigned you! Thanks for contributing. Can you tell us how you came across this repo?

[2022-11-11 12:47] SSwiniarski commented on #1225
@gracekishino, you've been assigned. Thanks for contributing. Can I ask how you came across this repo?

[2022-11-11 12:51] KucharskiR commented on #918
I making the Git/Github course on Codecademy and making an issue is my task now ;)

[2022-11-11 13:41] ddiegow commented on #984
Thanks @SSwiniarski, will get on it

[2022-11-11 14:23] YKWIBN commented on #1127
Ah! You rock!
On it!

[2022-11-11 14:54] ddiegow commented on #984
Hi, I'm ready to make a pull request.  Should I do something on this thread or just make the pull request from my branch?

[2022-11-11 16:24] SSwiniarski commented on #984
@ddiegow, you can go ahead and make your PR. Under the development header to the right on this page, you'll be able to link the PR to this issue.

[2022-11-11 16:25] GarikGelios commented on #1217
Hi,

@USERALOOO  Could you let me have one of the tasks? You have two)

As part of the **Learn Git and GitHub** course, I need to make one contribution in order to complete the challenge.
My experience is in HTML, CSS and JavaScript — I can't share any other information in other issues.

@Dusch4593 Maybe you can create another issue according to my experience, please? I do not see any other way to

[2022-11-11 16:55] GarikGelios commented on #1217
@Dusch4593 It's no longer relevant. I asked a friend to create a test repository for me.
... time is money 😎

[2022-11-11 17:15] SSwiniarski opened #1236 "[Concept Entry] Go: comments"
### Reason/inspiration (optional)

We would like a new concept entry for [Go](https://www.codecademy.com/resources/docs/go) about comments.

The entry should go in a new file in docs/content/go/concepts/comments/comments.md

The entry should
- Explain single line and multi-line block comments
- briefly describe "doc comments"

### Entry Type (select all that apply)

New Concept Entry for Existing

[2022-11-11 23:11] gracekishino commented on #1225
@SSwiniarski thank you for assigning me! I found this repo when I was doing the Codecademy Learn Git & GitHub course.

[2022-11-12 03:17] Bobliuuu commented on #911
@SSwiniarski done!

[2022-11-12 03:20] Bobliuuu commented on #1169
Hi @Dusch4593, it seems an entry already exists at https://github.com/Bobliuuu/docs/blob/main/content/python/concepts/built-in-functions/terms/breakpoint/breakpoint.md

[2022-11-12 03:36] ddiegow commented on #958
Hi, can I be assigned this task?

[2022-11-12 04:03] ddiegow commented on #984
@SSwiniarski I think I might have put my foot in it when making the commits.  It seems I didn't add an e-mail address to my commits and I'm getting a "Daniel seems not to be a GitHub user." message at the bottom of my pull request.  I did sign the CLA agreement with this account but it's still showing as CLA not signed.  How should I proceed in order to fix it?

[2022-11-12 04:14] tanishq-singh-2301 commented on #981
**can I work on this?**

[2022-11-12 06:01] Maheshwaran17 commented on #1236
Hi @SSwiniarski , I would like to work on this. Could you please assign this issue to me.

[2022-11-12 07:05] Maheshwaran17 commented on #1236
I have submitted a PR for this issue - https://github.com/Codecademy/docs/pull/1241

[2022-11-12 12:46] SSwiniarski commented on #958
@ddiegow, you're assigned.

[2022-11-12 12:48] SSwiniarski commented on #984
@Dusch4593, any insight on how to help @ddiegow?

[2022-11-12 12:51] SSwiniarski commented on #981
@tanishq-singh-2301, you've been assigned.

[2022-11-12 13:30] ddiegow commented on #958
Thanks @SSwiniarski ! I'll make sure to use the correct email this time when I make commits :)

[2022-11-12 14:05] SSwiniarski commented on #874
@profithesame, I unassigned you from this issue because the PR you submitted was lifted from another site. You are still free to claim an issue and submit a PR as long as the writings are your own.

[2022-11-12 14:06] SSwiniarski commented on #874
@yangc95, Should this be a new topic like Pandas an NumPy rather than a new concept?

[2022-11-12 15:10] SSwiniarski opened #1242 "[Concept Entry] Go: Functions"
### Reason/inspiration (optional)

We would like a new concept entry for [Go](https://www.codecademy.com/resources/docs/go) about functions.

The entry should go in a new file in docs/content/go/concepts/functions/functions.md

The entry should

- Include a "Syntax" section with a ```pseudo code block showing how a function is declared.
- Include an "Example" section with a ```go code block showin

[2022-11-12 15:11] #954 closed

[2022-11-12 15:19] SSwiniarski opened #1243 "[Concept Entry] Go: Variables"
### Reason/inspiration (optional)

We would like a new concept entry for [Go](https://www.codecademy.com/resources/docs/go) about variables.

The entry should go in a new file in docs/content/go/concepts/variables/variables.md

The entry should

- Explain what variables are.
- Explain the syntax of declaring a variable.

### Entry Type (select all that apply)

New Concept Entry for Existing Topic

[2022-11-12 15:47] #1168 closed

[2022-11-12 16:24] Dusch4593 commented on #1169
Good spot, @Bobliuuu! 😄

That was an oversight on my part. I was wondering if you'd be interested in making the following edits to the `breakpoint()` entry:

- **Bold** the first use of "breakpoint()" on line # 16.
- In the "Syntax" section, let's change the code block signature from \```py to \```pseudo.
- On line # 24, include 1-2 sentences about how `breakpoint()` has been available since Pytho

[2022-11-12 16:27] Bobliuuu commented on #1169
Sure!

[2022-11-12 16:46] Dusch4593 commented on #984
Hey @ddiegow! 👋🏻

I'm going to check with some colleagues on Monday to learn the best course of action for this situation. You may have already learned this, but you can always confirm which email that is configured with Git across all repositories:

[code]

You can do the same with the username:

[code]

I'll follow up on Monday about this. 😄

[2022-11-12 17:11] ddiegow commented on #984
@Dusch4593 @SSwiniarski Thanks! I was able to change the mail and commit changes correctly.  I was also able to correct the linting errors and hopefully the formatting error too in my last push.  I'll start working on another task I've been assigned while waiting for the follow up on Monday.  Thanks again for your help, I'm learning a lot 😄

[2022-11-12 19:14] strikeouts27 opened #1244 "Requesting to make entry in Codecademy Docs per Learn Git and Github Course[Entry] Subject: Entry Name"
### Reason/inspiration (optional)

I am a bit of a rookie and I am going through the codeecademy courses. I was wondering if you guys had any way that I could contribute to the Docs per the course requirements?

-strikeouts27
stribling.andrew@gmail.com

### Entry Type (select all that apply)

New Topic Entry

### Code of Conduct

- [X] By submitting this issue, I agree to follow Codecademy Doc's [

[2022-11-12 20:22] maki-keep opened #1245 "[Bug/Error] Font of code text"
### Actual Behavior

`Code` text is in a serif font when viewing the site on both Chrome and Edge browsers.
The font is a sans-serif on Firefox.
The device used is a Windows 10 PC.

### Expected Behavior

`Code` text should have a monospace font family. Currently "Monaco" is assigned to it.

### On what browser(s) are you seeing the problem?

Firefox, Chrome, Microsoft Edge, Brave

### Code of Con

[2022-11-13 07:12] Bobliuuu commented on #967
Hi @SSwiniarski, I can take this issue.

[2022-11-13 12:31] SSwiniarski commented on #967
@Bobliuuu, you've been assigned.

[2022-11-13 13:55] SSwiniarski commented on #1244
@strikeouts27, you just need to look through the list of issues and find an unassigned one that you're interested in working on. (The ones without the "claimed" label.) Leave a comment there requesting to be assigned.

[2022-11-13 13:55] #1244 closed

[2022-11-13 14:26] SSwiniarski opened #1246 "[Concept Entry] Go: Structs"
### Reason/inspiration (optional)

We would like a new concept entry for [Go](https://www.codecademy.com/resources/docs/go) about structs.

The entry should go in a new file in docs/content/go/concepts/structs/structs.md

The entry should

- Explain what a `struct` is.
- Include a "Syntax" section with a ```pseudo code block showing how a `struct` is declared.
- Include an "Example" section with a

[2022-11-13 14:39] SSwiniarski opened #1247 "[Concept Entry] Go: Goroutines"
### Reason/inspiration (optional)

We would like a new concept entry for [Go](https://www.codecademy.com/resources/docs/go) about goroutines.

The entry should go in a new file in docs/content/go/concepts/goroutines/goroutines.md

The entry should

- Include a "Syntax" section with a ```pseudo code block showing how a goroutine is called.
- Include an "Example" section with a ```go code block show

[2022-11-13 15:59] jaymay1979 commented on #1242
I would like to contribute a new concept entry to Go. Thank you.

[2022-11-13 16:22] SSwiniarski commented on #1242
@jaymay1979, you've been assigned.

[2022-11-13 16:27] SSwiniarski opened #1248 "[Concept Entry] Go: maps"
### Reason/inspiration (optional)

We would like a new concept entry for [Go](https://www.codecademy.com/resources/docs/go) about maps.

The entry should go in a new file in docs/content/go/concepts/maps/maps.md

The entry should

- Explain what a `map` is.
- Have a "Syntax" section with a ```pseudo code snippet showing examples of the different ways of creating and initializing a `map`.
- Have a

[2022-11-14 02:31] yangc95 commented on #874
@SSwiniarski works for me, I'll go ahead and change the issue description.

[2022-11-14 02:56] ddiegow commented on #953
Hi, can I be assigned this task?

[2022-11-14 05:48] yangc95 commented on #953
@ddiegow assigned! Please follow up with a PR within the 2-week timeframe 🙂

[2022-11-14 11:47] rojitaLuwang commented on #1075
Thank you. Sorry, I thought it was not taken. Will look for other
unassigned issues.

On Thu, Nov 10, 2022 at 5:26 PM SSwiniarski ***@***.***>
wrote:

[2022-11-14 17:10] SSwiniarski commented on #806
@dharmelolar, I just want to follow up on how you're progressing on this PR. Are you still working on it?

[2022-11-14 17:44] cilippofilia commented on #1094
Yes I am working on it and will submit the first draft soon. Sorry for the delay but I have been busy with other stuff

[2022-11-14 20:04] #1125 closed

[2022-11-14 21:10] Dusch4593 commented on #984
@ddiegow I received some feedback from my colleagues! However, I still need time to process how to implement this fix but I wanted to encourage you to go ahead and implement the feedback from the first review #1239. 😄

[2022-11-15 01:20] dharmelolar commented on #806
@SSwiniarski I'm so sorry this is taking too long. I'm almost done with it but work has been hectic. That's why I haven't turned it in. Hope to do so in a few days.

[2022-11-15 09:55] alberto-laurella commented on #922
Hello! I'd like to have this project assigned to me, I'm from the codecademy course and working on the final project (have a nice day!)

[2022-11-15 12:18] Armania commented on #1219
Just commenting, still working on this, hope to submit something by this weekend

[2022-11-15 12:57] SSwiniarski commented on #922
@alberto-laurella, you've been assigned!

[2022-11-15 14:01] #968 closed

[2022-11-15 14:34] #1045 closed

[2022-11-15 14:57] Abdelrahmanabusaa commented on #1243
can you assign this issue for me to work on
thank you .

[2022-11-15 16:09] petros-wursta commented on #1215
Hi All, you can unassign me, I have a work obligation that came up, i
apologize
Best,

*Petros Dertsakyan* | ***@***.***
<http://voice.google.com/calls?a=nc,%2B18182842203>

On Thu, Nov 10, 2022 at 9:11 AM Brandon Dusch ***@***.***>
wrote:

[2022-11-15 16:32] SSwiniarski commented on #1243
@Abdelrahmanabusaa, you are assigned.

[2022-11-15 17:00] Dusch4593 commented on #1215
That's no worries, @petros-wursta! 😄

Since @Buono-Marco is already assigned to another issue, I'm going to assign this issue to @USERALOOO.

[2022-11-15 17:21] petros-wursta commented on #1215
Thank you so much!
Best,

*Petros Dertsakyan* | ***@***.***
<http://voice.google.com/calls?a=nc,%2B18182842203>

On Tue, Nov 15, 2022 at 11:01 AM Brandon Dusch ***@***.***>
wrote:

[2022-11-15 21:02] KaizenEngineer commented on #949
Greetings to all... May I take a shot at this bad boy.
Hopefully it won't be kicking this noob to fiercely.., lol
Perhaps, best it should..

[2022-11-16 00:07] yangc95 commented on #949
@KaizenEngineer thanks for your interest, you been assigned! Make sure to follow up with a PR within the 2-week timeframe. Also, how did you discover contributing to Docs?

[2022-11-16 00:38] KaizenEngineer commented on #949
Amazing! @yangc95
Thank you kindly...
It was through the Learn Git & GitHub Course. Figured this additional course would benefit my learning whilst getting the FEE Career Path done.

[2022-11-16 08:10] HajarJuhari commented on #282
@SSwiniarski Hi. I'm still working on it. Can you give me time till 2 December? Been working on other Codecademy courses for a while.

[2022-11-16 09:29] Buono-Marco commented on #1215
Hi @Dusch4593,
I'm ready to work on this task if you want.

[2022-11-16 13:14] BoboyeOkeya commented on #874
Hello, Please can I take this issue. I am presently asked to work on an open issue as part of my Learn Git/Github course on codeacademy.

Also, I do not know exactly what the task is about but I am willing to give it a try since Python is within my skillset

[2022-11-16 14:32] Dusch4593 commented on #1215
This has already been assigned to someone else.

[2022-11-16 17:51] SSwiniarski commented on #874
@BoboyeOkeya you're assigned. If you want an idea of how we want the entry to look, you can look at the source of the Pandas or NumPy topics in the repo. We want a similar one covering the Seaborn module.

[2022-11-16 18:04] BoboyeOkeya commented on #874
@SSwiniarski Thank you for the assignment and for the explanation. I got it and I will start work!

[2022-11-17 01:29] JustinSu77 commented on #1248
I will like to contribute.

[2022-11-17 11:54] SSwiniarski commented on #1248
@JustinSu77, you've been assigned. Can you tell us how you came across this repo?

[2022-11-17 13:44] cslylla commented on #990
I would like to work on this issue.

[2022-11-17 14:18] Dusch4593 commented on #990
Hi @cslylla, I've assigned you. 😄

[2022-11-17 14:23] #982 closed

[2022-11-17 14:34] #674 closed

[2022-11-17 15:57] JustinSu77 commented on #1248
I came across this repo from taking the Learn Git & Github course on Codecademy.

[2022-11-17 17:17] SSwiniarski commented on #944
@PriyanshuAhlawat, since it's been over two weeks with no activity, I'm going to unassign you so someone else can work on this.

[2022-11-17 17:21] SSwiniarski commented on #1095
@cesarfras, it's been two weeks since you were assigned this issue. Are you still working on it? Do you need any help?

[2022-11-17 17:22] SSwiniarski commented on #1111
@MarkLovesCoding, it's been two weeks since you were assigned this issue. Are you still working on it? Do you need any help?

[2022-11-17 17:22] SSwiniarski commented on #1126
@KarinaNi, it's been two weeks since you were assigned this issue. Are you still working on it? Do you need any help?

[2022-11-17 17:29] KarinaNi commented on #1126
I am working on it, sorry for the late reply I am trying to get done within a week.

[2022-11-18 01:36] cesarfras commented on #1095
Sorry I've been busy on another thing, I'll keep working on it as soon as I can but if you prefer to assign it to someone else I have no problem.

[2022-11-18 18:08] MarkLovesCoding commented on #1111
Apologies, I was away. I’ll have this completed today!

On Thu, Nov 17, 2022 at 10:22 AM SSwiniarski ***@***.***>
wrote:

[2022-11-20 05:16] YanisaHS opened #1271 "[Entry] Open Source: Linux Kernel"
### Reason/inspiration (optional)

A new entry on the Linux Kernel could be added to the [Open Source](https://www.codecademy.com/resources/docs/open-source) concept entry. Also it should be linked in the [Linus Torvalds](https://www.codecademy.com/resources/docs/general/linus-torvalds) and [Linux](https://www.codecademy.com/resources/docs/open-source/linux) pages. This entry could describe what t

[2022-11-20 12:50] Armania commented on #1219
Hi team!

I submitted a pull-request, https://github.com/Codecademy/docs/pull/1268 ,

could use a little guidance?

[2022-11-20 15:56] SSwiniarski commented on #904
@ritikabhardwaj1111, because of the inactivity on this issue, I'm unassigning you so someone else can work on it.

[2022-11-21 14:08] #962 closed

[2022-11-21 14:41] #981 closed

[2022-11-21 17:08] cslylla commented on #904
Hey, I would like to work on this issue!

[2022-11-21 17:44] Dusch4593 commented on #904
@cslylla You're assigned. 😄

[2022-11-21 18:21] #706 closed

[2022-11-21 21:33] dziarae commented on #1218
@Dusch4593 Hi, is this issue already resolved? I am looking for a contribution for my Learn Git/Github lesson.

[2022-11-22 00:23] Dusch4593 commented on #1218
@USERALOOO were you still working on a pull request for this issues?

[2022-11-22 15:56] yangc95 commented on #1095
@cesarfras it would be great if you could keep us in the loop of when you expect to push out a PR. I don't see a branch opened for this issue yet on your fork, so if you need any assistance, don't hesitate to reach out!

If you'd prefer, we can also proceed with assigning this to another community member.

[2022-11-22 18:02] #1124 closed

[2022-11-22 18:13] #1243 closed

[2022-11-22 18:22] #1111 closed

[2022-11-23 22:21] EmeraldSerpent57 commented on #1245
I would like to be assigned this issue!

[2022-11-24 17:42] cesarfras commented on #1095
Yes, I think I need assistance to continue.

[2022-11-25 17:30] SSwiniarski commented on #1226
@PrakharParakh, it's been two weeks since you've been assigned. Are you still working on this PR? Do you need any assistance?

[2022-11-25 17:32] SSwiniarski commented on #1224
@JJGuilloryGit, it's been over two weeks since you were assigned. Are you still working on this PR? Do you need assistance?

[2022-11-25 17:34] SSwiniarski commented on #1217
@USERALOOO, it's been over two weeks since you were assigned. Are you still working on this PR? Do you need assistance?

[2022-11-25 17:36] SSwiniarski commented on #1214
@rinyusri, it's been over two weeks since you were assigned this issue. Are you still working on this PR? Do you need assistance?

[2022-11-25 17:38] SSwiniarski commented on #1169
@Bobliuuu, it's been nearly two weeks since there's been any activity on this issue. Are you still working on this PR? Do you need assistance?

[2022-11-25 17:39] SSwiniarski commented on #1127
@YKWIBN, it's been two weeks since there's been activity on this issue. Are you still working on this PR? Do you need any assistance?

[2022-11-25 17:42] SSwiniarski commented on #1095
@cesarfras, what assistance do you need?

[2022-11-25 17:44] SSwiniarski commented on #1028
@Calvinadeyemi, it's been two weeks since you were assigned. Are you working on this PR? Do you need any assistance?

[2022-11-25 17:46] SSwiniarski commented on #967
@Bobliuuu, it's been nearly two weeks since you were assigned. Are you still working on this PR? Do you need assistance?

[2022-11-25 17:48] SSwiniarski commented on #913
@TrishaGupta it's been two weeks since you were assigned. Are you still working on this PR? Do you need any assistance?

[2022-11-25 17:50] SSwiniarski commented on #850
@nimblegeek it's been over two weeks since there's been any activity on this issue. Are you still working on this PR? Do you need further assistance?

[2022-11-25 17:51] SSwiniarski commented on #806
@dharmelolar, I want to check on your progress again. Are you close to submitting a PR?

[2022-11-25 18:22] dziarae commented on #1218
@Dusch4593 I'm working on it, anyway

[2022-11-25 19:08] #620 closed

[2022-11-25 19:18] nimblegeek commented on #850
@SSwiniarski hey, thanks for reminding me and sorry for dragging it for too long. I have been too busy with my day job. Haven't been able to spend time on this. I would have to get it unassigned.
Apologies for this.

[2022-11-25 19:45] SSwiniarski commented on #850
@nimblegeek No problem. I'll unassign you so someone else can work on this.

[2022-11-25 21:50] #1021 closed

[2022-11-26 04:51] cesarfras commented on #1095
Thanks for your reply, making the branch, I lost a little bit the track on that topic.

[2022-11-26 05:40] rinyusri commented on #1214
@SSwiniarski Hi, i'm working on it but i'm struggling as i haven't finished learning the JS yet. I'll probably take a longer time to complete one. I'm sorry but can I withdraw from this entry because it's difficult for me as a beginner?

[2022-11-26 06:10] PrakharParakh commented on #1226
i have completed the assignment, and created a Pull request please see to
it.

On Fri, Nov 25, 2022 at 11:00 PM SSwiniarski ***@***.***>
wrote:

[2022-11-26 13:03] SSwiniarski commented on #1214
@rinyusri no problem, I can unassign you and you can pick up an issue you're more comfortable with.

[2022-11-26 13:11] SSwiniarski commented on #1095
In the online UI, on the main page for your forked repo, in the upper left above the list of folders, there's a little box that should say "main". This is a dropdown to let you change/create the branch you're working with. You drop it down an there's a text box that says "find or create a branch". You can type in a new name in this box, and below it will be a link "Create branch:" with your branch

[2022-11-26 14:28] SSwiniarski commented on #1226
@PrakharParakh I am not seeing your pull request [here](https://github.com/Codecademy/docs/pulls) are you sure you pushed a PR to the Codecademy Docs repository?

[2022-11-28 07:39] MeganGroenendaal commented on #1214
I would like to take on this entry.

[2022-11-28 12:36] SSwiniarski commented on #1214
@MeganGroenendaal, You're assigned! Thanks for contributing.

[2022-11-28 14:45] YKWIBN commented on #1127
I have it pretty much ready to go, except for the sample code, which I wanted to make in Xcode. The hold up has been that I ran into an issue. The “Expressions not allowed on top level” error appeared. I had not seen it before so I had to figure out how to solve it. I would love some assistance here.
Coding has been rather tough for me in respect to understanding the logic behind it. If you could

[2022-11-28 15:46] #911 closed

[2022-11-28 16:43] #958 closed

[2022-11-28 19:16] csavell commented on #850
Hey, this looks like something I can help with. Could you assign it to me?

[2022-11-28 22:47] YKWIBN commented on #1127
Only today did I learn about Playgrounds. Thank you for the input! I should have this ready to go tomorrow.

[2022-11-28 23:07] #874 closed

[2022-11-28 23:18] Dusch4593 commented on #850
@csavell Sure thing! You're assigned. 😄

[2022-11-29 01:24] ddiegow commented on #988
I'd like to do it if noboy is assigned to it yet.

[2022-11-29 01:35] Dusch4593 commented on #988
@ddiegow You're assigned! 😄

[2022-11-29 02:47] YanisaHS commented on #1271
Hi! Can I be assigned to this? 🥳

[2022-11-29 14:38] Armania opened #1285 "[Entry] Vue:"
### Reason/inspiration (optional)

I noticed there is not a "Topic" dedicated to Vue or VueJS.
Also,
- Vue: [Nuxt](https://nuxtjs.org/)
- Vue: [Pinia](https://pinia.vuejs.org/)
- Vue: [Vueuse](https://vueuse.org/)

### Entry Type (select all that apply)

New Topic Entry

### Code of Conduct

- [X] By submitting this issue, I agree to follow Codecademy Doc's [Code of Conduct](https://github.com/Cod

[2022-11-29 14:39] Armania commented on #1285
I have begun writing this section and would love to make this contribution

[2022-11-29 16:07] csavell commented on #850
Thanks, I'll get on that asap

[2022-11-29 19:45] yangc95 commented on #1245
@EmeraldSerpent57 I'm not sure if this is within scope of Docs contributions for community members.

cc: @christian-dinh

[2022-11-29 20:19] christian-dinh commented on #1245
Yeah this is an issue we'd have to handle internally, sorry!

[2022-11-30 17:14] #952 closed

[2022-11-30 17:43] #978 closed

[2022-11-30 18:35] yangc95 commented on #1245
Thanks @christian-dinh! Should I go ahead and close this issue?

[2022-11-30 20:14] christian-dinh commented on #1245
yep I'll make a separate ticket we can track internally