[2021-08-24 21:35] sonnynomnom opened #179 "Semantic HTML entries needed: <details>, <summary>"
Semantic HTML still lacking the following term entries:

- `<details>`
- `<summary>`

Docs page: https://www.codecademy.com/resources/docs/html/semantic-html
GitHub folder: https://github.com/Codecademy/docs/tree/main/content/html/concepts/semantic-html

[2021-08-24 22:18] sonnynomnom opened #180 "Swift entries needed: Enums, Optionals"
2 entries are needed for Swift:

- Enums
- Optionals

Codecademy Docs: https://www.codecademy.com/resources/docs/swift
GitHub folder: https://github.com/Codecademy/docs/tree/main/content/swift/concepts

[2021-08-25 02:40] sonnynomnom opened #181 "Python entries needed: Modulo, Tuples, Modules"
Python entries needed for the following concepts

- Modulo
- Tuples
- Modules

[2021-08-25 02:41] sonnynomnom opened #182 "Python entry needed: Sets"
1 Python entry needed:

- Sets

[2021-08-25 02:44] sonnynomnom opened #183 "JavaScript entries needed: Iterators, Objects"
Update: THIS ONE IS TAKEN!

2 JavaScript entries are needed:

- Iterators
- Objects

Existing Codecademy JavaScript concepts: https://www.codecademy.com/resources/docs/javascript

[2021-08-25 02:45] sonnynomnom opened #184 "JavaScript entries needed: Modules, Requests"
2 JavaScript entries are needed:

- Modules
- Requests

Existing Codecademy Docs JavaScript entries: https://www.codecademy.com/resources/docs/javascript

[2021-08-25 02:46] sonnynomnom opened #185 "SQL entry needed: Procedures"
1 SQL entry needed:

- Procedures

[2021-08-25 02:48] sonnynomnom opened #186 "More Swift entries: Tuples, Protocols, Classes"
3 more Swift entries needed:

- Tuples
- Protocols
- Classes

[2021-08-25 02:49] sonnynomnom opened #187 "Java entry needed: ArrayList"
1 Java entry needed:

- ArrayList

[2021-08-25 02:50] sonnynomnom opened #188 "C++ entry needed: Pointers"
1 C++ entry needed:

- Pointers

[2021-08-25 03:16] sonnynomnom opened #191 "Java entry needed: HashMap"
Java entry needed:

- HashMap

[2021-08-25 05:31] sonnynomnom opened #192 "C entry needed: Memory Management"
1 C entry needed:

- Memory Management in C

[2021-08-25 05:32] sonnynomnom opened #193 "C entry needed: Preprocessors"
1 C entry needed:

- Preprocessors in C

[2021-08-25 05:33] sonnynomnom opened #194 "C entry needed: Compiling"
1 C entry needed:

- Compiling

Codecademy Doc C topic: https://www.codecademy.com/resources/docs/c

[2021-08-25 08:15] sonnynomnom opened #195 "C entry needed: User Input"
1 C entry needed:

- User Input

Codecademy Docs C Concepts: https://www.codecademy.com/resources/docs/c
Inspiration: https://www.codecademy.com/resources/docs/cpp/user-input

[2021-08-25 16:42] sonnynomnom opened #197 "R entries needed"
We currently don't have any R entries. Feel free to create a folder structure and 2-3 entries!

[2021-08-28 16:48] bhagyamudgal commented on #184
I would like to work on this issue. Can I?

[2021-08-28 20:08] sonnynomnom commented on #183
This one is taken!

[2021-08-29 00:34] sonnynomnom commented on #184
Absolutely @bhagyamudgal!

[2021-08-29 08:34] sonnynomnom opened #206 "Java entry needed: Functions"
One Java entry needed:

Functions

[2021-08-29 08:35] sonnynomnom opened #207 "C++ entry needed: Files"
One C++ entry needed:

- FIles

[2021-08-30 03:35] #184 closed

[2021-08-30 04:15] bhagyamudgal commented on #207
Can I work on this?

[2021-08-30 13:26] Goku-kun commented on #183
Hey, @sonnynomnom
I'm a little confused. Is this issue only for iterator objects, or objects and iterators separately?

If it's the latter case, then there is already a Objects entry available in the JavaScript docs. Should I improve upon it? And create a brand new entry for iterators?

[2021-08-30 17:34] kaifee-haque opened #208 "Feature Request: Page section URLs and table of contents"
- Add support for URL suffixes to link directly to page sections. For example, `https://en.wikipedia.org/wiki/Instant-runoff_voting#Global_use` links to the "Global use" section. Makes it easier for users to access related subtopics from other entries.
- Automatically generate a table of contents for each entry that contains a list of all H2 headers, possibly below the introduction section. Allows

[2021-08-30 17:57] #208 closed

[2021-08-30 20:38] sonnynomnom commented on #183
Hi @Goku-kun, this one is actually taken, so no need to worry about this one!

[2021-08-30 20:38] sonnynomnom commented on #207
Absolutely!

[2021-08-30 23:36] andrewjbarbour commented on #182
I created an entry for Python sets (PR #209)

[2021-08-31 15:44] kaifee-haque opened #211 "Python entry needed: Decorators"
Python entry needed for the following concept:
- Decorators

[2021-08-31 20:16] sonnynomnom opened #213 "Python entry: PIP"
Python enty needed:

- PIP

[2021-09-01 01:58] sonnynomnom commented on #182
Completed!

[2021-09-01 01:58] #182 closed

[2021-09-01 01:58] sonnynomnom commented on #208
This is great feedback @kaifee-haque!

[2021-09-01 05:06] #207 closed

[2021-09-01 05:31] bhagyamudgal commented on #188
Can I work on this?

[2021-09-01 05:50] andrewjbarbour commented on #181
I just made a tuples entry!

[2021-09-01 19:37] #181 closed

[2021-09-01 19:40] sonnynomnom opened #216 "Python entry: Modules"
1 Python entry needed:

- Modules

[2021-09-01 20:15] StephNathai commented on #179
Hi, can I grab this?

[2021-09-02 03:32] #183 closed

[2021-09-02 03:32] sonnynomnom commented on #179
@StephNathai Absolutely!

[2021-09-02 03:34] sonnynomnom commented on #188
@bhagyamudgal Absolutely! Make sure to take a look at [C Pointers](https://www.codecademy.com/resources/docs/c/pointers), [Learn C++ course](https://www.codecademy.com/learn/learn-c-plus-plus), and the [Learn C++ Cheatsheet](https://www.codecademy.com/learn/learn-c-plus-plus/modules/learn-cpp-references-and-pointers/cheatsheet).

[2021-09-02 03:50] Goku-kun commented on #211
Hi @kaifee-haque
I'd like to take up this entry. Could you assign it to me?

[2021-09-02 03:57] kaifee-haque commented on #211
Hi @Goku-kun, no assignment necessary. Feel free to submit a PR!

[2021-09-02 09:20] bhagyamudgal commented on #188
@sonnynomnom Sure.

[2021-09-02 16:20] StephNathai commented on #179
So sorry, I just realized you require a CLA to be signed and unfortunately my employer will need to approve this CLA before I can begin. I will have to unassign myself from this ticket, apologies again.

[2021-09-02 16:34] sonnynomnom commented on #179
No worries!

[2021-09-02 17:50] sonnynomnom opened #218 "General entry: What is an NFT?"
Requesting 1 new entry in the [General](https://www.codecademy.com/resources/docs/general) topic:

- Name: "What is an NFT?"
- Length: 500-100 words
- Folder: https://github.com/Codecademy/docs/tree/main/content/general/concepts

[2021-09-02 23:02] andrewjbarbour commented on #216
I just created a Python Modules entry!

[2021-09-03 17:21] lukeecart commented on #179
Hey @sonnynomnom I can work on this but how do I sign the Contributor License Agreement (CLA)?

[2021-09-03 17:32] sonnynomnom commented on #211
All you @Goku-kun, and thanks for making an issue @kaifee-haque!

[2021-09-03 17:36] sonnynomnom commented on #179
Nice @lukeecart, all you!

[2021-09-03 22:49] lukeecart commented on #179
@sonnynomnom I have created a PR for this. Do I need to run tests locally? I ran `npm run compile` & `npm run test` but one of the test's fail - [I've replaced my local path with **** FOLDER PATH *** ]

Not sure why that's failed
[code]

[2021-09-04 00:00] lukeecart commented on #179
After going around in circles it's because paths in windows have `\\` in between whereas macs use `/` so if on line 53 of `content.test.ts` we change `nodePath.split('/'`) to `nodePath.split(path.sep).` (see https://nodejs.org/api/path.html#path_path_sep). This will work for mac and windows. I can raise an issue tomorrow for it.

[2021-09-04 03:05] bhagyamudgal commented on #192
Can I take this?

[2021-09-04 03:35] sonnynomnom commented on #192
All you, @bhagyamudgal!

[2021-09-04 05:57] sonnynomnom opened #224 "Fix entry: Turn JavaScript Errors into Multiple Term Entries"

[2021-09-04 05:57] #224 closed

[2021-09-04 13:10] lukeecart opened #225 "Bug: Path separator is different for mac and windows"
**Description:** In the `Codecademy Docs Content - adheres to content file structure` test the split doesn't correctly split for Window users. On Mac the `/` is the separator whereas on windows its `\\`. So when running the tests on windows the test fails and doesn't split up 'nodePath' variable correctly.

**Affected file:** https://github.com/Codecademy/docs/blob/main/content.test.ts

**Expected

[2021-09-04 18:36] gaetgu opened #227 "Website Down"
I am in the middle of a project using Codecademy Docs, and the website has been acting up for a while. At first I thought it was just an issue with the server (because of multiple 404s and 503s), but now I see it has been removed from the `Resources` tab?

I checked commits and blog posts to see if there was anything about taking it down, but I didn't see anything. Any help would be greatly apprec

[2021-09-04 22:32] lukeecart commented on #227
@gaetgu Hey, yeah. "Docs crashed yesterday and will be down til Tuesday" -  according to sonnynomnom who said this in the `add summary & details semantic html elements` PR

[2021-09-04 22:51] gaetgu commented on #227
👍🏽 Alright then. Thanks for letting me know!

[2021-09-04 22:51] #227 closed

[2021-09-09 00:10] JoshuaKGoldberg opened #231 "Next.js description is inaccurate"
* Most popular React frameworks can SSR (Server Side Render) and are built on Node.js
* What is "certain" doing in the sentence? (odd grammar choice)

[2021-09-09 07:29] EugeneGohh opened #232 "General entry: What is GraphQL?"
I am making a general entry about [GraphQL](https://graphql.org/). This issue is open to anyone who wants to contribute.

Here is a blueprint I have made:

* A brief history of GraphQL
* What is GraphQL?
* Why use GraphQL?
* How GraphQL works under the hood?
* Who is using GraphQL?

[2021-09-09 21:17] sonnynomnom commented on #179
Thanks, @lukeecart!!! Merged. Our engineer is taking a look at your new Issue, too.

[2021-09-09 21:17] #179 closed

[2021-09-10 04:23] bhagyamudgal commented on #231
@JoshuaKGoldberg Yeah you are right.

[2021-09-10 13:04] mdwiltfong commented on #232
Definitely interested in this. Coming from an eCommerce background I would like to add something about Shopify's GraphQL APIs.

[2021-09-10 23:58] EugeneGohh commented on #232
Sure! I have made a PR for this. Here #242.

[2021-09-13 20:03] Dusch4593 opened #243 "`what-is-git.md` description is too long"
The description for the "What is Git?" entry inside of `content/general/content/what-is-git/`, is too long and needs to be shortened.

Per the `terms-entry-template.md`:

The character count of the description for "What is Git?" is currently 522 characters.

[2021-09-13 21:23] sonnynomnom commented on #216
Merged!

[2021-09-13 21:23] #216 closed

[2021-09-13 22:17] sonnynomnom commented on #192
Merged!

[2021-09-13 22:17] #192 closed

[2021-09-13 23:28] lukeecart commented on #243
@Dusch4593 Can we close this issue now?

[2021-09-13 23:29] #243 closed

[2021-09-14 02:41] Dusch4593 commented on #232
[#242](https://github.com/Codecademy/docs/pull/242) is merged. Closing this issue.

[2021-09-14 02:41] #232 closed

[2021-09-14 14:56] #211 closed

[2021-09-15 15:40] EugeneGohh opened #251 "General entry: What is Cloud Computing?"
Requesting 1 new entry in the [General](https://www.codecademy.com/resources/docs/general) topic:

- Name: "What is Cloud Computing?"
- Folder: https://github.com/Codecademy/docs/tree/main/content/general/concepts

[2021-09-16 19:20] mdwiltfong commented on #213
Hello @sonnynomnom ,

Hope you're doing well! I'm interested in tackling the PIP entry, but I'm not sure where to place it. Do you think it would be it's own "concept," or is there a particular concept that PIP would be added to?

Thanks

[2021-09-16 19:21] mdwiltfong commented on #213
Actually, I see that npm is it's own category in JavaScript. Therefore I think PIP would be in it's own category as well.

[2021-09-17 04:02] bhagyamudgal commented on #251
Can I work on this?

[2021-09-17 04:15] EugeneGohh commented on #251
Sure mate.

[2021-09-17 07:56] EugeneGohh commented on #251
@bhagyamudgal

Feel free to use this as a head start if needed (Just a sugesstion):

- What is Cloud Computing?
- A brief history about Cloud Computing
- Why adopt Cloud Computing?
- How does Cloud Computing work?
- Companies that have moved to the Cloud?

[2021-09-18 08:34] bhagyamudgal commented on #251
@EugeneGohh Thanks it will help me alot.

[2021-09-24 13:26] Vivek-Prajapatii commented on #194
Hello @sonnynomnom , I am new to the open source community. I would like to take up this issue. Please brief me on the issue.

[2021-09-24 13:28] Vivek-Prajapatii commented on #193
Hello @sonnynomnom , I am new to the open source community. I would like to take up this issue. Please brief me on the issue.

[2021-09-24 13:48] Vivek-Prajapatii commented on #187
hey @sonnynomnom , i;m new to opensource and i'm interested in this issue please brief  me about this.
thankyou.

[2021-09-27 01:01] EugeneGohh commented on #251
This issue is related to PR #252 .

[2021-09-28 06:26] EugeneGohh opened #258 "General Entry: What is a Content Management System?"
Requesting 1 new entry in the General topic:

Name: "What is a Content Management System?"
Folder: https://github.com/Codecademy/docs/tree/main/content/general/concepts

[2021-09-30 22:50] lukeecart opened #264 "Suggestion: Add husky to catch test failures and lint errors locally"
[Husky](https://typicode.github.io/husky/#/?id=automatic-recommended) is a package that can run git hooks before committing to a repository. This package could also be used to lint commit messages and run other bits of code as well.

Recently there have been a few issues with passing the lint and formating tests. The errors only show after the commit has been pushed and ran on Circle CI. Maybe it

[2021-10-01 23:48] #251 closed

[2021-10-01 23:49] sonnynomnom commented on #187
Hi @Vivek-Prajapatii, we are looking for a contributor to create an entry about Java ArrayList. Let me know if this is something you can do!

[2021-10-03 10:35] Vivek-Prajapatii commented on #187
Hii @sonnynomnom, it would be great if you assign me this issue.
thanks

[2021-10-04 06:54] mdwiltfong commented on #213
I have generated a [PR ](https://github.com/Codecademy/docs/pull/271)that will add a new entry addressing `pip`

[2021-10-04 17:52] sonnynomnom commented on #258
Let's scrap this one, Eugene! We will want to hyperfocus on coding tools rn.

[2021-10-04 17:52] #258 closed

[2021-10-04 20:55] #188 closed

[2021-10-04 20:55] sonnynomnom commented on #188
Done.

[2021-10-04 21:43] sonnynomnom commented on #187
Done. All you!

[2021-10-04 21:45] sonnynomnom commented on #213
Updated the issue for just PIP.

[2021-10-04 21:45] sonnynomnom opened #273 "Python entry needed: Files"
One new Python entry about the topic Files.

[2021-10-04 21:58] sonnynomnom opened #274 "3 Semantic HTML entries needed"
3 semantic html tags:

- `<section>`
- `<mark>`
- `<time>`

Scroll down here: https://www.codecademy.com/resources/docs/html/semantic-html

[2021-10-04 22:47] sonnynomnom opened #275 "Python String methods needed: .find() and .format()"
**Note**: _Before creating a new issue, please ensure that a similar issue hasn't already been posted in the ["Issues" tab](https://github.com/Codecademy/docs/issues)._

## Description

Python string methods:

- `.find()`
- `.format()`

They will live here: https://www.codecademy.com/resources/docs/python/strings (Scroll down)

## Type of Issue(s)

- [x] One or more new entries/terms requested.
-

[2021-10-04 23:18] sonnynomnom commented on #194
Hi @Vivek-Prajapatii, I assigned you the Java ArrayList one! So tackle that one first, and then when you are done and no one else is willing to take this, then you can take this one on.

[2021-10-04 23:18] sonnynomnom commented on #193
Hi @Vivek-Prajapatii, I assigned you the Java ArrayList one! So focus on that one, and then when you are done and no one else is willing to take this, then you can tackle this one later down the road.

[2021-10-05 02:39] wanjuntham commented on #275
Hi @sonnynomnom , may I take this?

[2021-10-05 03:17] sonnynomnom commented on #275
@wanjuntham absolutely!

[2021-10-05 03:19] sonnynomnom opened #277 "[Entry Request] What is an Object?"
## Description

Create a "What is an Object?" entry in the General section.

General section: https://www.codecademy.com/resources/docs/general

## Type of Entry Request

- One or more new entries/terms requested.

## Checklist

- [x] The issue is appropriately titled.
- [x] Description is clear and includes supporting text, files, etc.
- [x] A similar issue hasn't already been created.
- [x] No m

[2021-10-05 03:19] bhagyamudgal commented on #194
Can I take this one?

[2021-10-05 03:21] sonnynomnom opened #278 "[Entry Request] What is WebRTC?"
## Description

Write a "What is WebRTC?" entry in the General section:

General section: https://www.codecademy.com/resources/docs/general

## Type of Entry Request

- One or more new entries/terms requested.

## Checklist

- [x] The issue is appropriately titled.
- [x] Description is clear and includes supporting text, files, etc.
- [x] A similar issue hasn't already been created.
- [x] No more

[2021-10-05 03:23] sonnynomnom opened #279 "[Entry Request] What is Server-side Rendering?"
## Description

Write a "What is Server-side Rendering?" article in the General section if you have an advanced web dev background.

General: https://www.codecademy.com/resources/docs/general

## Type of Entry Request

- One or more new entries/terms requested.

## Checklist

- [x] The issue is appropriately titled.
- [x] Description is clear and includes supporting text, files, etc.
- [x] A simil

[2021-10-05 03:23] pavankalyan-codes commented on #277
Hey I can work on this. Pls assign this to me.

[2021-10-05 03:24] sonnynomnom commented on #277
done!

[2021-10-05 03:25] sonnynomnom opened #280 "[Entry Request] What is UUID?"
## Description

Write a "What is UUID?" (universally unique identifier) entry in the General topic.

General topic: https://www.codecademy.com/resources/docs/general

## Type of Entry Request

- One or more new entries/terms requested.

## Checklist

- [x] The issue is appropriately titled.
- [x] Description is clear and includes supporting text, files, etc.
- [x] A similar issue hasn't already be

[2021-10-05 03:26] sonnynomnom commented on #194
You can @bhagyamudgal!

[2021-10-05 03:27] demonicirfan commented on #279
Can i work on this

[2021-10-05 03:27] sonnynomnom opened #281 "[Entry Request] General: Routing"
## Description

Write a "Routing" entry in the General topic.

General topic: https://www.codecademy.com/resources/docs/general

## Type of Entry Request

- One or more new entries/terms requested.

## Checklist

- [x] The issue is appropriately titled.
- [x] Description is clear and includes supporting text, files, etc.
- [x] A similar issue hasn't already been created.
- [x] No more than 3 entri

[2021-10-05 03:28] sonnynomnom commented on #279
Absolutely!

[2021-10-05 03:29] sonnynomnom opened #282 "[Entry Request] General: QR Code"
## Description

Write a "QR Code" entry in the General topic.

General topic: https://www.codecademy.com/resources/docs/general

## Type of Entry Request

- One or more new entries/terms requested.

## Checklist

- [x] The issue is appropriately titled.
- [x] Description is clear and includes supporting text, files, etc.
- [x] A similar issue hasn't already been created.
- [x] No more than 3 entri

[2021-10-05 03:31] sonnynomnom opened #283 "What is Subroutine?"
## Description

Write a "What is Subroutine?" entry in the General topic.

General topic: https://www.codecademy.com/resources/docs/general

## Type of Entry Request

- One or more new entries/terms requested.

## Checklist

- [x] The issue is appropriately titled.
- [x] Description is clear and includes supporting text, files, etc.
- [x] A similar issue hasn't already been created.
- [x] No more

[2021-10-05 03:32] sonnynomnom opened #284 "[Entry Request] General: Unit Testing"
## Description

Write a "Unit Testing" entry in the General topic.

General topic: https://www.codecademy.com/resources/docs/general

## Type of Entry Request

- One or more new entries/terms requested.

## Checklist

- [x] The issue is appropriately titled.
- [x] Description is clear and includes supporting text, files, etc.
- [x] A similar issue hasn't already been created.
- [x] No more than 3

[2021-10-05 03:36] sonnynomnom opened #285 "[Entry Request] Python: Modulo"
## Description

Write a "Modulo" entry in the Python topic.

General topic: https://www.codecademy.com/resources/docs/python

## Type of Entry Request

- One or more new entries/terms requested.

## Checklist

- [x] The issue is appropriately titled.
- [x] Description is clear and includes supporting text, files, etc.
- [x] A similar issue hasn't already been created.
- [x] No more than 3 entries

[2021-10-05 03:36] ManishS6 commented on #284
@sonnynomnom I would like to work on this
Please assign this task to me

[2021-10-05 03:37] sonnynomnom opened #286 "[Entry Request] Python: Casting"
## Description

Write a "Casting" entry in the Python topic.

General topic: https://www.codecademy.com/resources/docs/python

## Type of Entry Request

- One or more new entries/terms requested.

## Checklist

- [x] The issue is appropriately titled.
- [x] Description is clear and includes supporting text, files, etc.
- [x] A similar issue hasn't already been created.
- [x] No more than 3 entries

[2021-10-05 03:38] sonnynomnom commented on #284
@ManishS6 all you!

[2021-10-05 03:38] sonnynomnom commented on #284
how did you find this by the way @ManishS6?

[2021-10-05 03:39] sonnynomnom commented on #279
@demonicirfan how did you find this by the way?

[2021-10-05 03:41] sonnynomnom opened #287 "[Entry Request] Python: Iterators"
## Description

Write an "Iterators" entry in the Python topic.

General topic: https://www.codecademy.com/resources/docs/python

## Type of Entry Request

- One or more new entries/terms requested.

## Checklist

- [x] The issue is appropriately titled.
- [x] Description is clear and includes supporting text, files, etc.
- [x] A similar issue hasn't already been created.
- [x] No more than 3 entr

[2021-10-05 03:42] sonnynomnom opened #288 "[Entry Request] Python: Dates"
## Description

Write a "Dates" entry in the Python topic.

General topic: https://www.codecademy.com/resources/docs/python

## Type of Entry Request

- One or more new entries/terms requested.

## Checklist

- [x] The issue is appropriately titled.
- [x] Description is clear and includes supporting text, files, etc.
- [x] A similar issue hasn't already been created.
- [x] No more than 3 entries r

[2021-10-05 03:44] ManishS6 commented on #284
@sonnynomnom https://github.com/issues?q=is%3Aopen+is%3Aissue+label%3AHacktoberfest I use this link and keeping refreshing every few minutes until I find something interesting.

[2021-10-05 03:45] ramanic commented on #288
Can I do this?

[2021-10-05 03:45] sonnynomnom opened #291 "[Entry Request] Python: Inheritance"
## Description

Write an "Inheritance" entry in the Python topic.

General topic: https://www.codecademy.com/resources/docs/python

## Type of Entry Request

- One or more new entries/terms requested.

## Checklist

- [x] The issue is appropriately titled.
- [x] Description is clear and includes supporting text, files, etc.
- [x] A similar issue hasn't already been created.
- [x] No more than 3 en

[2021-10-05 03:46] sonnynomnom commented on #288
@ramanic all you! how did you hear about this by the way

[2021-10-05 03:46] EugeneGohh commented on #285
Can I work on this?

[2021-10-05 03:47] sonnynomnom commented on #285
Yes @EugeneGohh lol

[2021-10-05 03:47] ramanic commented on #288
Thanks, I was just looking for good first issues and ended up here.

[2021-10-05 03:49] sonnynomnom commented on #284
Gotcha! Good luck. Make sure to read through our README and Contribution Guide and remember, it's about quality, not quantity.

[2021-10-05 03:50] sonnynomnom commented on #288
Gotcha! Good luck.

Make sure to read through our README and Contribution Guide and remember, it's about quality, not quantity.

[2021-10-05 03:51] ManishS6 commented on #284
@sonnynomnom on it.

[2021-10-05 03:51] sonnynomnom opened #292 "[Entry Request] Python: Scope"
## Description

Write a high-quality "Scope" entry in the Python topic.

General topic: https://www.codecademy.com/resources/docs/python

Please read through the README file and Contribution Guide.

## Type of Entry Request

- One or more new entries/terms requested.

## Checklist

- [x] The issue is appropriately titled.
- [x] Description is clear and includes supporting text, files, etc.
- [x] A

[2021-10-05 04:00] sonnynomnom commented on #277
How did you find this by the way?

[2021-10-05 04:02] sonnynomnom opened #293 "[Entry Request] C++: Bitwise Operator"
## Description

Write a high-quality "Bitwise Operator" entry in C++.

C++ topic: https://www.codecademy.com/resources/docs/cpp

## Type of Bug Request

- Typo and/or bug within one or more existing entries.
- Unclear explanation of term(s).
- Out-of-date information (new release, deprecated package, etc).
- Updating the documentation

## Type of Entry Request

- One or more new entries/terms requ

[2021-10-05 04:03] Punit-Choudhary commented on #282
Hey @sonnynomnom,

I would love to contribute to Codecademy.
Could you please assign this issue to me 🙂

Thanks

[2021-10-05 04:03] sonnynomnom opened #294 "[Entry Request] C++: Methods"
## Description

Write a high-quality "Methods" entry in C++.

C++ topic: https://www.codecademy.com/resources/docs/cpp

## Type of Bug Request

- Typo and/or bug within one or more existing entries.
- Unclear explanation of term(s).
- Out-of-date information (new release, deprecated package, etc).
- Updating the documentation

## Type of Entry Request

- One or more new entries/terms requested.
-

[2021-10-05 04:04] sonnynomnom opened #295 "[Entry Request] C++: Inheritance"
## Description

Write a high-quality "Inheritance" entry in C++.

C++ topic: https://www.codecademy.com/resources/docs/cpp

## Type of Bug Request

- Typo and/or bug within one or more existing entries.
- Unclear explanation of term(s).
- Out-of-date information (new release, deprecated package, etc).
- Updating the documentation

## Type of Entry Request

- One or more new entries/terms requested

[2021-10-05 04:05] sonnynomnom opened #296 "[Entry Request] C++: Polymorphism"
## Description

Write a high-quality "Polymorphism" entry in C++.

C++ topic: https://www.codecademy.com/resources/docs/cpp

## Type of Bug Request

- Typo and/or bug within one or more existing entries.
- Unclear explanation of term(s).
- Out-of-date information (new release, deprecated package, etc).
- Updating the documentation

## Type of Entry Request

- One or more new entries/terms requeste

[2021-10-05 04:06] sonnynomnom commented on #282
@Punit-Choudhary Hi Punit, all you!

How did you find us by the way?

[2021-10-05 04:07] sonnynomnom opened #297 "[Entry Request] C++: Encapsulation"
## Description

Write a high-quality "Encapsulation" entry in C++.

C++ topic: https://www.codecademy.com/resources/docs/cpp

## Type of Bug Request

- Typo and/or bug within one or more existing entries.
- Unclear explanation of term(s).
- Out-of-date information (new release, deprecated package, etc).
- Updating the documentation

## Type of Entry Request

- One or more new entries/terms request

[2021-10-05 04:08] sonnynomnom opened #298 "[Entry Request] C++: Constructors"
## Description

Write a high-quality "Constructors" entry in C++.

C++ topic: https://www.codecademy.com/resources/docs/cpp

## Type of Bug Request

- Typo and/or bug within one or more existing entries.
- Unclear explanation of term(s).
- Out-of-date information (new release, deprecated package, etc).
- Updating the documentation

## Type of Entry Request

- One or more new entries/terms requeste

[2021-10-05 04:09] Punit-Choudhary commented on #282
I saw Codecademy's [post on Linkedin](https://www.linkedin.com/posts/codecademy_docs-is-a-new-resource-for-community-driven-activity-6850882670755377153-MozO)
I am student at Codecademy and Chapter Leader of [Rajasthani Geeks](https://community.codecademy.com/rajasthani-geeks/)
Thank you for giving me this opportunity 💜

[2021-10-05 04:11] sonnynomnom opened #299 "[Entry Request] Java: Random"
## Description

Write a high-quality "Random" entry in Java.

Java topic: https://www.codecademy.com/resources/docs/java

## Type of Bug Request

- Typo and/or bug within one or more existing entries.
- Unclear explanation of term(s).
- Out-of-date information (new release, deprecated package, etc).
- Updating the documentation

## Type of Entry Request

- One or more new entries/terms requested.

[2021-10-05 04:12] sonnynomnom opened #300 "[Entry Request] Java: Constructors"
## Description

Write a high-quality "Constructors" entry in Java.

Java topic: https://www.codecademy.com/resources/docs/java

## Type of Bug Request

- Typo and/or bug within one or more existing entries.
- Unclear explanation of term(s).
- Out-of-date information (new release, deprecated package, etc).
- Updating the documentation

## Type of Entry Request

- One or more new entries/terms reque

[2021-10-05 04:14] sonnynomnom opened #301 "[Entry Request] Java: Bitwise Operators"
## Description

Write a high-quality "Bitwise Operators" entry in Java.

Java topic: https://www.codecademy.com/resources/docs/java

## Type of Bug Request

- Typo and/or bug within one or more existing entries.
- Unclear explanation of term(s).
- Out-of-date information (new release, deprecated package, etc).
- Updating the documentation

## Type of Entry Request

- One or more new entries/terms

[2021-10-05 04:52] pavankalyan-codes commented on #277
Found it while sorting with hacktoberfest label

On Tue, Oct 5, 2021 at 9:30 AM Sonny Li ***@***.***> wrote:

[2021-10-05 04:52] jason1985 commented on #280
Hi may I work on this?
Thanks

[2021-10-05 05:08] sonnynomnom commented on #280
Hi Jason, absolutely!

May I ask how you found this Issue?

[2021-10-05 05:10] sonnynomnom commented on #282
Oh wow, nice!

Yeah, take a jab at it. Make sure to read through the README file and the Contribution Guide thoroughly. And remember, it's about quality, not quantity!

[2021-10-05 05:11] jason1985 commented on #280
Thank you.
I found this issue by going to `github.com/issues` and searching `is:open is:issue label:hacktoberfest`.

[2021-10-05 05:11] sonnynomnom commented on #277
Nice @pavankalyan-codes, looking forward! Each PR will get two reviews from the team.

Remember, we want it to be detailed and high-quality! Best of luck!

[2021-10-05 05:13] sonnynomnom commented on #280
Awesome @jason1985! Looking forward.

Each PR will get two reviews from the team. We are looking for high-quality writing so please take a look at our README and Contribution Guide. Best of luck!

[2021-10-05 05:22] vishalram14 commented on #294
Hey, shall I work on this?

[2021-10-05 05:24] sonnynomnom commented on #294
Hi @vishalram14! Absolutely.

May I ask how you found this Issue?

[2021-10-05 05:26] vishalram14 commented on #294
Searched using hacktoberfest label, filtered the results by choosing open issues that were recently updated.

[2021-10-05 05:42] vishalram14 commented on #294
I am extremely sorry to inform you that I have to back out of this , kindly reassign somebody else

[2021-10-05 05:54] vishalram14 commented on #294
Sorry to inform you that I would like to opt out of this.

[2021-10-05 05:57] demonicirfan commented on #279
github explore section 😊

[2021-10-05 06:07] Vivek-Prajapatii commented on #187
hey @sonnynomnom do i need to create a new file of arraylist or i should update the arrays.md file?

[2021-10-05 06:28] sonnynomnom commented on #288
Did you find this through Hacktoberfest btw?

[2021-10-05 06:47] ramanic commented on #288
Yup, I wanted to get started in open source. Hacktoberfest looks to be a great opportunity.

[2021-10-05 06:53] divya-ganesh commented on #300
I'd like to work on this issue.

[2021-10-05 06:57] divya-ganesh commented on #299
I'd like to work on this issue. May I please be assigned?
Thanks :)

[2021-10-05 06:59] sonnynomnom commented on #299
Yes you can! @divya-ganesh

May I ask how you found this Issue?

[2021-10-05 07:00] sonnynomnom commented on #300
Hi @divya-ganesh, I gave you another entry to start. So maybe focus on that for now and swing back down the road if this one is still untaken? Thanks!

[2021-10-05 07:02] divya-ganesh commented on #299
Thank you!! I found a post on r/learnprogramming and I'm just learning about the opensource world and I'm looking for places to contribute.
Will definitely do my best with this topic!

[2021-10-05 07:03] divya-ganesh commented on #300
Okay! Thank you so much for the opportunity though! I really appreciate  it :)

[2021-10-05 07:06] sonnynomnom commented on #294
All good!

[2021-10-05 07:07] sonnynomnom commented on #288
Awesome!

[2021-10-05 07:08] sonnynomnom commented on #299
Oh wow niiice. Yep, we have two people on the team review your entry. So definitely take your time and no rush!

[2021-10-05 07:08] sonnynomnom commented on #279
Oh wow. So through #hacktoberfest or no? (Just wondering!)

[2021-10-05 07:09] sonnynomnom commented on #187
Create a new file!

[2021-10-05 07:45] sonnynomnom opened #305 "[Entry Request] Java: Errors"
## Description

Write a high-quality "Errors" entry in Java.

It should include some of the most common errors, exceptions, and even some debugging techniques.

Java topic: https://www.codecademy.com/resources/docs/java

## Type of Bug Request

- Typo and/or bug within one or more existing entries.
- Unclear explanation of term(s).
- Out-of-date information (new release, deprecated package, etc).

[2021-10-05 07:46] sonnynomnom opened #306 "[Entry Request] Java: Methods"
## Description

Write a high-quality "Methods" entry in Java.

Java topic: https://www.codecademy.com/resources/docs/java

## Type of Bug Request

- Typo and/or bug within one or more existing entries.
- Unclear explanation of term(s).
- Out-of-date information (new release, deprecated package, etc).
- Updating the documentation

## Type of Entry Request

- One or more new entries/terms requested.

[2021-10-05 07:47] sonnynomnom opened #307 "[Entry Request] Java: Files"
## Description

Write a high-quality "Files" entry in Java (how to read and write files)

Java topic: https://www.codecademy.com/resources/docs/java

## Type of Bug Request

- Typo and/or bug within one or more existing entries.
- Unclear explanation of term(s).
- Out-of-date information (new release, deprecated package, etc).
- Updating the documentation

## Type of Entry Request

- One or more n

[2021-10-05 07:49] sonnynomnom opened #308 "[Entry Request] Java: Inheritance"
## Description

Write a high-quality "Inheritance" entry in Java.

Java topic: https://www.codecademy.com/resources/docs/java

## Type of Bug Request

- Typo and/or bug within one or more existing entries.
- Unclear explanation of term(s).
- Out-of-date information (new release, deprecated package, etc).
- Updating the documentation

## Type of Entry Request

- One or more new entries/terms reques

[2021-10-05 07:52] demonicirfan commented on #279
yes through hacktoberfest

[2021-10-05 07:56] sonnynomnom commented on #279
Awesome!

[2021-10-05 07:57] sonnynomnom commented on #279
Awesome! Looking forward to your PR. Each PR will be reviewed by two maintainers. So take your time and make sure it's about quality not just quantity!

[2021-10-05 08:31] TusharSharmaIN commented on #298
assign this to me.

[2021-10-05 08:57] rishikeshreddyakkireddy commented on #301
Can you assign this to me, I want to work on this issue.

[2021-10-05 13:35] bhagyamudgal commented on #297
Can I take this one?

[2021-10-05 14:11] ashishkamathi commented on #300
I would love to contribute can you please assign to me..?

[2021-10-05 14:26] sammy8825 commented on #287
I would like to work on this issue

[2021-10-05 14:27] sammy8825 commented on #295
I would like to work on this issue.
Can you assign it to me ??

[2021-10-05 14:58] sonnynomnom commented on #301
Yep, you can! May I ask how you found this Issue?

[2021-10-05 15:04] sonnynomnom commented on #300
Yep, @ashishkamathi! May I ask how you found this issue?

[2021-10-05 15:05] sonnynomnom commented on #298
Hi @TusharSharmaIN, sure. You can take this on. May I ask how you found this issue?

[2021-10-05 15:06] sonnynomnom commented on #297
Yep, all you @bhagyamudgal! Don't forget to create a new branch for this one.

[2021-10-05 15:07] sonnynomnom commented on #295
@sammy8825 Yep, all you! May I ask how you found this issue?

[2021-10-05 15:07] Aashishkushwaha commented on #296
Hi @sonnynomnom , I want to contribute on this issue. Please assign this to me.

[2021-10-05 15:08] sonnynomnom commented on #287
Hi Sammy, I just assigned you another issue. So maybe wait on this one to see anyone else wants to take it first.

[2021-10-05 15:18] bhagyamudgal commented on #297
@sonnynomnom Sure Sonny.

[2021-10-05 15:31] sammy8825 commented on #295
I didn't get u sorry

[2021-10-05 15:32] sammy8825 commented on #287
Okk

[2021-10-05 15:36] parth93QA commented on #281
Can I work on this ?

[2021-10-05 15:52] sonnynomnom commented on #300
Awesome! Yeah we are are looking for a new **constructors.md** file that go over constructors in Java.

Here's an example of **arrays.md** in Java: https://www.codecademy.com/resources/docs/java/arrays

Make sure to read through the README and Contribution Guide thoroughly. Your entry will be reviewed by two maintainers! So it's about quality not just quantity.

[2021-10-05 15:53] sonnynomnom commented on #296
@Aashishkushwaha you got it! May I ask how you found this issue?

[2021-10-05 16:04] rishikeshreddyakkireddy commented on #301
@sonnynomnom I have been searching for repositories in git using label:hacktoberfest and found the issue

[2021-10-05 16:06] sammy8825 commented on #295
Found through hacktober quest.

[2021-10-05 16:20] demonicirfan commented on #279
# What is Server-side Rendering

Server-side rendering is rendering the content in the server and presenting it to the client when a request is made. While in the client-side rendering when a request is made the content is rendered in the browser. Javascript works both on server and browser, so it is possible for us to render the content of a application where we want.

## Why Server-side Renderin

[2021-10-05 16:36] DarrylBrooks97 commented on #294
I'd like to work on this !

[2021-10-05 18:45] sonnynomnom commented on #301
Awesome. Looking forward!

[2021-10-06 01:10] r3vert commented on #278
Can I try my hand at this?

[2021-10-06 02:22] siolavL commented on #292
Hello! May I work on this?

[2021-10-06 02:31] DarrylBrooks97 commented on #294
Yeah I found it through https://goodfirstissues.com/ filtered with Hacktoberfest

[2021-10-06 04:53] Aashishkushwaha commented on #296
@sonnynomnom yes I found this issue via Hactoberfest only 👍

[2021-10-06 05:54] Keshraf opened #319 "[Entry] JavaScript: isNaN() Method"
## Description

Concerns:
- Pull Request: Add isNaN method to javascript/concepts/number-methods/terms #317

[Pull Request](https://github.com/Codecademy/docs/pull/317)

Need Review and help to clear the checks

## Type of Entry Request

- One or more new entries/terms requested.

## Checklist

- [x] The issue is appropriately titled.
- [x] Description is clear and includes supporting text, files,

[2021-10-06 06:19] #280 closed

[2021-10-06 06:35] sonnynomnom commented on #292
Absolutely @siolavL!

May I ask how you found this repo/Issue?

[2021-10-06 06:36] sonnynomnom commented on #294
Awesome! Take a look at the README file and the Contribution Guide and take your time on your Pull Request!

[2021-10-06 06:37] sonnynomnom commented on #281
Hi @parth93QA, absolutely!

May I ask how you found this issue/repo?

[2021-10-06 06:38] sonnynomnom commented on #278
@r3vert, absolutely!

May I ask how you found this issue/repo?

[2021-10-06 06:46] #288 closed

[2021-10-06 06:59] Antonio-Riccelli commented on #274
Hey @sonnynomnom,
I'd like to help with this, if still open? I do see that the `<section>` element has been added in the meantime.

[2021-10-06 07:43] Antonio-Riccelli commented on #274
Thank you, @sonnynomnom 🙏🏻 I'll get down to it right after work 👍🏻

I'm a [Codecademy student](codecademy.com/profiles/AntonioRiccelli) and I found the repo via the latest newsletter email 🙂

[2021-10-06 09:23] daksh10110 commented on #293
Hey, I can work on this issue, can you assign me to this?

[2021-10-06 09:27] daksh10110 commented on #287
Hey, can you assign this issue to me, I would like to work on it

[2021-10-06 10:10] Tawishi commented on #273
I would like to take up this issue @sonnynomnom

[2021-10-06 10:14] KanhaKorgaonkar commented on #305
Hi I would like to work on this issue, please assign it to me thanks!

[2021-10-06 10:25] parth93QA commented on #281
Hi I was searching for some cheatsheets online for nodejs that's when I found your resources page  and then found your open issues during hacktober fest

[2021-10-06 15:30] EugeneGohh opened #323 "Missing JavaScript code in Codebyte Example in `.concat()` entry"
## Description
After refreshing my tab multiple times & tried it in my phone, I can say this is a bug in the Codebyte Example in `.concat()` entry. The following code presented in [`.concat()` entry](https://www.codecademy.com/resources/docs/javascript/arrays/concat?utm_source=facebook&utm_medium=organic-social&utm_campaign=Docs&utm_content=fb_10_06_21_concat_doc&fbclid=IwAR1pwqZ_tswuELP9yDAPJPhQN

[2021-10-06 16:20] sonnynomnom commented on #323
Updated!

[2021-10-06 16:20] #323 closed

[2021-10-06 16:23] #277 closed

[2021-10-06 18:20] r3vert commented on #278
I got an email about codecademy docs, and I am a hacktoberfest participate so i decided to try an issue

[2021-10-06 18:53] sonnynomnom commented on #293
Hi @bhagyamudgal, I'm going to let @daksh10110 take this one because they are new!

How did you find this issue by the way @daksh10110?

[2021-10-06 18:54] sonnynomnom commented on #281
Amazing!

[2021-10-06 18:55] sonnynomnom commented on #291
All you @Tawishi!

May I ask how you found this?

[2021-10-06 18:55] sonnynomnom commented on #287
Hi @daksh10110 I just assigned you another issue!

[2021-10-06 18:56] sonnynomnom commented on #286
Hi @sudojarvis, all you!

May I ask how you found this issue/repo?

[2021-10-06 19:51] DarrylBrooks97 commented on #294
Hey I believe this issue has already been resolved [here](https://github.com/Codecademy/docs/tree/main/content/cpp/concepts/functions) 'methods' in cpp are called 'functions'

[2021-10-06 20:09] DarrylBrooks97 commented on #294
Hey there isn't a section on Codecademy for C++ 'Methods'

[2021-10-06 20:19] sonnynomnom commented on #294
Yep, you have to research and write it!

We do have one lesson on classes & objects here:

https://www.codecademy.com/courses/learn-c-plus-plus/lessons/cpp-classes-and-objects/exercises/cpp-class-members

[2021-10-06 20:20] sonnynomnom commented on #308
@saurabh042 Yep, all you!

How did you find this repo/Issue by the way?

[2021-10-06 20:52] sonnynomnom commented on #273
Hi @Tawishi I think I just assigned you another issue!

[2021-10-07 03:57] bhagyamudgal commented on #293
@sonnynomnom No problem Sonny everyone should get a chance.

@daksh10110 All the best Daksh.

[2021-10-07 03:59] daksh10110 commented on #293
@sonnynomnom Thanks for assigning me this issue, I found about this repo on the hacktoberfest's discord server.

[2021-10-07 04:26] #213 closed

[2021-10-07 04:30] ramanic commented on #283
Hi, @sonnynomnom  can I do this one  ?

[2021-10-07 05:00] saurabh042 commented on #308
Hey, thanks. Found this repo via some facebook post.

[2021-10-07 05:00] Tawishi commented on #291
I should create the doc inside `docs/content/python/concepts/` as a folder for _inheritance_ or inside `docs/content/python/concepts/class` ?

[2021-10-07 05:07] Punit-Choudhary commented on #282
Hello 👋

Can I include Images or gifs to elaborate content?

Thanks

[2021-10-07 05:07] sonnynomnom commented on #283
Yep!

[2021-10-07 05:07] sonnynomnom commented on #278
Make a PR and we will have two maintainer review it!

[2021-10-07 05:08] sonnynomnom commented on #282
Absolutely! Take a look at the contribution guide to see where to add the images.

[2021-10-07 05:09] DeepakReddyVelagala commented on #287
thanks, I searched for hacktoberfest and found this

[2021-10-07 05:31] saurabh042 commented on #308
And that post was about hacktoberfest ;)

[2021-10-07 06:20] EugeneGohh commented on #287
Hi there, there is a headstart here on the [README](https://github.com/Codecademy/docs). Please go through the README and "[How do I contribute?](https://github.com/Codecademy/docs#how-do-i-contribute)" section.

[2021-10-07 09:52] rexdivakar commented on #185
Hey @sonnynomnom  are you looking for SQL Procedures with docs ? if so please assign this to me !

[2021-10-07 14:38] #319 closed

[2021-10-07 17:38] Dusch4593 opened #335 "[Entry Request] General: Unit Testing"
## Description

Write a "Unit Testing" entry in the General topic.

General topic: https://www.codecademy.com/resources/docs/general

## Type of Entry Request

- One or more new entries/terms requested.

## Checklist

- [x] The issue is appropriately titled.
- [x] Description is clear and includes supporting text, files, etc.
- [x] A similar issue hasn't already been created.
- [x] No more than 3

[2021-10-07 17:41] Dusch4593 opened #336 "[Entry Request] General: Open Source"
## Description

Write an "Open Source" entry in the General topic.

General topic: https://www.codecademy.com/resources/docs/general

## Type of Entry Request

- One or more new entries/terms requested.

## Checklist

- [x] The issue is appropriately titled.
- [x] Description is clear and includes supporting text, files, etc.
- [x] A similar issue hasn't already been created.
- [x] No more than 3

[2021-10-07 17:45] Dusch4593 opened #338 "[Entry Request] General: Modulo"
## Description

Write a "Modulo" entry in the General topic.

General topic: https://www.codecademy.com/resources/docs/general

## Type of Entry Request

- One or more new entries/terms requested.

## Checklist

- [x] The issue is appropriately titled.
- [x] Description is clear and includes supporting text, files, etc.
- [x] A similar issue hasn't already been created.
- [x] No more than 3 entrie

[2021-10-07 17:45] Dusch4593 opened #339 "[Entry Request] General: String"
## Description

Write a "String" entry in the General topic.

General topic: https://www.codecademy.com/resources/docs/general

## Type of Entry Request

- One or more new entries/terms requested.

## Checklist

- [x] The issue is appropriately titled.
- [x] Description is clear and includes supporting text, files, etc.
- [x] A similar issue hasn't already been created.
- [x] No more than 3 entrie

[2021-10-07 17:46] Dusch4593 opened #340 "[Entry Request] General: Tuple"
## Description

Write a "Tuple" entry in the General topic.

General topic: https://www.codecademy.com/resources/docs/general

## Type of Entry Request

- One or more new entries/terms requested.

## Checklist

- [x] The issue is appropriately titled.
- [x] Description is clear and includes supporting text, files, etc.
- [x] A similar issue hasn't already been created.
- [x] No more than 3 entries

[2021-10-07 18:44] NarayanAdithya commented on #340
@Dusch4593 I can do this, will you assign me this task.

[2021-10-07 21:31] Keshraf opened #345 "[Entry] isFinite method - JavaScript"
## Description

The tests are not passing in Pull Requests

## Type of Bug Request

## Type of Entry Request

- One or more new entries/terms requested.

## Checklist

- [x] The issue is appropriately titled.
- [x] Description is clear and includes supporting text, files, etc.
- [x] A similar issue hasn't already been created.
- [x] No more than 3 entries requested.

## For Maintainers

- [ ] Labe

[2021-10-08 02:53] #285 closed

[2021-10-08 02:57] KanhaKorgaonkar commented on #305
Hi! @sonnynomnom thanks! I found this on the Hacktoberfest discord server.

[2021-10-08 04:03] #300 closed

[2021-10-08 04:08] NarayanAdithya commented on #340
@sonnynomnom Hey, I searched for repo's with tags hacktoberfest and good first issue.

[2021-10-08 05:40] AnushaNathRoy commented on #191
@sonnynomnom I would like to take up this issue

[2021-10-08 07:19] Aashishkushwaha commented on #335
Hi @Dusch4593, I want to contribute to this topic, can you assign this to me?

[2021-10-08 15:49] griffincosgrove opened #354 "[Entry Edit Request] General: Git topic should include 'distributed' in description"
## Description
For the entry for the the [general topic Git](https://www.codecademy.com/resources/docs/general/what-is-git) the word distributed is missing from the description. Git is not just a version control system, it is a distributed version control system. This also appears in the [Git](https://git-scm.com/) home page, "Git is a free and open source distributed version control system"

## T

[2021-10-08 16:52] Keshraf opened #356 "[Entry] Add lastIndexOf() to Array - JavaScript"
## Description

Tests are not passed
Review Needed

## Type of Bug Request

## Type of Entry Request

- One or more new entries/terms requested.

## Checklist

- [x] The issue is appropriately titled.
- [x] Description is clear and includes supporting text, files, etc.
- [x] A similar issue hasn't already been created.
- [x] No more than 3 entries requested.

## For Maintainers

- [ ] Labels are a

[2021-10-08 17:13] griffincosgrove commented on #354
small and but important change, i would love to open a PR for this as long as there is agreement/approval

[2021-10-09 02:49] Devanshi0510 commented on #307
Hi!
Can you assign this to me?

[2021-10-09 03:47] Pandz18 opened #360 "Contribution Question"
Hello,
I want to contribute to this repository , please do correct me if I am wrong but we can contribute any concept or keyword from any language right? With an example too?

Sorry if creating an issue for this seems unnecessary.

[2021-10-09 04:30] Vivek-Prajapatii commented on #339
hey @Dusch4593  can you assign me this, i would love to do this

[2021-10-09 04:33] mairagee524 commented on #338
Ooh, I'd like to work on this if you still need help!

[2021-10-09 04:39] Vivek-Prajapatii commented on #345
hay @Keshraf can you please add the labels
and assign me this issue
i would love to do it

[2021-10-09 04:45] Pandz18 opened #361 "[Entry Request] Git: add and status commands"
## Description
- I want to create a git status and git add (git concept) files which shows what the commands are and how they can be used.

## Type of Entry Request

- One or more new entries/terms requested.
- Recommend change(s) to documentation (such as existing text or new text)

## Checklist

- [X] The issue is appropriately titled.
- [X] Description is clear and includes supporting text, fil

[2021-10-09 08:18] Tawishi commented on #273
I have raised a PR for the previously assigned issue. Can I take up this issue now?

[2021-10-09 09:22] Aashishkushwaha commented on #335
Hi @Dusch4593, I've raised the PR ( PR #363 ) which will close this issue. Please review the PR & do the needful. Thanks 👍

[2021-10-09 11:08] Punit-Choudhary commented on #282
Hey, Is there any word limit?

[2021-10-09 17:01] Antonio-Riccelli commented on #274
Hi @sonnynomnom,
One question regarding the `<time>` element: how in-depth are we looking to go with descriptions?
For example, the `datetime` attribute can accept values in about 10 different formats. Is it appropriate to list them all? Should we re-direct the reader to additional sources?
Thanks!

[2021-10-09 17:28] Dusch4593 commented on #339
Thanks, @shiningflutes. It's yours!

[2021-10-09 17:29] Dusch4593 commented on #338
Thanks, @mairagee524, I'll assign you to this one! 🙏🏻

[2021-10-10 06:56] KanhaKorgaonkar commented on #305
Hey @sonnynomnom I am really sorry but I couldn’t make much progress so far, so I am un-assigning myself from this issue. Thanks!

[2021-10-10 12:54] Dusch4593 opened #366 "[Term Request] JavaScript: toLocaleDateString()"
## Description

Write a term entry for the `toLocaleDateString()` method, which will be added to the Dates entry in the JavaScript section.

JavaScript/Dates topic: https://www.codecademy.com/resources/docs/javascript/dates

## Type of Entry Request

- One or more new entries/terms requested.

## Checklist

- [x] The issue is appropriately titled.
- [x] Description is clear and includes supporting

[2021-10-10 12:57] Dusch4593 commented on #345
Hey @Vivek-Prajapatii! Would you like to help with this issue #366?

[2021-10-10 13:10] wanjuntham commented on #275
@sonnynomnom Could you or your team help to review #367 ?

[2021-10-10 16:42] #297 closed

[2021-10-10 17:15] #279 closed

[2021-10-10 17:17] #299 closed

[2021-10-10 17:19] sonnynomnom commented on #360
Yeah exactly, if you think something is missing in the next three months, make a contribution!

[2021-10-10 17:21] #360 closed

[2021-10-10 17:26] #294 closed

[2021-10-11 02:47] Dusch4593 commented on #366
Hey @AndrasBard look out for more issues coming this week.

[2021-10-11 22:36] Dusch4593 commented on #361
@Pandz18 Assigned you! Thank you for requesting this entry 😄

[2021-10-12 02:53] sonnynomnom commented on #300
It's live! https://www.codecademy.com/resources/docs/java/constructors

[2021-10-12 04:38] sonnynomnom commented on #297
It's live!

[2021-10-12 05:50] sonnynomnom commented on #282
500-1000 is perfect

[2021-10-12 05:51] sonnynomnom commented on #286
You have to run some scripts, but don't worry. One of the maintainers will take a look within 72 hours.

[2021-10-13 00:29] FriskySaga commented on #273
Mind if I tackle on this issue?

[2021-10-16 07:03] shiningflutes commented on #273
Would like to take this issue!

[2021-10-16 10:00] Pandz18 opened #386 "[Entry] Create Git reset command"
## Description

Hey, I would like to create a file for the `git reset` command.

## Type of Entry Request

- One or more new entries/terms requested.

## Checklist

- [X] The issue is appropriately titled.
- [X] Description is clear and includes supporting text, files, etc.
- [X] A similar issue hasn't already been created.
- [X] No more than 3 entries requested.

## For Maintainers

- [x] Labels

[2021-10-17 03:32] dhruvy1 commented on #305
Hi @sonnynomnom could I please be assigned this issue?

[2021-10-17 13:38] balapriyac opened #387 "[Entry] Python: String Methods isupper() and islower()"
## Description

I found that the existing docs on Python strings has entries for `lower()` and `upper()` methods.
It would be good to add the related methods `islower()` and `isupper()` for checking if all characters in the string are in lower case or upper case, respectively.

## Type of Entry Request

- One or more new entries/terms requested.

## Checklist

- [x] The issue is appropriately titl

[2021-10-17 13:39] balapriyac commented on #387
Hi @Dusch4593, it was suggested by one of the reviewers on the team that it would be good to get an issue assigned, and then start working on it. I just submitted this issue. It would be great if you could assign me this one. Thank you.

[2021-10-17 13:47] Dusch4593 commented on #387
@balapriyac Let's do it! Assigned!

[2021-10-18 01:23] sonnynomnom commented on #305
Absolutely @dhruvy1!

[2021-10-18 01:24] sonnynomnom commented on #206
Absolutely @Mansi-Binjola!

[2021-10-18 01:27] #275 closed

[2021-10-18 15:24] sonnynomnom commented on #335
Need someone on this Issue again!

[2021-10-18 19:39] Dusch4593 commented on #386
@Pandz18 after we've finished with #374 you can go ahead and work on this one!

[2021-10-21 20:48] sonnynomnom commented on #273
@shiningflutes all you! thanks!

[2021-10-21 20:49] sonnynomnom commented on #273
@Tawishi sorry! giving it to a new contributor

[2021-10-21 20:49] sonnynomnom commented on #185
@rexdivakar Yep, it's yours!

[2021-10-26 20:39] Dusch4593 opened #398 "[Entry Edit] JavaScript: Data Types"
## Description

Would someone be open to making some edits to the existing entry for JavaScript: Data Types, including:

* Replace usage of 1st- and 2nd-person pronouns with neutral, manual-like language.

* Perhaps one code block or code byte example of each data type?

_**Note** : Don't worry about the table in [the live page for Data Types](https://www.codecademy.com/resources/docs/javascript/d

[2021-10-26 20:44] Dusch4593 opened #399 "[Entry Request] JavaScript: Maps"
## Description

Write a brief entry about JavaScript `Map` objects including:

* Common syntax
* One or two short examples

Motivation/Context: Maps are interesting alternatives to plain ol' JavaScript objects.

## Type of Entry Request

- One or more new entries/terms requested.

## Checklist

- [x] The issue is appropriately titled.
- [x] Description is clear and includes supporting text, files,

[2021-10-30 15:02] gracenn1998 commented on #398
I think can take this one, could you please assign this to me?

[2021-10-31 11:09] aweliego opened #404 "[Entry Request] General: What is Functional Programming?"
## Description

I would like to create a "What is Functional Programming?" entry in the General topic.

General topic: https://www.codecademy.com/resources/docs/general

## Type of Entry Request

- One or more new entries/terms requested.

## Checklist

- [x] The issue is appropriately titled.
- [x] Description is clear and includes supporting text, files, etc.
- [x] A similar issue hasn't already

[2021-10-31 11:15] aweliego commented on #404
Would love to work on that, if someone can assign it to me as I understood that's the best practice :)

[2021-11-01 18:49] Dusch4593 commented on #398
@gracenn1998 assigned! And yes, the link you provided points to the correct file that needs to be edited.

P.S. If you haven't seen my updated comment already, the table no longer needs to be edited for this issue. We noticed that it's not rendering correctly on [the live web page](https://www.codecademy.com/resources/docs/javascript/data-types). But my team and I are gonna take a look at that. We

[2021-11-01 18:51] Dusch4593 commented on #404
@aweliego You got it! Assigned!

[2021-11-01 19:33] sonnynomnom commented on #306
Closing!

[2021-11-01 19:33] #306 closed

[2021-11-02 11:56] sonnynomnom commented on #354
Fixed and closing!

[2021-11-02 11:56] #354 closed

[2021-11-02 11:56] sonnynomnom commented on #295
yep! @sammy8825

[2021-11-02 11:58] sonnynomnom commented on #335
Just realized this is a duplicate too. There's another issue on this already. Closing.

[2021-11-02 11:58] #335 closed

[2021-11-02 11:59] #206 closed

[2021-11-02 11:59] sonnynomnom commented on #191
Please take it @AnushaNathRoy!

[2021-11-03 17:30] Dusch4593 commented on #231
I'm going to move forward on this issue and work on a small PR. Gonna give these new workflows a whirl!

[2021-11-03 19:54] #231 closed

[2021-11-04 01:53] #361 closed

[2021-11-04 01:55] #287 closed

[2021-11-05 19:39] Dusch4593 opened #414 "[Entry Edit] React: Components"
## Description

Would someone be open to making some edits to the existing entry for [React: Components](https://www.codecademy.com/resources/docs/react/components), including:

- Adding hyperlinks to `state` and `props` with the Docs entry links for [state](https://www.codecademy.com/resources/docs/react/state) and [props](https://www.codecademy.com/resources/docs/react/props), respectively.

- A

[2021-11-08 19:17] #398 closed

[2021-11-08 22:04] #399 closed

[2021-11-10 13:24] yangc95 opened #420 "[Entry] Documentation: Content Catalog"
## Description

Add an entry to documentation on Content Catalog slugs.

## Type of Bug Request

- Updating the documentation

## Type of Entry Request

- Recommend change(s) to documentation (such as existing text or new text)

## Checklist

- [x] The issue is appropriately titled.
- [x] Description is clear and includes supporting text, files, etc.
- [x] A similar issue hasn't already been creat

[2021-11-10 21:00] #420 closed

[2021-11-11 18:26] JoshuaKGoldberg opened #422 "[Entry] General: Abstract Syntax Trees (ASTs)"
## Description

The concept of an Abstract Syntax Tree, or AST, is essential for learning how formatters, linters, and programming languages work. The [AST Wikipedia article](https://en.wikipedia.org/wiki/Abstract_syntax_tree) is overly technical for newcomers.

You can see an example of the type of explanation I'm proposing in the first heading content here: https://github.com/typescript-eslint/t

[2021-11-15 19:33] Emiliano-Russo commented on #414
i'll do it!

[2021-11-15 20:43] Dusch4593 commented on #414
@Emiliano-Russo You got it!

[2021-11-16 11:15] AnushaNathRoy commented on #191
@sonnynomnom
My PR is up for review:
https://github.com/Codecademy/docs/pull/427

[2021-11-18 03:12] #186 closed

[2021-11-18 20:11] Dusch4593 opened #433 "[Entry] HTML : <!DOCTYPE>"
### Entry Type (select all that apply)

New Entry for Existing Subject

### Code of Conduct

- [X] I agree to follow Codecademy Doc's Code of Conduct

### For Maintainers

- [X] Labels added
- [ ] Issue is assigned

[2021-11-18 20:18] yangc95 opened #434 "[Edit] JavaScript : Map"
### Type of Edit (select all that apply)

Add new content (definitions, codeblocks, etc.)

[javascript/concepts/map/map.md](https://github.com/Codecademy/docs/blob/main/content/javascript/concepts/map/map.md)

Would be great if we could include the functionality that in maps, values can be amended/changed.

### Code of Conduct

- [X] I agree to follow Codecademy Doc's Code of Conduct

### For Main

[2021-11-18 21:55] yangc95 opened #437 "[New Entry] Swift : Inheritance"
### Type of Edit (select all that apply)

Add new content (definitions, codeblocks, etc.)

Inheritance Entry needed.

### Code of Conduct

- [X] I agree to follow Codecademy Doc's Code of Conduct

### For Maintainers

- [X] Labels added
- [x] Assignee(s) added

[2021-11-18 22:43] Dusch4593 opened #438 "[Edit] CSS : Animations"
### Type of Edit (select all that apply)

Add new content (definitions, codeblocks, etc.)

### Description (optional)

Make changes in this file: **content/css/concepts/animations/animations.md**

Let's change the `@keyframes` rule to better demonstrate how CSS animations allow for multiple style changes to be implemented at different points in the frame-to-frame transition. Something like:

[code

[2021-11-18 22:45] Dusch4593 commented on #438
@reeceatkinson I'm going to assign this you to pick up where we left off.

[2021-11-22 19:37] #414 closed

[2021-11-27 02:09] #191 closed

[2021-11-27 02:11] #404 closed

[2021-11-29 17:37] r3vert commented on #433
Can I work on this?

[2021-11-29 19:43] Dusch4593 commented on #433
@r3vert Sure! I can assign this to you.

Just a heads up:

If you would like to receive credit for your contribution to an entry, make sure to have your Codecademy user profile linked to your GitHub account:

1. Go to your Codecademy dashboard.
2. Click on your profile image in the top-right and then choose "Profile".
3. Then click "Edit Profile".
4. In the "GitHub Username" field, add your userna

[2021-11-30 00:59] r3vert opened #444 "[Edit] React : Routing"
### Type of Edit (select all that apply)

Add new content (definitions, codeblocks, etc.)

### Description (optional)

The library React Router has been changed, and with it comes breaking changes. Since the official tutorial has been changed to reflect this Codecademy docs should change the code snippet to avoid confusion.

### Code of Conduct

- [X] I agree to follow Codecademy Doc's Code of Con

[2021-11-30 00:59] r3vert commented on #444
I would be willing to work on this

[2021-11-30 16:27] r3vert commented on #433
I have finished and I am waiting for a review so I can merge

[2021-11-30 21:38] Dusch4593 commented on #433
@r3vert We will actually take care of the merging at the end!

Things are a bit slow this month, so look out for a review in the next week or two. 😃

[2021-12-01 15:46] r3vert commented on #422
Could I try this?

[2021-12-01 22:04] YS-Abstract opened #447 "[Bug/Error] HTML Trailing Slashes : Best practice to not include XHTML-style trailing slashes in the HTML docs."
### Type of Edit (select all that apply)

Clarify unclear content and/or terms

### Description (optional)

According to [MDN HTML Guidelines](https://developer.mozilla.org/en-US/docs/MDN/Guidelines/Code_guidelines/HTML#trailing_slashes),

It's only a matter of style, but removing the trailing slashes improves the clarity and consistency of the code - especially since they are not referenced in th

[2021-12-01 22:48] yangc95 opened #448 "[Edit] JavaScript : Arrays"
### Type of Edit (select all that apply)

Add new content (definitions, codeblocks, etc.)

### Description (optional)

Amend:

- how to update elements in an array
- nested arrays

https://www.codecademy.com/resources/docs/javascript/arrays

### Code of Conduct

- [X] I agree to follow Codecademy Doc's Code of Conduct

### For Maintainers

- [X] Labels added
- [x] Issue is assigned

[2021-12-01 23:19] yangc95 opened #449 "[Term Entry] HTML Tags : <main>"
### Entry Type (select all that apply)

New Term for Existing Entry

### Code of Conduct

- [X] I agree to follow Codecademy Doc's Code of Conduct

### For Maintainers

- [X] Labels added
- [x] Issue is assigned

[2021-12-01 23:20] yangc95 opened #450 "[Term Entry] HTML Tags : <audio>"
### Entry Type (select all that apply)

New Term for Existing Entry

### Code of Conduct

- [X] I agree to follow Codecademy Doc's Code of Conduct

### For Maintainers

- [X] Labels added
- [x] Issue is assigned

[2021-12-01 23:21] yangc95 opened #451 "[Entry] HTML Tags : <embed/>"
### Entry Type (select all that apply)

New Term for Existing Entry

### Code of Conduct

- [X] I agree to follow Codecademy Doc's Code of Conduct

### For Maintainers

- [X] Labels added
- [x] Issue is assigned

[2021-12-02 01:26] r3vert commented on #449
Can I work on this?

[2021-12-02 01:26] r3vert commented on #451
Can I work on this?

[2021-12-02 01:26] r3vert commented on #450
Can I work on this?

[2021-12-02 17:18] yangc95 opened #452 "[Edit] JavaScript : Loops"
### Type of Edit (select all that apply)

Add new content (definitions, codeblocks, etc.)

### Description (optional)

"Looping Through Objects" needed underneath "Looping Through Arrays"

https://www.codecademy.com/resources/docs/javascript/loops

### Code of Conduct

- [X] I agree to follow Codecademy Doc's Code of Conduct

### For Maintainers

- [X] Labels added
- [x] Issue is assigned

[2021-12-02 21:25] yangc95 opened #453 "[Entry] Python Built-in Functions : print()"
### Entry Type (select all that apply)

New Term for Existing Entry

### Code of Conduct

- [X] I agree to follow Codecademy Doc's Code of Conduct

### For Maintainers

- [X] Labels added
- [x] Issue is assigned

[2021-12-02 22:17] yangc95 commented on #451
Would love to assign you more issues! You can work on your currently assigned issues (including this one) and submit a pull request (PR) for each one through your forked branch, each PR submitted on a different branch. Or if you wish to group some of these issues into one PR, keep a max of 3 added/changed files.

See you on the flip 🏄 (PR side)!

[2021-12-03 03:24] r3vert commented on #444
I just finished the pull request and it is ready for review!

[2021-12-04 02:13] r3vert commented on #453
can I work on this?

[2021-12-04 02:18] r3vert commented on #448
Can I work on this?

[2021-12-04 02:20] r3vert commented on #447
Can I work on this?

[2021-12-04 03:03] r3vert opened #457 "[Edit] React : State"
### Type of Edit

Add new content (definitions, codeblocks, etc.)

### Description

Now that hooks have been the default way of using state since 2019 I propose that we add a part showing how use state with `useState()` since react beginners will be using it.

### Code of Conduct

- [X] I agree to follow Codecademy Doc's Code of Conduct

### For Maintainers

- [X] Labels added
- [x] Issue is assig

[2021-12-04 03:17] r3vert commented on #457
I would work on this

[2021-12-09 22:58] #444 closed

[2021-12-10 18:17] KabirCampwala commented on #453
I would love to work on this!

[2021-12-10 18:23] KabirCampwala commented on #452
Can you assign this to me?

[2021-12-14 04:39] EugeneGohh commented on #218
I'm back! Can I take over this since @rexdivakar does not have any PR bout it?

[2021-12-14 22:58] hughlilly opened #466 "[Bug/Error] Need Better Term Table Naming"
### Actual Behavior

On [the page about lists in Python](https://www.codecademy.com/resources/docs/python/strings), the `h2` heading after the content just says "Lists":

<img width="620" alt="image" src="https://user-images.githubusercontent.com/12046008/146092348-c62017d3-0ff5-402e-a59f-e7c2bdf5e069.png">

The same is true of [the page for Strings](https://www.codecademy.com/resources/docs/pytho

[2021-12-14 23:35] Dusch4593 commented on #466
Great catch, @hughlilly! Thank you for bringing attention to this 😄 Since this issue relates to the actual Docs site, I wanna defer to one of the engineers for this one (cc: @christian-dinh) to see how to move forward.

[2021-12-15 01:34] hughlilly commented on #466
Thanks. For what it's worth I also think the middle section of the content could be wider. As a test I set the navigation sidebar to 2 wide and the middle portion to 7:

<img width="1680" alt="image" src="https://user-images.githubusercontent.com/12046008/146106497-49cbd719-b2a2-46fa-9f87-5994486ceae5.png">

This would allow for much easier reading, particularly with regard to long single lines of

[2021-12-16 16:38] Dusch4593 commented on #185
Hi @rexdivakar! Brandon from the Free Team 😄 Just wanted to check in and ask if you were still working on a PR for this issue?

[2021-12-16 16:39] Dusch4593 commented on #193
Hi @bhagyamudgal ! Brandon from the Free Team 😄 Just wanted to check in and ask if you were still working on a PR for this issue?

[2021-12-16 16:43] Dusch4593 commented on #218
@EugeneGohh sure! I'll reassign to you.

@rexdivakar You're still assigned to #185; did you still want to create a PR for that one?

[2021-12-16 16:44] Dusch4593 commented on #273
Hi @shiningflutes! Brandon from the Free Team 😄 Just wanted to check in and ask if you were still working on a PR for this issue?

[2021-12-16 16:46] Dusch4593 commented on #281
Re-opened for anyone who'd like to make a PR for this issue!

[2021-12-16 16:47] Dusch4593 commented on #282
Hi @Punit-Choudhary! Brandon from the Free Team 😄 Just wanted to check in and ask if you were still working on a PR for this issue?

[2021-12-16 16:47] Dusch4593 commented on #284
Hi @ManishS6! Brandon from the Free Team 😄 Just wanted to check in and ask if you were still working on a PR for this issue?

[2021-12-16 16:48] Dusch4593 commented on #292
This issue is open for assignment to anyone who is interested! 😄

[2021-12-16 16:49] Dusch4593 commented on #295
Hi @sammy8825! Brandon from the Free Team 😄 Just wanted to check in and ask if you were still working on a PR for this issue?

[2021-12-16 16:49] Dusch4593 commented on #298
Hi @TusharSharmaIN! Brandon from the Free Team 😄 Just wanted to check in and ask if you were still working on a PR for this issue?

[2021-12-16 16:49] Dusch4593 commented on #301
Hi @rishikeshreddyakkireddy! Brandon from the Free Team 😄 Just wanted to check in and ask if you were still working on a PR for this issue?

[2021-12-16 16:50] Dusch4593 commented on #305
Hi @dhruvy1! Brandon from the Free Team 😄 Just wanted to check in and ask if you were still working on a PR for this issue?

[2021-12-16 16:51] Dusch4593 commented on #307
Hi @Devanshi0510! Brandon from the Free Team 😄 Just wanted to check in and ask if you were still working on a PR for this issue?

[2021-12-16 16:51] Dusch4593 commented on #336
Hi @griffincosgrove! Just wanted to check in and ask if you were still working on a PR for this issue?

[2021-12-16 16:52] Dusch4593 commented on #338
Hi @mairagee524! Just wanted to check in and ask if you were still working on a PR for this issue?

[2021-12-16 16:52] Dusch4593 commented on #340
Hi @NarayanAdithya! Brandon from the Free Team 😄 Just wanted to check in and ask if you were still working on a PR for this issue?

[2021-12-16 16:53] Dusch4593 commented on #386
Hi @Pandz18! How are you? 😄 Just wanted to check in and ask if you were still working on a PR for this issue?

[2021-12-16 16:53] Dusch4593 commented on #387
Hi @balapriyac! Just wanted to check in and ask if you were still working on a PR for this issue?

[2021-12-16 17:41] Dusch4593 commented on #448
@r3vert since you are assigned to a few other open issues, let's assign this one to another contributor.

[2021-12-16 17:44] Dusch4593 commented on #457
@r3vert Since you are already assigned to a few other open issues, let's assign this one to another contributor 😄

[2021-12-16 18:08] r3vert commented on #448
ok i am fine with that

[2021-12-16 18:13] r3vert commented on #457
I am fine with that

[2021-12-16 19:09] Devanshi0510 commented on #307
Sorry, I'm not.

[2021-12-16 20:38] Dusch4593 commented on #307
No worries! Did you still want to make one or pass to another contributor?

[2021-12-16 21:15] Dusch4593 commented on #466
Hi @hughlilly! Wanted to follow up with you 😃

Regarding the naming issue, this seems to be a temporary workaround for the different kinds of "terms" that could be tabulated (methods, tags, functions, etc.).

Folks in Engineering and Product have been informed of the points you brought up in this issue. For now, until I hear otherwise, we're going to hold off on this issue by keeping it up with a

[2021-12-16 21:17] hughlilly commented on #466
@Dusch4593, thank you so much for the quick response. 😎

[2021-12-16 21:21] #466 closed

[2021-12-17 02:34] yangc95 commented on #453
@r3vert, thanks for being so diligent! However, I'm going to give this one to @KabirCampwala ☺️

r3vert, definitely finish up your open PR [456](https://github.com/Codecademy/docs/pull/456) so we can assign you some of the issues you want to take on!

[2021-12-17 02:36] yangc95 commented on #452
@KabirCampwala, assigned! Let's get you started with these two issues first. Reach out if you have any questions by tagging me 😌

[2021-12-17 04:03] Devanshi0510 commented on #307
Another contributor can take it.

[2021-12-18 04:54] Punit-Choudhary commented on #282
Hey, @Dusch4593 I am sorry for the delay.
I was stuck between my Semester Exams, I am almost done with the issue, need to check for grammatical mistakes.
Thanks

[2021-12-18 10:45] Vivek-Prajapatii commented on #292
may i take it?

[2021-12-18 10:48] Vivek-Prajapatii commented on #307
may i take this issue?
i'm interested

[2021-12-18 14:00] Dusch4593 commented on #292
@Vivek-Prajapatii Sure! You're assigned! Be sure to take a look at the [CONTRIBUTING.md guide](https://github.com/Codecademy/docs/blob/main/.github/CONTRIBUTING.md) and [the entry template](https://github.com/Codecademy/docs/blob/main/documentation/entry-template.md) while you work on your changes.

[2021-12-18 14:03] Dusch4593 commented on #307
@Vivek-Prajapatii I just assigned #292 to you. Why don't you work on that one first? (Going forward, I'd like to the assignments to be one issue:one contributor at a time.

[2021-12-18 16:09] SSwiniarski commented on #448
I'll take this on.

[2021-12-19 09:31] shiningflutes commented on #273
hi @Dusch4593 , yes am still interested! Will be sending in soon, was busy with work sorry

[2021-12-19 21:51] hughlilly opened #475 "[Bug/Error] "Contributions" plural even if user has contributed only once"
### Actual Behavior

The "Contributors" block on the right side displays contributors, and when each is hovered over, a popup appears. This uses the term "contributions" in the plural, even if that user has contributed to that entry only once.

For example:

<img width="938" alt="image" src="https://user-images.githubusercontent.com/12046008/146692067-391fa176-123d-42c0-bb20-3c34c2367f86.png">

##

[2021-12-20 10:24] ManishS6 commented on #284
@Dusch4593 I totally forgot about this Issue. Sorry for that, I'll unassign myself.

[2021-12-20 11:48] balapriyac commented on #387
Hi @Dusch4593 , I'm sorry that I totally forgot about this. Apologies for the delay. Shall send in the PR soon.

[2021-12-20 13:41] Dusch4593 commented on #284
@ManishS6 No worries! If you're ever interested in coming back I'm positive there will be an open issue that interests you! Thank you!

[2021-12-20 15:28] Dusch4593 commented on #273
No worries, take your time! Many thanks! 🙏

[2021-12-20 18:19] Dusch4593 commented on #475
@hughlilly Thank you for raising awareness to this issue! Similar to issue #466, I'm going to defer to our Engineering and Product teams. Perhaps this will be included in a future update to Docs.

[2021-12-21 18:31] Dusch4593 commented on #475
Closing for now but will most likely revisit later after New Year's. Thank you again, @hughlilly, for pointing this out! 😄

[2021-12-21 18:31] #475 closed

[2021-12-22 03:08] bhagyamudgal commented on #193
@Dusch4593 I am not working on this issue. You can give it to someone else.

[2021-12-22 04:02] Pandz18 commented on #386
Hi @Dusch4593 , I'm great and how about you? Yes I'm trying to work on the issue but I'm currently busy with my University exams, as soon as I'm done, I'll try to finish as soon as possible. Sorry for the inconvenience.

[2021-12-22 11:19] Vivek-Prajapatii commented on #284
hey @Dusch4593  may i take this issue ?
interested in it.

[2021-12-22 12:39] SSwiniarski commented on #185
@Dusch4593, per our meeting, I'll take over from @rexdivakar for this entry.

[2021-12-22 14:53] Dusch4593 commented on #284
Since we're currently working with you on #480, let's leave this issue open for someone else for now. 😄

[2021-12-22 16:54] Dusch4593 opened #482 "[Entry] CSS: Floats"
### Entry Type (select all that apply)

New Entry for Existing Subject

### Code of Conduct

- [X] I agree to follow Codecademy Doc's Code of Conduct

### For Maintainers

- [X] Labels added
- [x] Issue is assigned

[2021-12-22 17:21] #451 closed

[2021-12-22 18:09] #387 closed

[2021-12-24 22:42] #448 closed

[2021-12-25 03:06] dhruvy1 commented on #305
Hi @Dusch4593 sorry, I was not able to finish this one as it has a wider scope than I originally thought. Please unassign me and ill try a different issue later :)

[2021-12-25 21:14] Dusch4593 commented on #305
@dhruvy1 No worries! There's tons of open issues with more on the way. And we look forward to working with you on one of them! 😃

[2021-12-25 23:10] Dusch4593 opened #486 "[Term Entry] Python Built-in Functions: `str()`"
### Reason/inspiration (optional)

Looks like we have term entries for [`float()`](https://www.codecademy.com/resources/docs/python/built-in-functions/float) and [`int()`](https://www.codecademy.com/resources/docs/python/built-in-functions/int). Use either of those entries as a structure-guide for writing this one. 😄

Python `float()`: https://www.codecademy.com/resources/docs/python/built-in-func

[2021-12-26 15:40] SSwiniarski commented on #194
This has been done for a while.

[2021-12-26 15:40] #194 closed

[2021-12-28 04:48] lhmzhou opened #491 "[Entry Request] General: Cryptocurrency"
### Reason/inspiration (optional)

What is cryptocurrency?
Pretend I'm 5 years old, and explain what Bitcoin is? Ethereum? Dogecoin? DeFi?
Share wisdom on the future of crypto and how it will shape the role of money in society.

### Entry Type (select all that apply)

New Topic Entry

### Code of Conduct

- [X] I agree to follow Codecademy Doc's Code of Conduct

### For Maintainers

- [X] Labels a

[2021-12-28 04:50] catherinemds commented on #491
Hi, can I take on this issue?

[2021-12-29 01:33] Dusch4593 commented on #434
I can take this one on!

[2021-12-29 12:15] sudojarvis commented on #482
I would like to work on this issue.

[2021-12-29 15:34] Dusch4593 commented on #482
@sudojarvis Awesome, thank you! Just assigned you. 😃

If you haven't already, take a look at the [Docs contributing guide](https://github.com/Codecademy/docs/blob/main/documentation/entry-template.md) and [entry template](https://github.com/Codecademy/docs/blob/main/documentation/entry-template.md) for guidance on writing the entry and PR.

[2021-12-29 15:59] #218 closed

[2021-12-29 16:23] #453 closed

[2021-12-29 21:00] Dusch4593 commented on #434
I'm also noticing that most of the what's covered in the current version the [JavaScript: Maps entry in Docs] can be separated into term entries (like one for `.set()`, `.get()`, `.size`, etc.).

I can create 2-3 term entries to start and files issues for the rest.

[2021-12-29 23:18] #292 closed

[2021-12-30 13:40] Dusch4593 commented on #449
Hey @r3vert, hope you're doing well! Wanted to check in and ask if you were still working on a PR for this issue?

[2021-12-30 13:41] Dusch4593 commented on #450
Hey @r3vert, hope you're doing well! Wanted to check in and ask if you were still working on a PR for this issue?

[2021-12-30 14:02] r3vert commented on #449
I am very sorry but i am currently busy right now

[2021-12-30 14:02] r3vert commented on #450
I am very sorry but i am currently busy right now

[2021-12-30 14:04] Dusch4593 commented on #449
No worries!

[2021-12-30 14:04] Dusch4593 commented on #450
No worries!

[2021-12-30 23:53] #185 closed

[2021-12-31 13:33] #434 closed

[2022-01-01 21:18] #486 closed

[2022-01-01 22:36] #193 closed

[2022-01-01 23:32] Vivek-Prajapatii commented on #450
May I go ahead with it?

[2022-01-02 13:55] SSwiniarski commented on #281
@Dusch4593, I'll take this one over.

[2022-01-02 13:58] SSwiniarski commented on #295
@Dusch4593, I'll take this over if there's no response by the time I finish [281](https://github.com/Codecademy/docs/issues/281).

[2022-01-02 16:30] yangc95 commented on #434
I only saw this just now, but I enjoyed going through all the entries! Thanks @Dusch4593 for taking on this issue 😄

[2022-01-03 17:30] SSwiniarski commented on #305
@Dusch4593, I'll tackle this one

[2022-01-05 02:10] Dusch4593 commented on #447
@r3vert I'm actually going to reserve this issue for later time since a lot of flies may need to be edited.

[2022-01-05 02:18] Dusch4593 commented on #449
I'll actually take this one on 😃

[2022-01-05 02:27] Dusch4593 commented on #449
After some research, I think this term entry should go with the ones for the "Semantic HTML" concept (instead of "HTML Tags") since it the `<main>` is used to signify the main content within the `<body>`.

[2022-01-05 11:05] KabirCampwala commented on #307
Hi! I can do this one.

[2022-01-05 14:39] Dusch4593 commented on #307
@KabirCampwala Absolutely! You are assigned!

[2022-01-05 19:36] #264 closed

[2022-01-08 17:14] ethan-master-coding opened #512 "[Entry Request]: General: Data types"
### Reason/inspiration (optional)

What are data types and what are they. Say what data types are and give the types also.

### Entry Type (select all that apply)

New Topic Entry

### Code of Conduct

- [X] I agree to follow Codecademy Doc's Code of Conduct

### For Maintainers

- [x] Labels added
- [x] Issue is assigned

[2022-01-09 02:20] #197 closed

[2022-01-11 17:25] shiningflutes commented on #273
Thank you! Will be uploading soon - doing some finishing touches!

[2022-01-14 00:11] #295 closed

[2022-01-15 13:24] Pandz18 opened #515 "[Term Entry] Python Strings: `.endswith()`"
### Reason/inspiration (optional)

Hey,
I would like to create an entry for the inbuilt string library functions in python such as capitalize(). If I would like to enter more terms do I have to create multiple entries or can I piggyback on this Issue? And do I have to create different PRs for each term or just one common branch ex: "Python-string-infunct"?

### Entry Type (select all that apply)

[2022-01-16 04:39] Dusch4593 commented on #515
Hey @Pandz18 there's already [an entry for Python strings](https://www.codecademy.com/resources/docs/python/strings) with a terms table of its built-in functions near the bottom. We are always happy to add more term entries for more functions, though! 😄

Going forward, we're trying to keep it to one entry per one issue. That's why we link PRs to them so that once the linked PR is merged, the issue

[2022-01-16 05:08] Pandz18 commented on #515
Hey @Dusch4593 ,

Could I add get ".endswith()" function?

OK thank you for clarifying that. Also another question, I have just created a PR regarding the git reset command ? If I begin to work on these new functions that I would like to add, would there be clashes if I make PRs regarding them? Or should I wait till the PR for the reset command is merged?

[2022-01-16 20:02] #449 closed

[2022-01-18 14:08] griffincosgrove commented on #336
Ah crap think I wrote something out and forgot to actually PR it. Will post here and you can use whatever you like

[2022-01-18 14:12] griffincosgrove commented on #336
@SSwiniarski here is my definition.
'Open Source Software is free software that is licensed under permissive licenses that generally allow for the inspection, modification, and dissemination of the underlying source code, depending on the license. Anyone is able to offer improvements back to the software via a Pull Request. Open Source software is the opposite of proprietary or closed source softw

[2022-01-18 14:34] djouonhou commented on #491
#curency

[2022-01-19 22:00] Ethan-Master-Coding commented on #515
@Pandz18 You can have multiple PRs open at a time there is no reason to wait. At one time I personally had about 4 open at once.

[2022-01-20 00:08] Ethan-Master-Coding commented on #512
Hey, @Dusch4593 can you assign this to me? Also when I finish where should I put the entry?

[2022-01-21 16:48] Dusch4593 commented on #515
@Pandz18 To Ethan's point, it is totally ok to submit more than 1 PR at a time. However, I recommend no more than 2-3 so that there is plenty of opportunity to go around for all Docs contributors.

Say, for example, I wanted to create entries for 2 concepts (A and B) and one (unrelated) term. I'd do the following:

- Submit one (1) PR for concept A; only changes for that entry should be pushed to

[2022-01-21 16:55] Dusch4593 commented on #512
@Ethan-Master-Coding Happy to assign you! What do you mean by "where should I put the entry"?

[2022-01-21 17:08] #281 closed

[2022-01-21 18:25] Ethan-Master-Coding commented on #512
@Dusch4593 When I finish where should I make a file to put the article in?

[2022-01-21 18:26] Dusch4593 commented on #512
Inside the `general` folder, create another folder called `data-types`. Then create a `data-types.md` file to paste the article inside.

[2022-01-22 02:59] #284 closed

[2022-01-22 14:17] SSwiniarski commented on #298
@Dusch4593, since @TusharSharmaIN hasn't responded, I'll take this one over.

[2022-01-23 07:17] FarScoutOne commented on #340
I can tackle this issue if the extra help is needed. ✋🏻

[2022-01-23 07:21] FarScoutOne commented on #491
I would love to take this one on.

[2022-01-23 15:27] Ethan-Master-Coding commented on #512
@Dusch4593 Made a PR for the changes found [here](https://github.com/Codecademy/docs/pull/521). Feel free to close this issue.

[2022-01-23 16:02] SSwiniarski commented on #301
@Dusch4593, since @rishikeshreddyakkireddy hasn't responded, I'll take this on.

[2022-01-23 16:09] SSwiniarski commented on #301
@Dusch4593: Actually, this seems to be covered by the existing operators entry in Java. We should probably just close it.

[2022-01-24 12:53] SSwiniarski commented on #338
@Dusch4593, since @mairagee524 hasn't responded, I'll take this one on.

[2022-01-24 17:06] SSwiniarski commented on #340
@Dusch4593, since @NarayanAdithya hasn't responded, let's have @FarScoutOne take a crack at it.

[2022-01-24 17:08] SSwiniarski commented on #340
I passed it on to you, @FarScoutOne.

[2022-01-24 17:09] SSwiniarski commented on #422
@r3vert, are you still interested in this?

[2022-01-24 17:10] r3vert commented on #422
no

[2022-01-24 17:10] SSwiniarski commented on #180
@yangc95, are you still planning to do this?

[2022-01-24 21:41] KTom101 commented on #491
@FarScoutOne It's all yours!

[2022-01-24 21:58] yangc95 commented on #437
@KTom101, thanks for the recommendation of making this a separate inheritance entry!

[2022-01-24 22:22] yangc95 commented on #180
@SSwiniarski yup! I'm still working on these two entries. Thanks for checking in

[2022-01-25 17:06] SSwiniarski commented on #422
@Dusch4593, I guess I'll look into doing this.

[2022-01-25 17:07] Dusch4593 commented on #422
Thanks, Steve!

[2022-01-27 22:55] #305 closed

[2022-01-28 00:15] Dusch4593 opened #525 "[Entry] CSS : Anatomy"
### Reason/inspiration (optional)

Write an entry about the anatomy of CSS, including:

- What a ruleset is and what it is made of.
- What are inline styles and what do they look like?
- Code snippet examples and images of diagrams would be helpful.

Use this Codecademy lesson as a guide: https://www.codecademy.com/courses/learn-css/lessons/learn-css-setup-and-syntax/exercises/css-anatomy

### Ent

[2022-01-28 00:23] Dusch4593 opened #526 "[Term Entry] HTML Tags:`<q>`"
### Reason/inspiration (optional)

For [the HTML tags](https://www.codecademy.com/resources/docs/html/tags), write a term entry about the `<q>` element, including:

- Used for short, inline quotations.
- Its `cite` attribute and what it is used for.
- One "Syntax" section and one "Example" section.

### Entry Type (select all that apply)

New Term for Existing Concept Entry

### Code of Conduct

-

[2022-01-28 01:06] Dusch4593 opened #527 "[Term Entry] Python Built-in Methods: `open()`"
### Reason/inspiration (optional)

Write a term entry for the `open()` file method in Python and include the following information:

- A brief "## Syntax" section with a few brief sentences and supporting code snippet.
- A concise breakdown of the different modes Python can apply to files with `open()`:
  - `r` - read a file
  - `w` - write to a file
  - `a` - append a file
  - `x` - create a file

[2022-01-28 01:28] Dusch4593 opened #528 "[Term Entry] HMTL Tags : `<source>`"
### Reason/inspiration (optional)

Write a term entry about the `<source>` attribute that includes:

- Brief "Syntax" and "Example" sections.
- Info about `<source>` being an empty element and how it should never use a closing tag or slash `/`.
- A short breakdown of some of its common attributes such as:
  - `media`
  - `sizes`
  - `src`
  - `srcset`
  - `type`

### Entry Type (select all that ap

[2022-01-28 01:31] Dusch4593 opened #529 "[Term Entry] HTML Tags : `<picture>`"
### Reason/inspiration (optional)

Write a term entry about the `<picture>` HTML tag, including:

- Brief "Syntax" and "Example" sections.
- Some of its use-cases (art direction, page load time optimization, etc.)
- How the `<source>` and `<img>` elements function within a `<picture>` element.

### Entry Type (select all that apply)

New Term for Existing Concept Entry

### Code of Conduct

- [X]

[2022-01-28 01:47] Dusch4593 opened #530 "[Entry] C++ : Errors"
### Reason/inspiration (optional)

Write a C++ concept entry about errors, including:

- Brief "Syntax" and "Example" sections with supporting text and code snippets.

- The general error-classifications, such as:
  - Syntax errors
  - Compile-time errors
  - Link-time errors
  - Run-time errors
  - Logic errors

Note: Don't talk too much about exceptions. We already have [an entry for that](https

[2022-01-28 19:36] SSwiniarski commented on #447
@Dusch4593, want me to go though all these?

[2022-01-28 19:38] Dusch4593 commented on #447
Sure! Appreciate it 🙏🏻

[2022-01-28 22:11] #338 closed

[2022-01-29 18:26] #298 closed

[2022-01-29 19:33] KTom101 commented on #301
@SSwiniarski Thanks for pointing this out. It appears this was resolved through [PR #382](https://github.com/Codecademy/docs/pull/382) right after this request was made. I'm closing the issue!

[2022-01-29 19:33] #301 closed

[2022-01-29 20:25] KTom101 commented on #527
@Dusch4593 perhaps the first half of [PR #516 ](https://github.com/Codecademy/docs/pull/516/files) could resolve this?

[2022-01-29 21:07] KTom101 commented on #530
@Dusch4593 I'll work on this one!

[2022-01-30 03:59] Dusch4593 commented on #530
Thank you!

[2022-01-31 12:35] SSwiniarski commented on #525
@Dusch4593, I'll take this one.

[2022-02-01 23:57] #336 closed

[2022-02-06 16:36] ethan-master-coding commented on #512
Closing this issue because the PR is almost merged. Again you can view the PR with this link: #521

[2022-02-06 16:37] ethan-master-coding commented on #512
Closing this issue because the PR is almost merged. Again you can view the PR with this link: #521

[2022-02-06 17:26] Dusch4593 commented on #512
@ethan-master-coding We actually prefer to have each issue close at the moment that their corresponding PR is merged. Therefore, let's go ahead and keep this issue open until then. Definitely looking forward to merging #521! 😄

[2022-02-06 17:29] ethan-master-coding commented on #512
@Dusch4593 Got it. I finished making the changes. You might have missed it because I mentioned you in one of the [threads](https://github.com/Codecademy/docs/pull/521#discussion_r800083041) instead of the main comments.

[2022-02-07 00:19] ethan-master-coding commented on #512
@Dusch4593 Then can you link the PR so this auto closes once the PR is merged?

[2022-02-07 00:50] aedwardg opened #538 "[Edit] Subject : Git"
### Type of Edit (select all that apply)

Fix grammar, spelling, Clarify unclear content and/or terms, Add new content (definitions, codeblocks, etc.)

### Description (optional)

There are several incorrect, incomplete or unclear areas in the Git content.
This issue is to edit/update those.  No new Git concepts to be added as part of this issue.

### Code of Conduct

- [X] I agree to follow Codec

[2022-02-07 01:30] KTom101 commented on #538
@aedwardg Are there specific concepts this issue is linked to?

[2022-02-07 03:02] aedwardg commented on #538
@KTom101 All of them except for `init` and `status`.
PR to come shortly 🙂

[2022-02-09 21:47] #437 closed

[2022-02-14 19:18] Dusch4593 commented on #538
Hey @aedwardg! For your PR, could we actually make a few changes to `init` and `status` as well? I was thinking of the following:

**For `init`**

Any instances of using a 1st- and 2nd- person voice (both explicit and imperative) should be replaced with either of the following:

- A more neutral, manual-like voice.
- Usage of a 3rd-person voice.

Example:

We should replace "How do I init?" with s

[2022-02-15 13:21] Antonio-Riccelli commented on #526
Hi @Dusch4593,
I see this has been open for a while, but no assignees. Could I contribute?

[2022-02-15 13:59] Dusch4593 commented on #526
Hey @Antonio-Riccelli, you're now assigned! 😄

[2022-02-15 22:57] denisCabrera commented on #529
Hi, I see this has been open for a bit, can I have a go at it ?

[2022-02-17 19:03] Dusch4593 opened #546 "[Entry] General: Vim"
### Reason/inspiration (optional)

In the "General" topic, write a concept entry about Vim, an open-source terminal-based text editor for Unix-based systems. Be sure to include the following:

- A link to the official Vim website, https://www.vim.org/.
- Code snippets (```bash) that show how to launch Vim.
- A _brief_ section about how to use Vim.
- A screenshot of Vim being used on a terminal.

#

[2022-02-17 19:07] Dusch4593 opened #547 "[Entry] General: Middleware"
### Reason/inspiration (optional)

In the "General" topic, write a concept entry about middleware including:

- A brief definition that outlines its functions and importance.
- A short list of well-known examples of middleware.

### Entry Type (select all that apply)

New Concept Entry for Existing Topic

### Code of Conduct

- [X] I agree to follow Codecademy Doc's Code of Conduct

### For Mainta

[2022-02-17 19:16] Dusch4593 opened #548 "[Entry] General: Static Site Generators"
### Reason/inspiration (optional)

In the "General" topic, write a concept entry that defines static site generators (SSGs) and includes:

- A brief 2-3 sentence paragraph about the history/importance of SSGs.
- How do SSGs differ from content management systems (CSMs) like Wordpress?
- Include a short list of well-known examples of SSGs including Next.js ([we have a Docs entry for it](https://www

[2022-02-17 19:30] Dusch4593 opened #549 "[Entry] Python: Substring"
### Reason/inspiration (optional)

Working with substrings in Python is pretty robust so we think it deserves its own concept entry! In this new entry, be sure to include the following:

- A hyperlink to [the existing Python: Strings entry](https://www.codecademy.com/resources/docs/python/strings).
- A "## Syntax" section that has 1-2 sentences about indexing in Python strings using the ```pseudo

[2022-02-17 19:53] Dusch4593 opened #551 "[Entry] SQL: Wildcards"
### Reason/inspiration (optional)

Write a concept entry about how wildcards add versatility to SQL statements, including:

- A brief 2-3 sentence paragraph that defines wildcards and what they're used for.
- A "## Syntax" section with a short list of common wildcards (`*`, `_`, `%`, etc.).
- An "## Examples" section that has:
  - One example of using the `*` wildcard.
  - One example that demonst

[2022-02-17 20:01] Dusch4593 opened #552 "[Entry] SQL: Injections"
### Reason/inspiration (optional)

Write a concept entry that defines SQL injections and what they're used for and why it is harmful to any data-driven application. Be sure to include:

- Common examples of injection.
- Ways to prevent injection (including SQL parameters)

### Entry Type (select all that apply)

New Concept Entry for Existing Topic

### Code of Conduct

- [X] I agree to follow Cod

[2022-02-17 20:09] Dusch4593 opened #553 "[Entry] Go: Conditionals"
### Reason/inspiration (optional)

Write a concept entry that defines conditionals in Go and includes information about:

- The `if...else`  and `else if` statements.
- Comparison operators like `==` and `>=`.
- Logical operators like `&&` and `||`.

Be sure to include code snippet examples, as well. 😄

### Entry Type (select all that apply)

New Concept Entry for Existing Topic

### Code of Condu

[2022-02-17 20:12] Dusch4593 opened #554 "[Entry] Go: Loops"
### Reason/inspiration (optional)

Write a concept entry about using loops and how Go only uses the `for` keyword for it. Be sure to include "## Syntax" and "## Example" sections with code snippets.

### Entry Type (select all that apply)

New Concept Entry for Existing Topic

### Code of Conduct

- [X] I agree to follow Codecademy Doc's Code of Conduct

### For Maintainers

- [X] Labels added
- [

[2022-02-17 20:55] Dusch4593 opened #555 "[Term Entry] Python: Strings: `.join()`"
### Reason/inspiration (optional)

For the "Python: Strings" concept, write a term entry that defines the `.join()` string method, including:

- "## Syntax" and "## Example" sections with code snippets.
- At least one `codebyte/py` example (but only one) that is placed as the last example at the bottom of the term entry.

### Entry Type (select all that apply)

New Term for Existing Concept Entry

[2022-02-17 20:56] Dusch4593 opened #557 "[Term Entry] Python: Built-in Functions : `range()`"
### Reason/inspiration (optional)

For the "Python: Built-in" concept, write a term entry that defines the `.range()` method, including:

- "## Syntax" and "## Example" sections with code snippets.
- At least one `codebyte/py` example (but only one) that is placed as the last example at the bottom of the term entry.

### Entry Type (select all that apply)

New Term for Existing Concept Entry

###

[2022-02-17 21:03] Dusch4593 opened #558 "[Term Entry] HTML: Tags: `<source>`"
### Reason/inspiration (optional)

For the "HTML: Tags" concept, write a term entry that defines the `<source>` tag including:

- "## Syntax" and "## Example" sections with code snippets.

### Entry Type (select all that apply)

New Term for Existing Concept Entry

### Code of Conduct

- [X] I agree to follow Codecademy Doc's Code of Conduct

### For Maintainers

- [X] Labels added
- [x] Issue is

[2022-02-17 21:49] ethan-master-coding commented on #558
@Dusch4593 Can you assign me to this. Might take a while because like I said I have 2 other ideas I'm working on.

[2022-02-17 21:54] Dusch4593 commented on #558
@ethan-master-coding You're assigned! 🎊 Plus, see [my comment on the other thread](https://github.com/Codecademy/docs/pull/543#issuecomment-1043496827).

[2022-02-18 02:30] aedwardg commented on #538
@Dusch4593 Sure, I can add those in. 🙂
My PR has been ready for a while, but it looks like I no longer have permissions to push up a new branch from a direct clone, so I'll have to migrate my changes to a fork until @sonnynomnom can fix the perms for me again.

[2022-02-19 13:01] SSwiniarski commented on #340
@FarScoutOne, are you still working on this?

[2022-02-19 16:30] #180 closed

[2022-02-19 21:20] KTom101 commented on #549
@Dusch4593 I'll work on this.

[2022-02-20 02:16] ethan-master-coding opened #568 "[Entry] HTML : Tags: `<abbr>`"
### Reason/inspiration (optional)

It is a useful tag when displaying large abbreviated numbers or abbreviations and what to make available the full name when not using a link to another page or adding it directly in the text.

### Entry Type (select all that apply)

New Term for Existing Concept Entry

### Code of Conduct

- [X] I agree to follow Codecademy Doc's Code of Conduct

### For Maintain

[2022-02-20 02:19] ethan-master-coding opened #569 "[Term Entry] HTML: Tags: <kbd>"
### Reason/inspiration (optional)

The `<kbd>` tag displays text as a key on a computer. For example:

<kbd>ctrl</kbd>+<kbd>c</kbd>

### Entry Type (select all that apply)

New Term for Existing Concept Entry

### Code of Conduct

- [X] I agree to follow Codecademy Doc's Code of Conduct

### For Maintainers

- [X] Labels added
- [ ] Issue is assigned

[2022-02-20 17:36] ethan-master-coding commented on #482
@Dusch4593 do we know if they are still working on this.

[2022-02-20 18:59] denisCabrera commented on #547
May I work on this issue ?  :relaxed:

[2022-02-20 20:45] sudojarvis commented on #482
@ethan-master-coding  if someone to takes over, they can go ahead.

[2022-02-20 22:59] Dusch4593 commented on #482
@sudojarvis That sounds good! @ethan-master-coding why don't we allow someone else to ask to be assigned to this one? You've got a entries and edits going on in the "Pull requests" tab.

[2022-02-21 15:04] Nessvah commented on #568
Hi. I'm new to contributions, but I saw that this issue still doesn't have anyone assigned to it. Can I try to work on it?

[2022-02-21 16:29] ethan-master-coding commented on #568
@Nessvah Sounds good. Just wait until somebody that has perms to assign you to this.

[2022-02-22 01:28] KTom101 commented on #568
Hi @Nessvah, I'll assign you right now! If you ever need help, you can check out the [Contribution Guide](https://github.com/Codecademy/docs/blob/main/.github/CONTRIBUTING.md) or just ask for help!

[2022-02-22 03:13] #530 closed

[2022-02-22 03:45] aedwardg commented on #386
This looks like it was closed in #514

[2022-02-22 03:50] Dusch4593 commented on #386
Good catch! 😌 This issue wasn't linked to the PR, which is why it didn't close when #514 was merged. Closing now.

[2022-02-22 03:50] #386 closed

[2022-02-22 03:58] Dusch4593 commented on #447
Closing this issue since [it has been settled](https://github.com/Codecademy/docs/pull/533#issuecomment-1026074172) that the utility of removing trailing slashes is not significant enough to warrant going forward with file edits.

[2022-02-22 03:58] #447 closed

[2022-02-22 09:29] Nessvah commented on #568
Yes for sure, thanks!

[2022-02-24 22:08] yangc95 opened #579 "[Edit] Documentation: Contribution Guide"
### Type of Edit (select all that apply)

Add new content (definitions, codeblocks, etc.)

### Description (optional)

- Add a section for "How do I keep my PR branch up to date" in the [Contribution Guide](https://github.com/Codecademy/docs/blob/main/.github/CONTRIBUTING.md) either right after [Codecademy username](https://github.com/Codecademy/docs/blob/main/.github/CONTRIBUTING.md#codecademy-us

[2022-02-25 17:57] #525 closed

[2022-02-28 17:55] SSwiniarski commented on #551
I'll do this one.

[2022-02-28 17:58] SSwiniarski commented on #551
@Dusch4593, isn't this covered under the LIKE operator, and do we want to move the discussion on the details of pattern matching to its own article? Also, should SELECT * be part of this? It usually isn't referred to as a wildcard. Details on it probably belong under SELECT.

[2022-02-28 22:06] #557 closed

[2022-02-28 23:13] Dusch4593 commented on #551
@SSwiniarski All super fair points! You're right, we should keep details about `SELECT *` in the "SELECT" entry.

As for the pattern-matching examples in the `LIKE` entry, it's up to you whether you want to polish within that entry (maybe consolidate the examples from the current 6 to 2 or 3) or reallocate to a new entry. Would it be entitled as something like "Pattern Matching" and is this differ

[2022-03-01 11:43] SSwiniarski commented on #551
@Dusch4593, Yes, it is different. I've gone through some hurdles trying to use regular expressions in SQL Server, as they're not supported natively. (Which is BS, it supports XML, it wouldn't be that hard to also support regex.)

I'd still call the separate entry "Wildcards." As that seems to be the more common verbiage. I'd lean towards a separate entry as in SQL (at least SQL Server) there's at

[2022-03-01 17:33] Dusch4593 commented on #527
@shiningflutes is working on this issue.

[2022-03-02 21:48] ethan-master-coding commented on #569
@Dusch4593 Can you assign this to me?

[2022-03-03 00:58] #528 closed

[2022-03-03 00:58] #558 closed

[2022-03-03 01:02] #529 closed

[2022-03-03 01:17] denisCabrera commented on #547
@Dusch4593 I am ready for my next issue. I wanted to ask what are the main priorities now. I know all the issues are equality needed and important but I was curious if you guys needed help finishing something else that has been waiting for a while. 😃

[2022-03-03 01:43] Dusch4593 commented on #547
Hey @denisCabrera excellent question! I'm actually in the middle of considering what kinds of concepts and terms to use for the next batch of issues. In the meantime, would you still like to work on this issue?

[2022-03-03 01:48] denisCabrera commented on #547
@Dusch4593  Oh nice!, I was just curious and yes, I would like to work on this issue.

[2022-03-03 12:43] SSwiniarski commented on #554
I can take on another Go entry.

[2022-03-03 22:13] paulpetelski commented on #546
Hi! I was wondering if I can be assigned this issue.

[2022-03-04 01:38] Dusch4593 commented on #546
@paulpetelski absolutely! I'll assign you.

[2022-03-04 01:40] Dusch4593 commented on #546
@paulpetelski If you would like to receive credit for your contribution, make sure to have your Codecademy user profile linked to your GitHub account:

1. Go to your Codecademy dashboard.
2. Click on your profile image in the top-right and then choose "Profile".
3. Then click "Edit Profile".
4. In the "GitHub Username" field, add your username (without the @).
5. Click "Save Changes"

Of course, y

[2022-03-04 03:39] Dusch4593 opened #586 "[Term Entry] Python Built-in Functions: `super()`"
### Reason/inspiration (optional)

Please write a term entry** about the `super()` function that includes the follwoing:

* A "Syntax" section with ```pseudo code snippet(s)
* One or two "Example" sections that explain the two common use cases for `super()`.
* One "Codebyte Example" section with a ```codebyte/python snippet.

**Some content about `super()` already exists in the [Python: Inheritanc

[2022-03-04 04:15] Dusch4593 opened #587 "[Term Entry] CSS Grids: `grid-template-areas`"
### Reason/inspiration (optional)

Please write a term entry that defines the `grid-template-areas` CSS property and includes the following informating:

* Brief information about how `grid-template-areas` differs/relates to the `grid-template` and `grid-area` properties.
* A "Syntax" section with a ```pseudo code snippet.
* An "Examples" section.

### Entry Type (select all that apply)

New Term

[2022-03-04 17:33] Dusch4593 opened #588 "[Term Entry] JavaScript Strings: `.slice()`"
### Reason/inspiration (optional)

Please write a term entry about the `.slice()` method for **JavaScript strings** that includes:

* A "Syntax" section with a ```pseudo code snippet.
* An "Example" section with a brief example ```js code snippet.
* A "Codebyte Example" section with a ```codebyte/javascript snippet.

### Entry Type (select all that apply)

New Term for Existing Concept Entry

###

[2022-03-04 17:33] Dusch4593 opened #589 "[Term Entry] JavaScript Strings: `.slice()`"
### Reason/inspiration (optional)

Please write a term entry about the `.slice()` method for **JavaScript strings** that includes:

* A "Syntax" section with a ```pseudo code snippet.
* An "Example" section with a brief example ```js code snippet.
* A "Codebyte Example" section with a ```codebyte/javascript snippet.

### Entry Type (select all that apply)

New Term for Existing Concept Entry

###

[2022-03-04 17:34] Dusch4593 opened #590 "[Term Entry] JavaScript Strings: `.valueOf()`"
### Reason/inspiration (optional)

Please write a term entry about the `.valueOf()` method for **JavaScript strings** that includes:

* A "Syntax" section with a ```pseudo code snippet.
* An "Example" section with a brief example ```js code snippet.
* A "Codebyte Example" section with a ```codebyte/javascript snippet.

### Entry Type (select all that apply)

New Term for Existing Concept Entry

##

[2022-03-04 17:51] #526 closed

[2022-03-05 23:14] #538 closed

[2022-03-06 00:00] Dusch4593 commented on #282
Hi @Punit-Choudhary! Brandon from the Free Team 😄 Just checking in to see if you were still working on this issue?

[2022-03-06 04:03] #549 closed

[2022-03-06 14:19] SSwiniarski commented on #553
I'll takle this to keep expanding our Go entries.

[2022-03-06 19:27] ethan-master-coding commented on #579
@yangc95 it looks like this change was made. Should we close this?

[2022-03-06 19:41] ethan-master-coding opened #595 "[Term Entry] HTML: Tags: `<code>`"
### Reason/inspiration (optional)

To format code on websites. It is the same as back tics in MD.

### Entry Type (select all that apply)

New Term for Existing Concept Entry

### Code of Conduct

- [X] I agree to follow Codecademy Doc's Code of Conduct

### For Maintainers

- [ ] Labels added
- [ ] Issue is assigned

[2022-03-07 17:28] SSwiniarski commented on #340
Since @FarScoutOne hasn't responded, I'll take this on myself.

[2022-03-07 23:29] KTom101 commented on #589
@Dusch4593 Was this supposed to be for `.slice()`?  `.splice()` is only for arrays in javascript and we have it [here](https://www.codecademy.com/resources/docs/javascript/arrays/splice)

[2022-03-07 23:35] Dusch4593 commented on #589
@KTom101 Lol thank you! *Typo

[2022-03-07 23:39] KTom101 commented on #589
@Dusch4593 but wait now we have two issues for ` .slice()`.

[2022-03-07 23:40] Dusch4593 commented on #589
Right right right. Let's close this one, then.

[2022-03-07 23:41] #589 closed

[2022-03-07 23:42] denisCabrera commented on #588
May I work on this issue 😁

[2022-03-08 04:15] yangc95 commented on #579
Hi @ethan-master-coding! Appreciate you looking into this, however, I don't believe the proper change is up in the guide yet.

This issue is a result of a direct discussion with @aedwardg and @Dusch4593 to add more details and images for specific Git instructions/commands on how to keep a PR branch up-to-date.

Since this is brought to my attention again, I'm going to add one more point to this is

[2022-03-08 12:51] SSwiniarski opened #600 "[Entry] HTML Text Formatting"
### Reason/inspiration (optional)

Covers multiple items from the Target Keyword List (u, b, & i tags), and takes care of an orphan entry on the old Assignment sheet.

### Entry Type (select all that apply)

New Concept Entry for Existing Topic

### Code of Conduct

- [X] I agree to follow Codecademy Doc's Code of Conduct

### For Maintainers

- [X] Labels added
- [X] Issue is assigned

[2022-03-08 20:37] KTom101 commented on #555
Hey @Dusch4593, can I assign this one to myself?

[2022-03-09 00:56] Dusch4593 commented on #555
@KTom101 absolutely! 👍

[2022-03-09 18:03] Dusch4593 commented on #595
@ethan-master-coding There is already [an existing entry](https://www.codecademy.com/resources/docs/html/tags/code) for the HTML `<code>` tag. Before creating issues, I encourage you to browse the relevant topic(s)/concept(s) and parse their entries to check if one you seek already exists.

[2022-03-09 18:04] #595 closed

[2022-03-09 18:12] ethan-master-coding commented on #595
@Dusch4593 I must of missed it some how when I looked.

[2022-03-09 18:20] Dusch4593 commented on #595
No worries! 😄 Admittedly, the Docs collection is growing and the navigability is becoming more pressing, imo. Hopefully in the near future, that navigation will be improved.

[2022-03-09 18:23] ethan-master-coding commented on #595
@Dusch4593 Yea. The best thing would be a search feature. I would help build that but I don't know the backend.

[2022-03-09 21:19] Dusch4593 commented on #588
@denisCabrera Sure!

[2022-03-11 01:35] ethan-master-coding commented on #568
Page is now live. Can view it [here](https://www.codecademy.com/resources/docs/html/tags/abbr).

[2022-03-11 01:35] #568 closed

[2022-03-11 01:40] ethan-master-coding opened #610 "Add Entry - General: Back-End"
### Reason/inspiration (optional)

## Reson
Saw #609 and we need both front and back end

Should include what back end web development is, common tasks, technologies such as JS used in the backend, and also Careers in the backend.

### Entry Type (select all that apply)

New Topic Entry

### Code of Conduct

- [X] I agree to follow Codecademy Doc's Code of Conduct

### For Maintainers

- [ ] Label

[2022-03-11 14:42] Dusch4593 commented on #586
@subzjee Good catch! That information about `super()` should be moved into its own entry under "Python: Built-in Functions". Would you like to take this one on?

[2022-03-11 16:21] #551 closed

[2022-03-11 16:43] yangc95 opened #612 "[Term Entry] SQL: `CONTAINS`"
### Reason/inspiration (optional)

Create a new term entry within [content/sql/commands](https://www.codecademy.com/resources/docs/sql/commands)/contains

### Entry Type (select all that apply)

New Term for Existing Concept Entry

### Code of Conduct

- [X] I agree to follow Codecademy Doc's Code of Conduct

### For Maintainers

- [X] Labels added
- [x] Issue is assigned

[2022-03-12 02:18] ethan-master-coding commented on #610
This has been made. See #611 for the PR. And the [page](https://www.codecademy.com/resources/docs/general/back-end).

[2022-03-12 02:18] ethan-master-coding commented on #610
This has been made. See #611 for the PR. And the [page](https://www.codecademy.com/resources/docs/general/back-end).

[2022-03-12 02:18] #610 closed

[2022-03-13 13:40] ethan-master-coding commented on #482
@Dusch4593 it almost been a month and I only have 1 open PR. Can I be assigned to this?

[2022-03-13 13:41] Dusch4593 commented on #482
Sure!

[2022-03-13 14:26] Nessvah commented on #579
This will be really helpful for new contributors.

[2022-03-13 14:27] Nessvah commented on #587
Can I try to work on this issue?

[2022-03-13 15:43] Dusch4593 commented on #587
@Nessvah Sure!

[2022-03-13 18:11] ethan-master-coding commented on #450
@Dusch4593 We can close this. [Audio entry](https://www.codecademy.com/resources/docs/html/tags/audio)

[2022-03-13 22:45] ethan-master-coding opened #619 "[Entry] General: File Paths"
### Reason/inspiration (optional)

Include what file paths are and how they are determined. Such as when and how many `/` and `.` to use.

### Entry Type (select all that apply)

New Topic Entry

### Code of Conduct

- [X] I agree to follow Codecademy Doc's Code of Conduct

### For Maintainers

- [x] Labels added
- [x] Issue is assigned

[2022-03-14 19:08] pinalpithadiya opened #620 "[Edit] JavaScript Arrays: `.reduce()`"
### Type of Edit (select all that apply)

Add new content (definitions, codeblocks, etc.)

### Description (optional)

The [reduce](https://www.codecademy.com/resources/docs/javascript/arrays/reduce) method of array works weirdly on  complex structure i.e. reducing array of objects.
please add an example for the complex structure to it.

### Code of Conduct

- [X] I agree to follow Codecademy Doc'

[2022-03-15 02:14] #450 closed

[2022-03-15 02:15] yangc95 commented on #450
Thanks @ethan-master-coding !

[2022-03-15 16:27] #554 closed

[2022-03-15 21:36] #452 closed

[2022-03-15 22:01] #515 closed

[2022-03-15 22:41] #600 closed

[2022-03-16 00:06] Dusch4593 opened #626 "[Edit] Java: Classes"
### Type of Edit (select all that apply)

Clarify unclear content and/or terms, Add new content (definitions, codeblocks, etc.)

### Description (optional)

Adding new information about abstract classes as well as general polishing.

### Code of Conduct

- [X] I agree to follow Codecademy Doc's Code of Conduct

### For Maintainers

- [X] Labels added
- [X] Issue is assigned

[2022-03-16 20:15] ethan-master-coding opened #629 "[Entry/Edit] CSS: Inheritance"
### Type of Edit (select all that apply)

Add new content (definitions, codeblocks, etc.)

### Description (optional)

Add if the CSS property is inherited.

### Code of Conduct

- [X] I agree to follow Codecademy Doc's Code of Conduct

### For Maintainers

- [x] Labels added
- [x] Issue is assigned

[2022-03-16 20:28] ethan-master-coding commented on #629
I'm willing to make this change I'm just not sure where to put it in each entry.

[2022-03-16 21:59] ethan-master-coding commented on #629
Should we have a table with some values like on MDN web docs?

![image](https://user-images.githubusercontent.com/92686703/158698261-53c1c9b5-c9fe-480a-a729-62753200cab0.png)

[2022-03-16 23:25] #547 closed

[2022-03-18 14:29] #555 closed

[2022-03-18 15:10] Dusch4593 commented on #629
Not too sure about the MDN-like yet. Also, are we sure this is an edit? Do we even have a CSS: Inheritance entry to begin with?

[2022-03-18 15:55] ethan-master-coding commented on #629
@Dusch4593 I'm talking about properties. Like the `color` property is inherited. But the `border` is not inherited. Im talking about that inheritance for each property.

[2022-03-18 16:25] Dusch4593 commented on #629
Right but which entries would get this edit?

[2022-03-18 16:33] ethan-master-coding commented on #629
@Dusch4593 The edit would be to every CSS property in the docs. And for the title, I couldn't think of a better one.

[2022-03-18 16:39] Dusch4593 commented on #629
Oof that's a lot of files. What if we did this to start?

* Create a CSS concept entry called "Inheritance" (since it is a pretty notable [aspect](https://developer.mozilla.org/en-US/docs/Web/CSS/inheritance) of CSS properties)
* Make that edit to 3-4 exiting CSS entries (`color`, `border`, etc.)

As for the title, no worries! 😊

[2022-03-18 16:41] ethan-master-coding commented on #629
@Dusch4593 So we just have 1 big page that has all the properties and their inheritance. Got it.

[2022-03-18 16:44] Dusch4593 commented on #629
Maybe that could be written as [a markdown table](https://docs.github.com/en/get-started/writing-on-github/working-with-advanced-formatting/organizing-information-with-tables) with links to any appropriate Docs entries.

Also, this "Inheritance" should have a breakdown between inherited properties and non-inherited properties.

[2022-03-18 17:10] ethan-master-coding commented on #629
@Dusch4593 Got it. A table for inherited properties and a table for not inherited properties.

[2022-03-18 18:01] ethan-master-coding commented on #629
@Dusch4593 If we are going to link the entry in all the entries is it just easier to just put it on every entry instead of 1 big 1.

[2022-03-18 18:04] Dusch4593 commented on #629
Not necessarily. My thoughts were that there would be one concept entry that does the following:

- Explains what CSS inheritance means at a high-level.
- Tables that breakdown common inherited properties and non-properties.

Relatively speaking, our CSS entries are few in number so the tables are more likely to speak of both properties already covered in Docs and those that aren't.

[2022-03-18 18:31] ethan-master-coding commented on #629
@Dusch4593 Can you assign this to me?

[2022-03-18 20:45] yangc95 commented on #579
Hi, @aedwardg hope all is well! Reaching out to make sure this is an issue you're comfortable with still tackling. I'm happy to directly assist with this one as well. LMK 🙂

[2022-03-19 19:10] yangc95 commented on #438
⏳ It's been some time but thanks for the patience 😌

[2022-03-19 19:21] yangc95 commented on #457
@r3vert @Dusch4593 I'm thinking about linking the [hooks](https://www.codecademy.com/resources/docs/react/hooks) entry to the current [React state](https://www.codecademy.com/resources/docs/react/state) entry. Class components are still used (not obsolete).

Down the line, I do think it would be helpful for the hooks entry to have a terms table with all the available hooks.

[2022-03-19 19:46] #553 closed

[2022-03-20 02:05] ethan-master-coding commented on #629
Before I start working on this I am going to wait for at least 1 of my PRs to get merged (#616, #618, #627). Don't want to overwhelm the maintainers

[2022-03-20 02:06] Dusch4593 commented on #629
No worries! Speaking of which, I just left a few last-minute suggestions for you on #616.

[2022-03-20 02:10] ethan-master-coding commented on #629
@Dusch4593 speak of the devil. Im going through them right now.

[2022-03-20 16:06] ethan-master-coding opened #641 "[Edit] Contribution guide: PR checks"
### Type of Edit (select all that apply)

Clarify unclear content and/or terms, Add new content (definitions, codeblocks, etc.)

### Description (optional)

Add what each check for a PR does in the contribution guide. Ex. the `license/cla` check is for signing the license.

### Code of Conduct

- [X] I agree to follow Codecademy Doc's Code of Conduct

### For Maintainers

- [x] Labels added
- [ ]

[2022-03-23 21:56] denisCabrera commented on #590
@Dusch4593 May I work on this issue ? 😁

[2022-03-23 22:06] #546 closed

[2022-03-24 00:23] #482 closed

[2022-03-24 00:29] paulpetelski commented on #612
Hi! Can I be assigned this issue?

[2022-03-24 01:00] yangc95 commented on #612
@paulpetelski OFC!

[2022-03-24 01:00] yangc95 commented on #612
See you on the flip~ (PR side)

[2022-03-24 01:39] ethan-master-coding opened #653 "[Entry] HTML: `<output>` tag"
### Reason/inspiration (optional)

Added the result of an action done by the user or calculation to the page.

### Entry Type (select all that apply)

New Term for Existing Concept Entry

### Code of Conduct

- [X] I agree to follow Codecademy Doc's Code of Conduct

### For Maintainers

- [x] Labels added
- [x] Issue is assigned

[2022-03-25 16:43] Dusch4593 commented on #590
Sure!

[2022-03-25 19:16] #626 closed

[2022-03-25 20:21] yangc95 commented on #579
@aedwardg are you cool if I take over this issue?

[2022-03-26 05:14] #438 closed

[2022-03-26 16:56] ethan-master-coding commented on #641
@Dusch4593 Labels arent added. We need:
`documentation` added and `typo` removed.

[2022-03-26 20:24] Dusch4593 commented on #641
@ethan-master-coding Could you tell us a little more about the edits proposed in this issue? (which file(s), etc.)

[2022-03-26 20:28] ethan-master-coding commented on #641
@Dusch4593 Edited the OP for more clarity.

[2022-03-26 20:44] Dusch4593 commented on #641
Ok gotcha. I don't think this sort of change would be useful for contributors since my Team and I are currently working on internal tooling to streamline the PR checks as much as possible. We want all contributors to have a smooth experience with Docs, where they can comfortably write/edit an entry and not get led astray by the PR checks.

Our engineering uses [GitHub actions](https://docs.github.

[2022-03-26 20:47] #641 closed

[2022-03-26 20:51] Dusch4593 commented on #641
@ethan-master-coding Would you like to be assigned to issue #579 instead?

[2022-03-26 20:52] ethan-master-coding commented on #641
@Dusch4593 Sure

[2022-03-26 20:53] Dusch4593 commented on #579
There hasn't been much movement on this issue for a while so I'm gonna reassign to @ethan-master-coding.

[2022-03-26 21:05] ethan-master-coding commented on #579
@Dusch4593 Already finished. #664. I think im the flash

[2022-03-26 22:28] yangc95 commented on #579
@Dusch4593 @ethan-master-coding Cool! we'll take a look at it soon 😌

[2022-03-27 23:33] dharmelolar commented on #491
Hello @KTom101
I can see that this issue has not been worked on. Would it be possible for me to work on it?

[2022-03-28 01:37] KTom101 commented on #491
@FarScoutOne Have you been working on this? If not, we can let @dharmelolar have it.

[2022-03-28 02:11] FarScoutOne commented on #491
I have a draft that I would like to post this week. I apologize for the delay. I since started a new job and in the busyness of it all I completely forgot about this. I will post the finished crypto doc by the end of this week.

[2022-03-28 02:40] KTom101 commented on #491
@FarScoutOne Sounds good, thank you!

[2022-03-28 02:42] KTom101 commented on #491
@dharmelolar Is there another issue you would like to work on? If you see one, please tag me so I can assign you.

[2022-03-28 02:44] dharmelolar commented on #491
I’ll look for other issues and tag you to it. Or do think it is possible for me to open a new issue?

[2022-03-28 15:13] aalic1 commented on #307
Can I get assigned this issue?

[2022-03-28 15:40] KabirCampwala commented on #307
@Dusch4593 You can assign this issue to @aalic1

[2022-03-28 17:42] KTom101 commented on #491
@dharmelolar What issue were you looking to add?

[2022-03-28 17:55] dharmelolar commented on #491
@KTom101  I’m thinking of adding a technical writing issue  to the General concept

[2022-03-28 22:33] KTom101 commented on #491
@dharmelolar As suggested by my teammate @yangc95, this would work well as an improvement to our [content standards](https://github.com/Codecademy/docs/blob/main/documentation/content-standards.md#general-writing-tips) instead of being a Docs entry. We currently have a small section with writing tips. It can be extended to include information on technical writing.

It will be a helpful resource fo

[2022-03-28 23:04] Nessvah commented on #587
@Dusch4593 how are you? I have been working on this issue but slowly due to some work that I need to do outside this field. I'll try to end this by the end of this week but, if after that there's still no PR and someone wants to work on this, feel free to assign this issue to them. 🙂

[2022-03-29 01:12] #457 closed

[2022-03-29 08:02] dharmelolar commented on #491
@KTom101  That would be fine. Can I Jump on it immediately?

[2022-03-29 21:34] KTom101 opened #670 "[Edit] Content Standards: Technical Writing"
### Type of Edit (select all that apply)

Add new content (definitions, codeblocks, etc.)

### Description (optional)

Expand our [content standards](https://github.com/Codecademy/docs/blob/main/documentation/content-standards.md) to include information on technical writing. Please include this under the “General Writing Tips” section.

### Code of Conduct

- [X] I agree to follow Codecademy Doc's

[2022-03-29 21:37] KTom101 commented on #491
@dharmelolar Yes, you can! I've made an issue for it [here](https://github.com/Codecademy/docs/issues/670). Can you drop a quick comment under the thread so I can assign you? Thanks!

[2022-03-29 21:56] dharmelolar commented on #670
@KTom101 I'd love to work on this issue

[2022-03-29 22:00] KTom101 commented on #670
@dharmelolar Thanks! I've assigned you.

[2022-03-30 14:40] Dusch4593 commented on #307
Reassigned to @aalic1!

[2022-03-30 14:59] Dusch4593 commented on #587
@Nessvah Sure thing! Take as much time as you need 😄

[2022-03-30 15:06] Dusch4593 commented on #457
I love the idea for a Hooks table! 🎉 Also, I'm wondering if we should mention [property initializers](https://reactjs.org/blog/2015/01/27/react-v0.13.0-beta-1.html#es7-property-initializers) in the next edit for this entry? I personally love this syntax b/c you don't have to use `super()` or `constructor()`; ES7 intuitively does that in the background, I think. Also, method binding is handled (pun

[2022-03-30 18:27] yangc95 opened #671 "[Edit] React: State"
### Type of Edit (select all that apply)

Add new content (definitions, codeblocks, etc.)

### Description (optional)

Continuation for [Issue 457](https://github.com/Codecademy/docs/issues/457#issuecomment-1083257266)

Include [property initializers](https://reactjs.org/blog/2015/01/27/react-v0.13.0-beta-1.html#es7-property-initializers) in the [React state](https://www.codecademy.com/resources/d

[2022-03-30 18:27] yangc95 opened #672 "[Term Entry] React: Hook"
### Reason/inspiration (optional)

Continuation for [Issue 457](https://github.com/Codecademy/docs/issues/457#issuecomment-1073067484)

Edits wanted to the [React Hooks](https://www.codecademy.com/resources/docs/react/hooks) entry for a terms table with different hooks as separate term entries. Ensure that the file structure is correct.

Let us know if you'd like to take this issue on! Questions w

[2022-03-30 20:58] Dusch4593 commented on #672
Which is preferable?

* A markdown table with headers/rows for the different hook data (names, descriptions, etc.).
* Separate folders/flies for terms entries for different hooks (e.g. `react/hooks/terms/useState/useState.md`).

[2022-04-02 16:34] dharmelolar commented on #670
@KTom101 I submitted a pull request.

[2022-04-02 20:04] not-a-ethan opened #674 "[Entry] HTML: `<s>` and `<del>` tags"
### Reason/inspiration (optional)

The `<s>`  is the strike-through element and the `<del>` element shows something is delegated but has semantic meaning.

s tag:

<p>CC docs are <s>good</s> the best!</p>

raw: `<p>CC docs are <s>good</s> the best!</p>`

del tag:

<p><del>Make the base of the CC docs</del></p>

raw: `<p><del>Make the base of the CC docs</del></p>`

### Entry Type (select all that

[2022-04-03 15:16] ethan-master-coding commented on #282
@Dusch4593 No reply in a month. Can I be assigned?

[2022-04-04 06:36] Punit-Choudhary commented on #282
Hey, I am sorry I completely forgot about this. I would make a pull request by Wednesday for sure.

[2022-04-04 20:30] paulpetelski commented on #552
@Dusch4593 Hi, can I be assigned this issue please?

[2022-04-04 20:33] Dusch4593 commented on #552
@paulpetelski You got it, my friend!

[2022-04-04 22:16] #612 closed

[2022-04-06 16:35] Punit-Choudhary commented on #282
Hey @Dusch4593, I need a suggestion.
Should I include code to generate QR in Python or Javascript using **third-party** packages?
Thank you

[2022-04-06 17:13] ethan-master-coding commented on #282
@Punit-Choudhary As long as it's free, safe, and trusted the answer is probably yes. In the [IDE entry](https://www.codecademy.com/resources/docs/general/ide) it as links to IDEs other than CC workspaces.

[2022-04-07 01:41] ethan-master-coding opened #684 "[Bug/Error] Repo : Entry of the week not being updated"
### Actual Behavior

Not being updated on a weekly basis. It is supposed to be updated every week. The last time it was updated was on January 30ht 2022. See the file here: [https://github.com/Codecademy/docs/blob/main/bin/concept-of-the-week.txt](https://github.com/Codecademy/docs/blob/main/bin/concept-of-the-week.txt).

### Expected Behavior

It should update on a weekly basis.

### What browser

[2022-04-07 13:20] Dusch4593 commented on #282
@ethan-master-coding @Punit-Choudhary

I think that we should refrain from using language-specific code snippets in General entries whenever possible. However, we should definitely link out to QR-related tools that are reputable, safe, and accessible (preferably free 😄).

[2022-04-07 16:21] lyallstewart commented on #674
Heya! Doesn't look like anyone's assigned to this one so mind if I work on it?

[2022-04-07 16:23] ethan-master-coding commented on #674
@lyallstewart another SU contributing GREAT! Start working on this and a maintainer will assign you to this. Also, we got a category on the forums for the docs: https://discuss.codecademy.com/c/community/community-docs/2205.

[2022-04-07 16:34] lyallstewart commented on #674
Haha yeah I saw that, that's what got me over here, been meaning to for a little while and only got round to it now 😄

[2022-04-07 16:48] Dusch4593 commented on #684
@ethan-master-coding It looks like our COTW is having troubles again 😢  I believe that the script logic for the actual update [lives elsewhere](https://github.com/Codecademy/docs/pull/431) for security reasons.

@christian-dinh Any thoughts on why this might be happening?

[2022-04-07 16:57] christian-dinh commented on #684
woops, yeah github canceled the workflow automatically since the repo it's in hasn't been updated in 60 days. Hopefully there's a way to disable that feature...

[2022-04-07 16:57] christian-dinh commented on #684
anyway I re-enabled the workflow so it'll update next week

[2022-04-07 17:02] #684 closed

[2022-04-07 17:37] Dusch4593 commented on #674
@lyallstewart You are assigned! 😄

[2022-04-07 18:08] lyallstewart commented on #674
Thank you!

[2022-04-08 00:13] ethan-master-coding commented on #684
@christian-dinh what day should it update?

[2022-04-08 12:50] Dusch4593 commented on #684
@ethan-master-coding I believe it should be every Sunday at 1pm UTC.

It's listed [here in this workflow](https://github.com/Codecademy/docs-update-cotw/blob/main/.github/workflows/update-cotw.yml) near the bottom of the file.

[2022-04-12 18:48] #273 closed

[2022-04-12 18:48] #527 closed

[2022-04-14 10:09] lyallstewart commented on #674
Hey @Dusch4593, given that these two tags are fairly similar do you think they should be a single entry referencing both tags or a separate entry for both?

It seems the latter would be more in line with what is already set up (and is what I've been working on for now given the semantic differences) but upon starting the starting article there seems to be a fair amount of overlap so curious what y

[2022-04-14 19:38] ethan-master-coding commented on #674
@lyallstewart Put it in 1 file. The worst thing is we split it later.

[2022-04-15 02:02] #629 closed

[2022-04-15 02:17] #579 closed

[2022-04-15 17:32] yangc95 commented on #672
I think the second option is preferable; separate term entries instead of a markdown table

[2022-04-19 14:23] Dusch4593 opened #706 "[Entry] Java: Stacks"
### Reason/inspiration (optional)

Can we write a concept entry about Java stacks that includes "Syntax" and "Example" sections?

Also, make sure to include language that clearly differentiates a _stack_ from a _queue_.

### Entry Type (select all that apply)

New Concept Entry for Existing Topic

### Code of Conduct

- [X] I agree to follow Codecademy Doc's Code of Conduct

### For Maintainers

-

[2022-04-19 18:13] ethan-master-coding opened #707 "[Entry] General: Tech stacks"
### Reason/inspiration (optional)

Make an entry for tech stacks. Some examples are M.E.A.N (MongoDB, Express.js, AngularJS, and Node.js). or L.A.M.P. (Linux, Apache, MySQL, and PHP)

### Entry Type (select all that apply)

New Topic Entry

### Code of Conduct

- [X] I agree to follow Codecademy Doc's Code of Conduct

### For Maintainers

- [ ] Labels added
- [ ] Issue is assigned

[2022-04-21 15:52] Dusch4593 commented on #674
@lyallstewart Thank you again for taking on this issue and I humbly apologize for just now coming around to your prior comment/question.

Even if they are both similar, I would still recommend creating separate term entries for them under the HTML: Tags concept (one for `<s>` and one for `<del>`). Maybe include one sentence in each entry that points this out and links to the entry for the other, s

[2022-04-21 18:12] not-a-ethan opened #710 "[Entry] General: Virtual machines"
### Reason/inspiration (optional)

_No response_

### Entry Type (select all that apply)

New Topic Entry

### Code of Conduct

- [X] I agree to follow Codecademy Doc's Code of Conduct

### For Maintainers

- [x] Labels added
- [x] Issue is assigned

[2022-04-22 00:33] ethan-master-coding commented on #670
I belive this can be closed #673

[2022-04-22 20:43] ethan-master-coding opened #714 "[Bug/Error] prettier ignore not displaying content"
### Actual Behavior

When content in in a prettier ignore black it is not displayed. (Look at the md heading entry)

### Expected Behavior

It should display like normal while letting the checks pass.

### What browsers are you seeing the problem on?

Chrome

### Code of Conduct

- [X] I agree to follow Codecademy Doc's Code of Conduct

### For Maintainers

- [ ] Labels added
- [ ] Issue is assign

[2022-04-22 20:44] ethan-master-coding commented on #714
remove the `typo` label it is irrelevant to this issue.

[2022-04-22 21:07] Dusch4593 commented on #714
@ethan-master-coding I can take this one since I caused it 🙈

[2022-04-22 21:23] Dusch4593 commented on #714
PR #715 is now open and pending review. You're welcome to give it a look. 😄

It turns out that `` wasn't needed after all. Instead, I went with using a combination of empty-lines (to solve any formatting issues) and ``/`` (more can be read about these [here](https://github.com/DavidAnson/markdownlint#configuration)).

[2022-04-22 22:12] #670 closed

[2022-04-23 00:53] ethan-master-coding opened #717 "[Entry] General: Github"
### Reason/inspiration (optional)

_No response_

### Entry Type (select all that apply)

New Topic Entry

### Code of Conduct

- [X] I agree to follow Codecademy Doc's Code of Conduct

### For Maintainers

- [x] Labels added
- [x] Issue is assigned

[2022-04-28 01:21] ethan-master-coding commented on #717
@Dusch4593 Can you assign this to me?

[2022-04-28 21:16] 0xTomas commented on #491
Hi there @KTom101, I see that this issue is still open. I would love to add a contribution here if possible.

[2022-04-28 21:58] KTom101 commented on #491
@FarScoutOne Are you still going to upload the draft you had for this entry?

[2022-04-28 22:13] Dusch4593 commented on #717
@ethan-master-coding Assigned!

[2022-04-28 22:36] Dusch4593 commented on #548
@miajim you're assigned! And great question! Yeah, let's submit the entry with a similar length/specificity to the "SSR" and we'll go from there.

[2022-04-28 22:52] FarScoutOne commented on #491
You can pet someone else take it. I have way too much going on and I don't have easy access to my work. In case it helps though, I do have a list of the resources that I found most helpful and pasted them below for in case the next person can use them.

https://www.investopedia.com/terms/c/cryptocurrency.asp

https://www.kaspersky.com/resource-center/definitions/what-is-cryptocurrency

https://www

[2022-04-28 22:54] KTom101 commented on #491
@FarScoutOne Thank you, will do!

[2022-04-28 22:56] KTom101 commented on #491
@0xTomas This is all yours now. You can check out the helpful links the previous assignee left above. Please let us know if you need help with anything!

[2022-04-29 20:06] not-a-ethan opened #726 "[Entry] General: Full-stack"
### Reason/inspiration (optional)

We have a front-end and back-end entries so we need to finish it will a full-stack entry.

### Entry Type (select all that apply)

New Concept Entry for Existing Topic

### Code of Conduct

- [X] I agree to follow Codecademy Doc's Code of Conduct

### For Maintainers

- [x] Labels added
- [x] Issue is assigned

[2022-05-01 02:08] ddwildin commented on #620
Would adding a simple example of reduce with an array of objects be enough or should an explanation be provided?

[2022-05-01 07:56] 0xTomas commented on #491
@KTom101 I have drafted a version here. Please review and let me know your thoughts.

[2022-05-05 08:57] Antonio-Riccelli commented on #653
Hi there,
is currently anyone working on this? If not, I'd like to.

[2022-05-05 11:46] ethan-master-coding commented on #653
@Antonio-Riccelli start working on this while we wait for a maintainer to assign you.

[2022-05-05 20:47] ethan-master-coding opened #737 "[Edits] HTML: Output of examples"
### Type of Edit (select all that apply)

Add new content (definitions, codeblocks, etc.)

### Description (optional)

Many entries in the HTML section do not have the output of the example.

## List of entries with no output of the example

[`<video>`](https://www.codecademy.com/resources/docs/html/tags/video)
[`<strong>`](https://www.codecademy.com/resources/docs/html/tags/strong)
[`<q>`](https:

[2022-05-05 20:48] ethan-master-coding commented on #737
(We need the typo label removed. irrelevant to this issue)

[2022-05-05 22:20] Dusch4593 commented on #737
@ethan-master-coding Hey there! Do we have one or two examples of which entries are missing output?

[2022-05-05 22:36] ethan-master-coding commented on #737
@Dusch4593 There are 10+ I believe. I will edit the OP when I  can get on my computer and have the list.

[2022-05-06 00:04] ethan-master-coding commented on #737
@Dusch4593 cant edit the OP right ow but here is an image of all the entries I found before

![image](https://user-images.githubusercontent.com/92686703/167045874-fee741bc-6e56-44ca-b936-9f10af099d34.png)

And can you look at #653

[2022-05-06 00:36] dharmelolar commented on #707
Can I work on this issue?

[2022-05-06 01:03] ethan-master-coding commented on #707
@dharmelolar start working on this while we wait for a maintaner to assign you to this.

cc: @Dusch4593

[2022-05-06 01:08] dharmelolar commented on #707
Alright, thanks!

[2022-05-06 17:21] Dusch4593 commented on #653
@Antonio-Riccelli assigned!

[2022-05-06 17:25] Dusch4593 commented on #737
Did you want to take issue on and draft a PR? If so, I can assign you. For each example output, let's screen-shot an image (size < 1MB), save in a file, and add the file to the `media/` directory.

[2022-05-06 17:27] Dusch4593 commented on #707
@dharmelolar Assigned!

[2022-05-06 17:27] dharmelolar commented on #707
Seen thanks!

[2022-05-06 17:44] ethan-master-coding commented on #737
@Dusch4593 as of right now no I will see if anybody else wants to do it first.

[2022-05-07 18:48] ethan-master-coding commented on #737
@Dusch4593 edited the OP. I changed my mind and I will take on this issue. I won't do the header, since the problem with the screenshot not showing the true size of them and audio and video tags since a screenshot won't work well.

[2022-05-07 21:11] ethan-master-coding opened #740 "[Entry] General: Whitespace"
### Reason/inspiration (optional)

An entry about
<br>whitespaces.

### Entry Type (select all that apply)

New Topic Entry, New Concept Entry for Existing Topic

### Code of Conduct

- [X] I agree to follow Codecademy Doc's Code of Conduct

### For Maintainers

- [x] Labels added
- [x] Issue is assigned

[2022-05-08 03:00] KTom101 commented on #620
@ddwildin A brief explanation with the example should be provided. May I assign you to this?

[2022-05-09 12:13] pinalpithadiya commented on #620
I am sorry for the delayed response, yes, you can work on it, there are simple examples already, you need to add the explanation to whatever you are adding there.

[2022-05-09 20:41] Dusch4593 commented on #737
@ethan-master-coding No problem! 👍🏻

A couple things before going forward with the PR for this issue:

- I highly recommend utilizing [Codecademy Workspaces](https://www.codecademy.com/pages/workspaces) for these changes because you can easily copy/paste the example HTML into the workspace editor to immediately render a result, which can then be captured in an image to be included underneath of th

[2022-05-09 21:09] #717 closed

[2022-05-09 21:22] ethan-master-coding commented on #737
@Dusch4593

Ok. What about the video and audio tags. (For the image tag I am just going to attach the image)

[2022-05-13 17:02] ethan-master-coding commented on #586
@Dusch4593 So is this issue just moving a file into a different section of the Python sections. Am I correct?

[2022-05-13 20:01] ethan-master-coding commented on #737
@Dusch4593 before I start working on this can you tell me how to do the audio tag. I cant just attach the video and image so the only thing I need to know now is the audio tag.

[2022-05-17 12:19] #587 closed

[2022-05-17 17:42] ethan-master-coding opened #755 "[Bug/Error] Leaderboard last updated time"
### Actual Behavior

It should display the last the leaderboard was updated.

### Expected Behavior

Display a random time from a few minutes ago to a few hours ago.

### What browsers are you seeing the problem on?

Firefox, Chrome, Microsoft Edge

### Code of Conduct

- [X] I agree to follow Codecademy Doc's Code of Conduct

### For Maintainers

- [x] Labels added
- [ ] Issue is assigned

[2022-05-17 19:34] Dusch4593 commented on #737
@ethan-master-coding Firstly, let's hold off on any edits to `tags/tersm/a/a.md` (in HTML Tags: `<a>`) because I'm currently working on that one for another PR.

For now, submit only one for this issue and work on no more than 10 entries, new and/or existing (we can allow for this many since the edits are expected to be so few).

Can you explain this one to me, again? Are we trying to find out how

[2022-05-17 19:39] ethan-master-coding commented on #737
@Dusch4593 I think the example for the video tag would look best if we had a video instead of a screenshot of a video. And for the audio tag would be better to have an actual audio tag since you (as the user) interacts with it.

[2022-05-17 19:43] Dusch4593 commented on #737
@ethan-master-coding While I agree it would be better, I'm not entirely certain embedding `<video>` and `<audio>` tags in [GH-markdown](https://github.github.com/gfm/) is possible. Screenshots (or maybe gifs) would be the best option but sound/user interaction would not be possible.

[2022-05-17 19:49] ethan-master-coding commented on #737
@Dusch4593 Ok. But you can embed videos with GH MD.

[2022-05-17 19:51] Dusch4593 commented on #737
What's the syntax for it? I've never used it before.

[2022-05-17 19:52] ethan-master-coding commented on #737
`![alt text if video does not load | video](file path)` I think

[2022-05-17 19:58] ethan-master-coding commented on #737
@Dusch4593 just tested this and it looks like you just need the raw path
![image](https://user-images.githubusercontent.com/92686703/168899229-b2b36331-1806-40c0-9351-ebf6335277d6.png)
![image](https://user-images.githubusercontent.com/92686703/168899327-4ae8b13e-df9c-4a48-887b-8dcebd70f688.png)

[2022-05-17 20:01] Dusch4593 commented on #737
Yeah but it seems like you have to download the file first before it can be added to the file. I just tried this too and was able to embed a video:

https://user-images.githubusercontent.com/23144845/168898898-fca79752-7abf-48ed-a373-37a31d67491d.mp4

Let me check with my team on this one real quick because I noticed that the video I got was 6.1 MB (from a <1 minute video) and I just want to confi

[2022-05-17 20:07] ethan-master-coding commented on #737
@Dusch4593 GH does not support audio files so I will just use a gif

[2022-05-17 20:11] Dusch4593 commented on #737
That's what I thought. Hopefully they'll implement it in the future somehow.

[2022-05-17 20:11] ethan-master-coding commented on #737
Yea. unless I am overlooking an audio format https://docs.github.com/en/get-started/writing-on-github/working-with-advanced-formatting/attaching-files

[2022-05-17 20:14] Dusch4593 commented on #737
Nope, not seeing any audio formats in there.

[2022-05-17 20:18] ethan-master-coding commented on #737
@Dusch4593 I found something and we may be able to embed audio. Let me test it.

[2022-05-17 20:21] Dusch4593 commented on #737
After I tried to drag/drop an **.mp3** file:

<img width="833" alt="Screen Shot 2022-05-17 at 4 21 05 PM" src="https://user-images.githubusercontent.com/23144845/168903075-c330a41a-c0f4-4968-84d9-f8a554ce3b8e.png">

[2022-05-17 20:22] ethan-master-coding commented on #737
@Dusch4593 I tried doing this:
`![test](./Cartoon (Sting) - Twin Musicom.mp3)` Just a random audio file from the YT audio librery

[2022-05-17 20:23] Dusch4593 commented on #737
Did it work?

[2022-05-17 20:24] ethan-master-coding commented on #737
Nope. Unfortently. It was formated as plain text

[2022-05-19 21:40] ethan-master-coding commented on #684
@christian-dinh Just saying we have about 2 weeks until the workflow will be disabled again unless you disabled that setting. It may be worth reverting #431.

[2022-05-21 21:42] ethan-master-coding opened #759 "[Entry] General: Time complexity"
### Reason/inspiration (optional)

Include `O(n)`, `O(n^2)`, `O(log n)`, and any others I may not be aware of,

### Entry Type (select all that apply)

New Concept Entry for Existing Topic

### Code of Conduct

- [X] I agree to follow Codecademy Doc's Code of Conduct

### For Maintainers

- [x] Labels added
- [x] Issue is assigned

[2022-05-22 18:28] ethan-master-coding commented on #619
@Dusch4593 I noticed we have a file path entry for HTML. Should we make a general entry by copying and pasting the HTML one and removing all references to HTML?

[2022-05-24 16:46] christian-dinh commented on #684
@ethan-master-coding for security reasons we definitely can't revert that (it also never worked when it was in this repo 😅). Thanks for the heads up though! There is not a setting to be disabled, but it is possible to make a workaround via a script that pushes dummy commits to the repo, I'll try to do that when I have the time

[2022-05-24 21:32] Dusch4593 commented on #619
@ethan-master-coding yeah that seems fine

[2022-05-24 21:39] ethan-master-coding commented on #619
@Dusch4593 Got it. Can you assign this to me?

[2022-05-24 23:32] ethan-master-coding commented on #619
@Dusch4593 So I accidentally added more commits to my `ethan-master-coding:main`. So if I fork it to an org I own will the contribution still count towards me as long as I open the PR?

[2022-05-25 20:24] Dusch4593 commented on #619
@ethan-master-coding Sorry for the delay on this one. I wanted to check with my team before sharing potential fixes with you. I would recommend looking at and possibly following the steps in [this GitHub gist](https://gist.github.com/seLain/8bdf12c7196f3fccafdf067dec2696b2) about what do in a situation like this. **However**, I recommend following these steps _**first**_:

1. Since `git rebase` is

[2022-05-25 21:01] ethan-master-coding commented on #619
@Dusch4593 whatever I did, did not work. What I plan to do is once #757 and #760 are merged I delete my fork and then fork this repo again so it's all good. But if I use a fork owned by a GH ORG what will happen to that contribution on the leaderbord?

[2022-05-25 21:13] Dusch4593 commented on #619
@ethan-master-coding Your contribution count on the Docs leaderboard should not be affected.

[2022-06-02 15:50] #653 closed

[2022-06-02 17:47] #737 closed

[2022-06-03 19:28] #619 closed

[2022-06-04 01:19] not-a-ethan opened #779 "[Entry] General: File structure"
### Reason/inspiration (optional)

Write a General concept entry about file/directory structures, what they, and how they are used by computers to organize information.

Recommendation: Find ways to hyperlink to the existing [file format](https://www.codecademy.com/resources/docs/general/file-formats) and [file path](https://www.codecademy.com/resources/docs/general/file-paths) entries.

### Entry

[2022-06-04 22:44] #491 closed

[2022-06-05 19:08] ethan-master-coding commented on #740
@KTom101 Can I be assigned to this?

[2022-06-14 16:14] Dusch4593 opened #806 "[Entry] General: Content Management System"
### Reason/inspiration (optional)

Create a new entry in the General topic about **content management systems (CMS)**, including:

- What they are and how they came to be.
- How and why are used.
- Common/modern examples of CMSs.

Please refer to the [Docs entry template](https://github.com/Codecademy/docs/blob/main/documentation/entry-template.md) [content standards](https://github.com/Codecademy

[2022-06-14 16:40] Dusch4593 opened #807 "[Entry] SQL Commands: `CREATE INDEX`"
### Reason/inspiration (optional)

Create a term entry for the `CREATE INDEX` SQL statement. Make sure to include the following sections:

- A "Syntax" section with a \```pseudo code snippet and descriptive text underneath.
- A "Codebyte Examlpe" section featuring a \```codebyte/sql snippet.

Please refer to the [term entry template](https://github.com/Codecademy/docs/blob/main/documentation/term-

[2022-06-15 13:12] Dusch4593 commented on #755
@ethan-master-coding Can you expand on what you mean? I just checked the leaderboard and there seems to be a state for the last time it was updated:

<img width="1122" alt="Screen Shot 2022-06-15 at 9 10 48 AM" src="https://user-images.githubusercontent.com/23144845/173835418-c1b9d4c8-c46e-4ab6-be79-dcb5f122f456.png">

cc: @christian-dinh

[2022-06-15 13:16] Dusch4593 commented on #759
To whomever writes this entry, can we find a way to utilize [LaTex snippets](https://curriculum-documentation.codecademy.com/content-guidelines/markdown-style-guide/#latex) when referring to time complex formulae?

[2022-06-15 13:20] Dusch4593 opened #810 "[Entry] General: Big-O Notation"
### Reason/inspiration (optional)

Write a General concept entry about Big-O notation, including:

- What it is.
- How and why it is used to express the time/space complexity of algorithms.
- Usage of the [LaTeX code snippet](https://curriculum-documentation.codecademy.com/content-guidelines/markdown-style-guide/#latex) when using Big-O expressions.

Related issue: #759

### Entry Type (select all

[2022-06-15 13:21] Dusch4593 commented on #759
I also realize that we might need a separate entry that just talks about Big-O notation in general so I filed an issue for it. We may also want to make a "Space Complexity" entry in the future, too.

[2022-06-15 14:44] ethan-master-coding commented on #755
@Dusch4593 It may take a few refreshes for that to change. But when was the last commit/merge? About 22 hours ago not 31 min ago (or and a half hours when I am right this)

[2022-06-16 18:47] #548 closed

[2022-06-16 23:39] #740 closed

[2022-06-16 23:48] ethan-master-coding commented on #307
@Dusch4593 since the PR was closed due to a lack of activity by the OP should we unassign them?

[2022-06-16 23:49] Dusch4593 commented on #307
@ethan-master-coding You want?

[2022-06-20 01:42] ethan-master-coding commented on #684
@Dusch4593 @christian-dinh COTW did not update today. Its 1:41 AM UTC and it was supposed to update 12.5 hours ago.

[2022-06-21 13:12] Dusch4593 commented on #684
@ethan-master-coding As of now, we have to re-enable _every 60 days_ because of [GH's policies regarding inactive workflows](https://docs.github.com/en/actions/managing-workflow-runs/disabling-and-enabling-a-workflow). When @christian-dinh [reenabled](https://github.com/Codecademy/docs/issues/684#issuecomment-1091983487) back on April 7th, that _reset_ the 60 days (hence [your anticipation](https:

[2022-06-21 13:20] Dusch4593 commented on #684
I don't believe that was the last time the workflow was reenabled. Pretty sure it was April 7th. Can we confirm @christian-dinh?

[2022-06-23 16:47] elliotfayman commented on #810
Hello, I think I can contribute to resolving this issue. I can create a md, pdf, txt, etc so which file type would you like and where should I insert the file? Thank you!

[2022-06-23 17:17] Dusch4593 commented on #810
Hi @elliotfayman and thanks for your interest in writing this entry! For the actual Docs entry, use a Markdown `.md` file. If you'd like to add media such as images, make sure to store in the `media/` folder and reference in the entry with the following format: `https://raw.githubusercontent.com/Codecademy/docs/main/media/filename.ext`.

For more information about getting starting/contributing in

[2022-06-23 19:56] ethan-master-coding commented on #810
@Dusch4593 when the PR is merged can you tag me saying

I will understand what you mean. (I want to link the entry in the post)

[2022-06-23 20:51] elliotfayman commented on #810
Thank you. I will try to work on it as soon as I can!

[2022-06-24 09:49] elliotfayman commented on #810
Ok, I submitted a pull request. I hope that the submission is satisfactory but if not, please let me know. Thank you!

[2022-06-26 02:56] not-a-ethan opened #827 "[Entry] HTML: `<hr>` tag"
### Reason/inspiration (optional)

The `<hr>` tag is the equivalent of `___` in MD in HTML.

### Entry Type (select all that apply)

New Topic Entry, New Concept Entry for Existing Topic

### Code of Conduct

- [X] I agree to follow Codecademy Doc's Code of Conduct

### For Maintainers

- [x] Labels added
- [x] Issue is assigned

[2022-06-27 12:06] not-a-ethan opened #829 "[EDIT] General: JSON"
### Type of Edit (select all that apply)

Add new content (definitions, codeblocks, etc.)

### Description (optional)

See [comment below](https://github.com/Codecademy/docs/issues/829#issuecomment-1187508337) for detailed description/instructions for this issue.

### Code of Conduct

- [X] I agree to follow Codecademy Doc's Code of Conduct

### For Maintainers

- [x] Labels added
- [x] Issue is a

[2022-07-07 15:38] #810 closed

[2022-07-08 07:39] elliotfayman commented on #759
What's the difference between this issue and the big-o notation issue?

[2022-07-08 12:26] Dusch4593 commented on #759
This is duplicate. Thank you for flagging 😄 I'll close this

[2022-07-08 12:26] #759 closed

[2022-07-11 19:46] christian-dinh commented on #684
sorry for the delay, I've
- re-enabled the workflow
- run it manually, so the concept of the week should update sometime in the next hour or so
- made some changes to hopefully prevent the issue going forward, but I won't know for sure for some time

again apologies it took so long, but hopefully won't have to worry about it again!

[2022-07-11 19:50] christian-dinh commented on #755
I'm able to reproduce the issue, I've filed a bug for the engineering team to look at when we have a chance but I'm not sure when that'll be. Thanks for bringing this to our attention!

[2022-07-17 09:42] Nessvah opened #844 "[Entry] C#: Data Types"
### Reason/inspiration (optional)

I'm learning C# and when I wen to check the documentation on Codecademy, I notice that there is not a single information about it. I don't know if there's some reason for not having it or not, but if you guys want, I would be glad to start helping documenting C# on Docs. Just let me know and I'll start work on the PR.

### Entry Type (select all that apply)

New

[2022-07-18 14:12] Dusch4593 commented on #827
Just for clarity: Inside the `html/concepts` directory, all HTML concept entries of this kind should be saved under `/elements` (**not** `/tags`), per [a recent change](https://github.com/Codecademy/docs/pull/811).

Also, for this entry, let's also mention that the `<hr>` element, in and of itself, is only meant to draw _semantic_ distinctions between pieces of content. Therefore, `<hr>` should st

[2022-07-18 14:14] Dusch4593 commented on #755
Closing this for now since @christian-dinh filed with the engineering team.

[2022-07-18 14:14] #755 closed

[2022-07-18 14:16] Dusch4593 commented on #590
Hey @denisCabrera just wanted to check in and see how you were doing with this one? Were you still making a PR for this issue?

[2022-07-18 14:19] Dusch4593 commented on #620
Hey @ddwildin 👋🏻  this is Brandon from the Codecademy Free Team. I just wanted to check in and ask how you were doing and see if you had any questions about making a PR for this issue?

[2022-07-18 14:34] Dusch4593 commented on #282
Hey @Punit-Choudhary just checking in to see how things are going with the PR for this issue? If you have any questions, let me know 😄

[2022-07-18 15:25] Dusch4593 commented on #674
Hey @lyallstewart! 👋🏻

Just for clarity: Inside the `html/concepts` directory, all entries of this kind should be saved under `/elements` (**not** `/tags`), per [a recent change](https://github.com/Codecademy/docs/pull/811).

Besides that, I also just wanted to check in to see if you had any questions regarding making a PR for this issue?

[2022-07-22 13:48] Dusch4593 opened #850 "[Edit] Java: Data Types + related entries"
### Type of Edit (select all that apply)

Clarify unclear content and/or terms

### Description (optional)

Add a section to the [Java: Data Types entry](https://www.codecademy.com/resources/docs/java/data-types) about **reference types**, including:

- Annotations
- Arrays
- Classes
- Enumeration
- Interfaces

For the following entries, include info about how the given concept is one of the refer

[2022-07-23 07:27] alieldeba opened #852 "[Bug/Error] Subject: Double quotes vs Single quotes"
### Actual Behavior

## I am learning redux in Codecademy course and I am facing a problem

### Problem

- sometimes there is a task in the course that says import .... from .....
- and when I import it correctly an error message says "are you sure that you imported .... from ...."
- the solution was to use single quotes, not Double quotes
- it seems not fair, so please fix this

### Expected Beha

[2022-07-23 15:54] sharkipelago commented on #827
Hi! I'm new to contributing to open source, but I think I can handle this issue. Do I have to fill anything out or just comment here?

[2022-07-25 11:24] AaronJohnson02 opened #855 "[Entry] Pandas: .replace()"
### Reason/inspiration (optional)

_No response_

### Entry Type (select all that apply)

New Term for Existing Concept Entry

### Code of Conduct

- [X] I agree to follow Codecademy Doc's Code of Conduct

### For Maintainers

- [ ] Labels added
- [ ] Issue is assigned

[2022-07-26 13:32] Dusch4593 opened #856 "[Edit] Python: Errors"
### Type of Edit (select all that apply)

Add new content (definitions, codeblocks, etc.)

### Description (optional)

Please add information about the `TypeError` to [the existing entry](https://www.codecademy.com/resources/docs/python/errors) (under the "Exception" section). Include 1-3 descriptive sentences and one (1) code snippet example.

### Code of Conduct

- [X] I agree to follow Codecade

[2022-07-27 02:30] sharkipelago commented on #856
Hi I'm new to contributing to open source, but think I could handle this task. Could I  be assigned to this issue?

[2022-07-29 12:28] #307 closed

[2022-07-29 13:26] WebDevSiDotCom opened #858 "GitHub CLI in action segment - Clearer instructions."
### Type of Edit (select all that apply)

Add new content (definitions, codeblocks, etc.)

### Description (optional)

[](https://www.codecademy.com/paths/web-development/tracks/learn-git/modules/helpful-github-features/articles/the-github-cli-command-line-interface
)

In the GitHub CLI in action segment, the instructions don't mention that we need to grab the correct id # before submitting the is

[2022-07-29 14:58] Dusch4593 commented on #852
Hi @alieldeba 👋🏻 I believe this question was meant to go somewhere else. Check out [the forums](https://discuss.codecademy.com/t/faq-core-concepts-in-redux-introduction-to-redux/561527) to seek help with the lessons/exercises in the Redux course.

[2022-07-29 14:58] #852 closed

[2022-07-29 14:59] Dusch4593 commented on #858
@christian-dinh Not sure if this pertains to Docs?

[2022-07-29 14:59] lucwhite commented on #852
Hey @alieldeba thanks for submitting an issue! We strive to be as permissive as possible in our lessons, but it seems we may have slipped up there!

Unfortunately, this is the GitHub for the [Codecademy Docs](https://www.codecademy.com/resources/docs). Issues in our course content are handled by a different team, Curriculum Quality.

If you go to the lesson exercise in which you encountered this i

[2022-07-29 16:14] lucwhite commented on #858
After a lil google, it seems this is pertaining to this article: [https://www.codecademy.com/article/the-github-cli-command-line-interface](https://www.codecademy.com/article/the-github-cli-command-line-interface).

@WebDevSiDotCom Unfortunately, this is the GitHub for the [Codecademy Docs](https://www.codecademy.com/resources/docs) exclusively. Issues in our course content are handled by a differ

[2022-08-02 12:51] cjunhyuk commented on #855
@yangc95 I'd like to take on this issue

[2022-08-02 12:52] yangc95 commented on #855
@cjunhyuk assigned!

[2022-08-03 10:33] #844 closed

[2022-08-05 18:06] KTom101 commented on #856
@sharkipelago I will assign you this! You can take a look at our Contribution Guide [here](https://github.com/Codecademy/docs/blob/main/.github/CONTRIBUTING.md). Also, feel free to send us questions on this thread if you have any.

[2022-08-05 21:48] sharkipelago commented on #856
@KTom101 thank you! Also I think the issue is assigned task is still not checked off? Is there something I need to do in order to check it?

[2022-08-05 21:50] KTom101 commented on #856
@sharkipelago I've just checked it off. Thank you for that!

[2022-08-07 16:41] yangc95 opened #873 "[New Entry] Python:Matplotlib"
### Reason/inspiration (optional)

Create a new concept for `Matplotlib` and include an entry on https://matplotlib.org in general.

In addition, create a new terms folder with at least one term and up to two terms. Recommended term: `legend`

### Entry Type (select all that apply)

New Topic Entry

### Code of Conduct

- [X] I agree to follow Codecademy Doc's Code of Conduct

### For Maintainers

[2022-08-07 16:42] yangc95 commented on #873
@cjunhyuk

[2022-08-07 16:46] cjunhyuk commented on #873
@yangc95 I also recommend covering Seaborn which is another Python library built on top of Matplotlib as it has more functionality and is more commonly used.

[2022-08-07 16:48] yangc95 opened #874 "[New Topic] Python:Seaborn"
### Reason/inspiration (optional)

Create a new topic for `Seaborn`.

Optional: Create a new terms folder with at least one term and up to two terms.

### Entry Type (select all that apply)

New Concept Entry for Existing Topic

### Code of Conduct

- [X] I agree to follow Codecademy Doc's Code of Conduct

### For Maintainers

- [X] Labels added
- [x] Issue is assigned

[2022-08-07 16:49] yangc95 commented on #874
@cjunhyuk

[2022-08-07 16:52] cjunhyuk commented on #874
@yangc95 I can start with legend and mainly link out to `seaborn` from the `matplotlib` entries

[2022-08-07 18:58] sharkipelago commented on #856
@KTom101  hi! I've submitted a PR, but I think the Value Error information is wrong. For the Value Error the example is correct but I think the description describes a Type Error . So I used that description and created a new example for the Type error information. Should I submit a new issue or PR to fix the Value Error description?

[2022-08-07 20:19] KTom101 commented on #856
@sharkipelago Thanks for pointing this out! You can edit the "Value Error" description in the same PR you just submitted.

[2022-08-07 21:53] sharkipelago commented on #856
@KTom101 I updated the PR is there anything else I need to do or just wait for feedback when it gets reviewed?

[2022-08-07 23:19] sharkipelago commented on #807
Hi @Dusch4593 could I be assigned to this issue?

[2022-08-07 23:35] Dusch4593 commented on #807
@sharkipelago Sure! Assigned.

[2022-08-07 23:37] KTom101 commented on #856
@sharkipelago All you have to do is wait for feedback now. There are usually 2-3 rounds of review before merging.

[2022-08-10 16:34] sharkipelago commented on #807
@Dusch4593 Hi! I submitted a PR and I did add a code byte example, but noticed in the [content-standards.md](https://github.com/Codecademy/docs/blob/main/documentation/content-standards.md) it doesn't list sql as having code byte support.

[2022-08-10 16:39] Dusch4593 commented on #807
It's true that SQL is supported in Codebytes. While I think it was left out of the list in `content-standards.md`by accident, implementing an SQL codebyte can be tricky because most of the time there isn't a table created beforehand.

[2022-08-13 12:14] Dusch4593 opened #880 "[Entry] Java Strings: `.valueOf()`"
### Reason/inspiration (optional)

Create a new term entry for the `.valueOf()` String method in Java. Be sure to include:

- A "Syntax" section with a \```pseudo code snippet.
- An "Example" section with a \```java snippet.

Please refer to the [term entry template](https://github.com/Codecademy/docs/blob/main/documentation/term-entry-template.md), [content standards](https://github.com/Codecadem

[2022-08-16 23:01] yangc95 opened #886 "[New Entry] C: Data Types"
### Reason/inspiration (optional)

Create an entry on Data Types for [C](https://www.codecademy.com/resources/docs/c) language.

_Recommended to search throughout the C entries to see what types are mentioned and link out to this created data types entry. Questions are welcome!_

Let us know if you'd like to take this issue on! Tag someone on the team and ask to be assigned 😸

### Entry Type (sele

[2022-08-17 16:21] Nessvah commented on #886
@yangc95 Can I work on this issue?

[2022-08-18 01:47] yangc95 commented on #886
@Nessvah Yes, assigned you to this ☺️

[2022-08-19 13:53] Dusch4593 opened #890 "[Term Entry] Java Math Methods: `.round()`"
### Reason/inspiration (optional)

Under the "Java: Math Methods" concept, create a new term entry for the `Math.round()` method. Be sure to include the following sections:

- A "Syntax" section with a \```pseudo code snippet that describes how to apply the parameter(s), if any.
- An "Example" section with a \```java code snippet that demonstrates the `Math.round()` method.

Please refer to the [e

[2022-08-19 13:55] Dusch4593 commented on #707
Hey @dharmelolar 👋🏻 Just wanted to check in and see how you were doing with the PR for this entry? Is there anything I can do to help?

[2022-08-19 18:06] yhscherber commented on #829
Hey! I'm interested in working on this issue - would you mind assigning it to me? 🥳 Thanks!

[2022-08-19 21:17] Dusch4593 commented on #829
Hi @yhscherber! You're assigned 😄

[2022-08-20 13:17] Nessvah commented on #886
@yangc95 @Dusch4593  Hi guys. Since there's a file about strings, should I copy and paste that information to the new file that I'm going to work on? Or is there a different way that I should approach this?

[2022-08-22 16:59] Dusch4593 commented on #886
@Nessvah It looks like [strings aren't necessarily regarded as a data type in C](https://www.cs.uic.edu/~jbell/CourseNotes/C_Programming/CharacterStrings.html#:~:text=Overview,terminated%20by%20a%20null%20byte.). Rather, they are arrays of `char`s (which _is_ one of the C data types).

An approach I would recommend for writing this entry is researching and outlining how C data types are classified

[2022-08-22 18:18] Nessvah commented on #886
You are completely right! I'm going to review my old classes on C and start to work on that. Thank you!

[2022-08-22 18:50] cesscode commented on #620
Hello, I am interested in working on this issue. Can I add a .reduce() method example with a brief description of how it works?

[2022-08-22 19:07] dharmelolar commented on #707
So sorry for the late reply @Dusch4593. I'll definitely do the needful by the end of the week.

[2022-08-22 19:10] Dusch4593 commented on #707
@dharmelolar No worries at all 😄

[2022-08-22 19:10] dharmelolar commented on #707
Thank you

[2022-08-22 19:31] Dusch4593 opened #893 "[Edit + Term Entries] C: Basic Output"
### Type of Edit (select all that apply)

Fix grammar, spelling, Clarify unclear content and/or terms, Add new content (definitions, codeblocks, etc.)

### Description (optional)

This entry needs the following edits:

### Line-specific

- Line # 3: meta-`Description` needs to be shortened to (ideally) 150 characters or less.
- Line # 15: Name of concept ("basic console output") needs to be **in b

[2022-08-22 19:50] Dusch4593 commented on #620
@cesscode You're assigned! To answer your question, my recommendation would be to edit the existing "Codebyte Example" section and replace the current codebyte snippet with a more complex use-case of `.reduce()` (i.e., reducing an array of objects).

[2022-08-22 20:41] #807 closed

[2022-08-22 22:37] cesscode commented on #620
Hello, I can't seem to find the "Codebyte Example". I took the Codecademy open source course, and I want to make my first contribution, I will love you to help me out maybe

[2022-08-22 22:50] Dusch4593 commented on #620
@cesscode The "Codebyte Example" can be found towards the bottom of the JS arrays `.reduce()` entry here: https://www.codecademy.com/resources/docs/javascript/arrays/reduce

[2022-08-22 23:11] Dusch4593 opened #895 "[Term Entry] Java Math Methods: `addExact()`"
### Reason/inspiration (optional)

Under `java/concepts/math-methods/terms/`, create a new term entry for the `Math.addExact()` Java method.

- In the `terms/` folder, make a new folder called `add-exact/`.
- Inside the `add-exact/` folder, create a new markdown file called `add-exact.md`.
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
- Also make sure to

[2022-08-22 23:14] Dusch4593 opened #896 "[Term Entry] Java Math Methods: `.cbrt()`"
### Reason/inspiration (optional)

Under `java/concepts/math-methods/terms/`, create a new term entry for the `Math.cbrt()` Java method.

- In the `terms/` folder, make a new folder called `cbrt/`
- Inside the `cbrt/` folder, create a new markdown file called `cbrt.md`
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
- Also make sure to include an "Example"

[2022-08-22 23:15] Dusch4593 opened #897 "[Term Entry] Java Math Methods: `.ceil()`"
### Reason/inspiration (optional)

Under `java/concepts/math-methods/terms/`, create a new term entry for the `Math.ceil()` Java method.

- In the `terms/` folder, make a new folder called `ceil/`
- Inside the `ceil/` folder, create a new markdown file called `ceil.md`
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
- Also make sure to include an "Example"

[2022-08-22 23:18] Dusch4593 opened #898 "[Term Entry] Math Methods: `.decrementExact()`"
### Reason/inspiration (optional)

Under `java/concepts/math-methods/terms/`, create a new term entry for the `Math.decrementExact()` Java method.

- In the `terms/` folder, make a new folder called `decrement-exact`
- Inside the `decrement-exact` folder, create a new markdown file called `decrement-exact.md`.
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.

[2022-08-22 23:20] Dusch4593 opened #899 "[Term Entry] Java Math Methods: `.floor()`"
### Reason/inspiration (optional)

Under `java/concepts/math-methods/terms/`, create a new term entry for the `Math.floor()` Java method.

- In the `terms/` folder, make a new folder called `floor`.
- Inside the `floor` folder, create a new markdown file called `floor.md`
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
- Also make sure to include an "Exampl

[2022-08-22 23:22] Dusch4593 opened #900 "[Term Entry] Java Math Methods: `.hypot()`"
### Reason/inspiration (optional)

Under `java/concepts/math-methods/terms/`, create a new term entry for the `Math.hypot()` Java method.

- In the `terms/` folder, make a new folder called `hypot`
- Inside the `hypot` folder, create a new markdown file called `hypot.md`
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
- Also make sure to include an "Example

[2022-08-22 23:24] Dusch4593 opened #901 "[Term Entry] Java Math Methods: `.incrementExact()`"
### Reason/inspiration (optional)

Under `java/concepts/math-methods/terms/`, create a new term entry for the `Math.incrementExact()` Java method.

- In the `terms/` folder, make a new folder called `increment-exact`
- Inside the `increment-exact` folder, create a new markdown file called `increment-exact.md`
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.

[2022-08-22 23:28] Dusch4593 opened #902 "[Term Entries] Java Math Methods: logarithmic functions"
### Reason/inspiration (optional)

Under `java/concepts/math-methods/terms/`, create new term entries for the following methods:

- `Math.log()`
- `Math.log10()`
- `Math.log1p()`

- In the `terms/` folder, make a new folder for each method (i.e., `log`, `log10`, and `log1p`).
- Inside the `log`, `log10`, and `log1p` folders, create a new markdown files called `log.md`, `log10.md`, and `log1p.md`,

[2022-08-22 23:29] Dusch4593 opened #903 "[Term Entries] Java Math Methods: `.max()` and `.min()`"
### Reason/inspiration (optional)

Under `java/concepts/math-methods/terms/`, create a new term entry for the `Math.max()` and `Math.min()` Java methods.

- In the `terms/` folder, make new folders called `max` and `min`.
- Inside the `max` and `min` folders, create a new markdown file called `max.md` and `min.md`, respectively.
- Inside the file, be sure to include a "Syntax" section with a \```p

[2022-08-22 23:32] Dusch4593 opened #904 "[Term Entry] Java Math Methods: `.multiplyExact()`"
### Reason/inspiration (optional)

Under `java/concepts/math-methods/terms/`, create a new term entry for the `Math.multiplyExact()` Java methods.

- In the `terms/` folder, make a new folder called `multiply-exact`
- Inside the `multiply-exact` folder, create a new markdown file called `multiply-exact.md`.
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
-

[2022-08-23 15:41] SSwiniarski opened #905 "[Term Entry] Java Math Methods: `.negateExact()`"
### Reason/inspiration (optional)

Under `java/concepts/math-methods/terms/`, create a new term entry for the `Math.negateExact()` Java method.

- In the `terms/` folder, make a new folder called `negate-exact`
- Inside the `negate-exact` folder, create a new markdown file called `negate-exact.md`.
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
- Also make

[2022-08-23 15:43] SSwiniarski opened #906 "[Term Entry] Java Math Methods: `.nextAfter()`"
### Reason/inspiration (optional)

Under `java/concepts/math-methods/terms/`, create a new term entry for the `Math.nextAfter()` Java method.

- In the `terms/` folder, make a new folder called `next-after`
- Inside the `next-after` folder, create a new markdown file called `next-after.md`.
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
- Also make sure to

[2022-08-23 15:44] SSwiniarski opened #907 "[Term Entry] Java Math Methods: `.nextDown()`"
### Reason/inspiration (optional)

Under `java/concepts/math-methods/terms/`, create a new term entry for the `Math.nextDown()` Java methods.

- In the `terms/` folder, make a new folder called `next-down`
- Inside the `multiply-exact` folder, create a new markdown file called `next-down.md`.
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
- Also make sure

[2022-08-23 15:46] SSwiniarski opened #908 "[Term Entry] Java Math Methods: `.nextUp()`"
### Reason/inspiration (optional)

Under `java/concepts/math-methods/terms/`, create a new term entry for the `Math.nextUp()` Java method.

- In the `terms/` folder, make a new folder called `next-up`
- Inside the `next-up` folder, create a new markdown file called `next-up.md`.
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
- Also make sure to include an

[2022-08-23 15:49] SSwiniarski opened #909 "[Term Entry] Java Math Methods: `.pow()`"
### Reason/inspiration (optional)

Under `java/concepts/math-methods/terms/`, create a new term entry for the `Math.pow()` Java method.

- In the `terms/` folder, make a new folder called `pow`
- Inside the `pow` folder, create a new markdown file called `pow.md`.
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
- Also make sure to include an "Example" secti

[2022-08-23 15:52] SSwiniarski opened #910 "[Term Entry] Java Math Methods: `.rint()`"
### Reason/inspiration (optional)

Under `java/concepts/math-methods/terms/`, create a new term entry for the `Math.rint()` Java method.

- In the `terms/` folder, make a new folder called `rint`
- Inside the `rint` folder, create a new markdown file called `rint.md`.
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
- Also make sure to include an "Example" s

[2022-08-23 15:53] SSwiniarski opened #911 "[Term Entry] Java Math Methods: `.scalb()`"
### Reason/inspiration (optional)

Under `java/concepts/math-methods/terms/`, create a new term entry for the `Math.scalb()` Java method.

- In the `terms/` folder, make a new folder called `scalb`
- Inside the `scalb` folder, create a new markdown file called `scalb.md`.
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
- Also make sure to include an "Exampl

[2022-08-23 15:54] SSwiniarski opened #912 "[Term Entry] Java Math Methods: `.signum()`"
### Reason/inspiration (optional)

Under `java/concepts/math-methods/terms/`, create a new term entry for the `Math.signum()` Java method.

- In the `terms/` folder, make a new folder called `signum`
- Inside the `signum` folder, create a new markdown file called `signum.md`.
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
- Also make sure to include an "Ex

[2022-08-23 15:55] SSwiniarski opened #913 "[Term Entry] Java Math Methods: `.sin()`"
### Reason/inspiration (optional)

Under `java/concepts/math-methods/terms/`, create a new term entry for the `Math.sin()` Java method.

- In the `terms/` folder, make a new folder called `sin`
- Inside the `sin` folder, create a new markdown file called `sin.md`.
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
- Also make sure to include an "Example" secti

[2022-08-23 15:57] SSwiniarski opened #914 "[Term Entry] Java Math Methods: `.sinh()`"
### Reason/inspiration (optional)

Under `java/concepts/math-methods/terms/`, create a new term entry for the `Math.sinh()` Java method.

- In the `terms/` folder, make a new folder called `sinh`
- Inside the `sinh` folder, create a new markdown file called `sinh.md`.
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
- Also make sure to include an "Example" s

[2022-08-23 15:58] SSwiniarski opened #915 "[Term Entry] Java Math Methods: `.sqrt()`"
### Reason/inspiration (optional)

Under `java/concepts/math-methods/terms/`, create a new term entry for the `Math.sqrt()` Java method.

- In the `terms/` folder, make a new folder called `sqrt`
- Inside the `sqrt` folder, create a new markdown file called `sqrt.md`.
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
- Also make sure to include an "Example" s

[2022-08-23 15:59] SSwiniarski opened #916 "[Term Entry] Java Math Methods: `.subtractExact()`"
### Reason/inspiration (optional)

Under `java/concepts/math-methods/terms/`, create a new term entry for the `Math.subtractExact()` Java method.

- In the `terms/` folder, make a new folder called `subtract-exact`
- Inside the `subtract-exact` folder, create a new markdown file called `subtract-exact.md`.
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
- A

[2022-08-23 16:01] SSwiniarski opened #917 "[Term Entry] Java Math Methods: `.tan()`"
### Reason/inspiration (optional)

Under `java/concepts/math-methods/terms/`, create a new term entry for the `Math.tan()` Java method.

- In the `terms/` folder, make a new folder called `tan`
- Inside the `tan` folder, create a new markdown file called `tan.md`.
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
- Also make sure to include an "Example" secti

[2022-08-23 16:02] SSwiniarski opened #918 "[Term Entry] Java Math Methods: `.tanh()`"
### Reason/inspiration (optional)

Under `java/concepts/math-methods/terms/`, create a new term entry for the `Math.tanh()` Java method.

- In the `terms/` folder, make a new folder called `tanh`
- Inside the `tanh` folder, create a new markdown file called `tanh.md`.
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
- Also make sure to include an "Example" s

[2022-08-23 16:03] SSwiniarski opened #919 "[Term Entry] Java Math Methods: `.toDegrees()`"
### Reason/inspiration (optional)

Under `java/concepts/math-methods/terms/`, create a new term entry for the `Math.toDegrees()` Java method.

- In the `terms/` folder, make a new folder called `to-degrees`
- Inside the `to-degrees` folder, create a new markdown file called `to-degrees.md`.
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
- Also make sure to

[2022-08-23 16:04] SSwiniarski opened #920 "[Term Entry] Java Math Methods: `.toIntExact()`"
### Reason/inspiration (optional)

Under `java/concepts/math-methods/terms/`, create a new term entry for the `Math.toIntExact()` Java method.

- In the `terms/` folder, make a new folder called `to-int-exact`
- Inside the `to-int-exact` folder, create a new markdown file called `to-int-exact.md`.
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
- Also make

[2022-08-23 16:06] SSwiniarski opened #921 "[Term Entry] Java Math Methods: `.toRadians()`"
### Reason/inspiration (optional)

Under `java/concepts/math-methods/terms/`, create a new term entry for the `Math.toRadians()` Java method.

- In the `terms/` folder, make a new folder called `to-radians`
- Inside the `to-radians` folder, create a new markdown file called `to-radians.md`.
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
- Also make sure to

[2022-08-23 16:07] SSwiniarski opened #922 "[Term Entry] Java Math Methods: `.ulp()`"
### Reason/inspiration (optional)

Under `java/concepts/math-methods/terms/`, create a new term entry for the `Math.ulp()` Java method.

- In the `terms/` folder, make a new folder called `ulp`
- Inside the `ulp` folder, create a new markdown file called `ulp.md`.
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
- Also make sure to include an "Example" secti

[2022-08-24 05:29] Yash-Var commented on #915
@SSwiniarski I want to do this can you assign it to me .....

[2022-08-24 06:24] KTom101 commented on #915
@Yash-Var Thank you for your interest in contributing to Codecademy Docs! I've assigned you to this issue.

You can take a look at the [contribution guide ](https://github.com/Codecademy/docs/blob/main/.github/CONTRIBUTING.md) for more information about contributing. Also, feel free to reach out if you have any other questions.

[2022-08-24 15:19] lucwhite opened #925 "[Entry] UI and UX Design: Interaction Design"
### Reason/inspiration (optional)

I think that Interaction Design is an important concept that should live in Docs.

### Entry Type (select all that apply)

New Concept Entry for Existing Topic

### Code of Conduct

- [X] I agree to follow Codecademy Doc's Code of Conduct

### For Maintainers

- [ ] Labels added
- [ ] Issue is assigned

[2022-08-24 17:33] #925 closed

[2022-08-25 04:51] Yash-Var commented on #915
@KTom101 I have not  find the folder       java/concepts/math-methods/terms/     can you provided it  folder java   ...........

[2022-08-25 05:22] Yash-Var commented on #915
@KTom101 I have made a PR review it and guide me ..........

[2022-08-25 05:23] Yash-Var commented on #915
@SSwiniarski I have made a PR review it and guide me ..........

[2022-08-25 18:37] Yash-Var commented on #915
@Dusch4593  why you have closed the link pull request . If in my PR there is some bug and error so, you can guide me .......

[2022-08-25 18:50] Dusch4593 commented on #915
@Yash-Var I closed the PR because the entry contained content that was near identical to an outside, non-Codecademy source. When contributing content to Codecademy, you have to write and submit original content with your own examples and output. You can read more [here](https://github.com/Codecademy/docs/pull/927#issuecomment-1227616514) for more information, but I'm asking that you rewrite the en

[2022-08-25 18:59] Yash-Var commented on #915
@Dusch4593 okk

[2022-08-29 15:47] lucwhite opened #933 "Test Subject: Test Entry Name"
### Reason/inspiration (optional)

This is testing out Monday.com integration

### Entry Type (select all that apply)

New Topic Entry

### Code of Conduct

- [X] I agree to follow Codecademy Doc's Code of Conduct

### For Maintainers

- [ ] Labels added
- [ ] Issue is assigned

[2022-08-29 19:45] Dusch4593 opened #934 "[Entry] General: Yukihiro Matsumoto"
### Reason/inspiration (optional)

Please write a new concept entry in the "General" topic about Yukihiro Matsumoto (Matz), the designer/developer of the Ruby programming language.

- Be sure to include an image of Matz near the top of the entry, that is (preferably) less than 1 MB in size.
- Use other existing Doc entries like the ones for [Aaron Swartz](https://www.codecademy.com/resources/docs/

[2022-09-01 10:58] SSwiniarski commented on #909
@sharkipelago, done. And thanks for your interest in contributing.

[2022-09-01 13:41] lucwhite opened #940 "[Entry] Test: Integration"
### Reason/inspiration (optional)

Testing a Monday.com Integration

### Entry Type (select all that apply)

New Topic Entry

### Code of Conduct

- [X] I agree to follow Codecademy Doc's Code of Conduct

### For Maintainers

- [ ] Labels added
- [ ] Issue is assigned

[2022-09-01 13:46] lucwhite commented on #940
test comment

[2022-09-01 15:01] lucwhite commented on #940
test comment 2

[2022-09-01 15:02] lucwhite commented on #940
cool, closing

[2022-09-01 15:02] #940 closed

[2022-09-02 14:47] YanisaHS commented on #779
Hi!! I'd be into working on this issue - mind assigning it to me? Thanks! 😄

[2022-09-02 16:25] YanisaHS commented on #710
Hey! I'd be into working on this one too if you can assign it to me! 🥳

[2022-09-02 21:29] sharkipelago commented on #909
@SSwiniarski submitted the first draft PR!

[2022-09-03 13:18] Dusch4593 opened #943 "[Entry] Go: Memory"
### Reason/inspiration (optional)

Please write a new Go concept entry about the memory model that includes a section about memory operations.

Please refer to the [entry templates](https://github.com/Codecademy/docs/blob/main/documentation/), [content standards](https://github.com/Codecademy/docs/blob/main/documentation/content-standards.md), and [markdown style guide](https://curriculum-document

[2022-09-03 13:20] Dusch4593 opened #944 "[Entry] Go: Goroutines"
### Reason/inspiration (optional)

Please write a new Go concept entry about the goroutines that includes the following:

- A "Syntax" section with a \```pseudo code snippet.
- An "Example" section with a \```go snippet.
- A "Codebyte Example" section with a \```codebyte/golang snippet.

Please refer to the [entry templates](https://github.com/Codecademy/docs/blob/main/documentation/), [content st

[2022-09-03 14:33] #915 closed

[2022-09-03 15:40] Yash-Var commented on #913
@SSwiniarski i want to work on this ....

[2022-09-03 15:40] Yash-Var commented on #913
@SSwiniarski  assigne it to me ...

[2022-09-03 17:03] Dusch4593 commented on #913
@Yash-Var Assigned!

[2022-09-03 17:04] Dusch4593 commented on #827
Hey @sharkipelago, sorry I'm super late getting to this. I went ahead and assigned you! 😄

[2022-09-03 17:05] Dusch4593 commented on #779
@YanisaHS Assigned! 😄

[2022-09-03 17:06] Dusch4593 commented on #710
@YanisaHS Assigned! 😄

[2022-09-03 18:14] prakha commented on #943
i am interested

[2022-09-03 19:06] Dusch4593 commented on #943
@prakha You are assigned! 😄

[2022-09-06 12:52] #909 closed

[2022-09-06 14:43] Dusch4593 opened #948 "[Entry] General: Environment Variables"
### Reason/inspiration (optional)

Please write a new concept entry for **environment variables** under the General topic.

- Since this is a General entry, try to avoid language-specific information.
- But do include info about its relationship with Unix and Unix-like variants (Linux).
  - Go ahead and link out to the Docs entries for [Linux](https://www.codecademy.com/resources/docs/general/linu

[2022-09-06 14:55] Dusch4593 opened #949 "[Entry] General: Optimization"
### Reason/inspiration (optional)

Please write a new General concept entry that defines **optimization** in programming. Make sure to also include a section about the various "levels" of optimization:

[code]

Please refer to the [entry templates](https://github.com/Codecademy/docs/blob/main/documentation/), [content standards](https://github.com/Codecademy/docs/blob/main/documentation/content-st

[2022-09-06 14:58] Dusch4593 opened #950 "[Entry] General: JIT"
### Reason/inspiration (optional)

Write a new General concept entry that defines **Just-In-Time (JIT)** compilation, what it does, as well as a few of its use cases. A list of programming languages that utilize JIT compilation would also be good.

Please refer to the [entry templates](https://github.com/Codecademy/docs/blob/main/documentation/), [content standards](https://github.com/Codecademy/d

[2022-09-07 02:47] yangc95 opened #951 "[Entry] General: Multi-factor Authentication"
### Reason/inspiration (optional)

MFA is part of many site's sign-up/in process. Without it, it may be difficult to verify that a user is who they say they are. In addition, if a user's account is somehow accessed by a third party, the other form of authentication can be used to retrieve their account.

Mobile auth may be the most secure since one would need the physical device to authenticate on

[2022-09-07 13:12] Dusch4593 opened #952 "[Term Entry] C++ Math Functions: `atan2()`"
### Reason/inspiration (optional)

Under `cpp/concepts/math-functions/terms/`, create a new term entry for the `atan2()` function.

- In the `terms/` folder, make a new folder called `atan2`
- Inside the `atan2` folder, create a new markdown file called `atan2.md`
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
- Let's include an "Example" section with a \`

[2022-09-07 13:24] Dusch4593 opened #953 "[Term Entry] C++ Math Functions: `acosh()`"
### Reason/inspiration (optional)

Under `cpp/concepts/math-functions/terms/`, create a new term entry for the `acosh()` function.

- In the `terms/` folder, make a new folder called `acosh`
- Inside the `acosh` folder, create a new markdown file called `acosh.md`
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
- Let's include an "Example" section with a \`

[2022-09-07 13:40] Dusch4593 opened #954 "[Term Entry] C++ Math Functions: `asinh()`"
### Reason/inspiration (optional)

Under `cpp/concepts/math-functions/terms/`, create a new term entry for the `asinh()` function.

- In the `terms/` folder, make a new folder called `asinh`
- Inside the `asinh` folder, create a new markdown file called `asinh.md`
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
- Let's include an "Example" section with a \`

[2022-09-07 13:41] Dusch4593 opened #955 "[Term Entry] C++ Math Functions: `atanh()`"
### Reason/inspiration (optional)

Under `cpp/concepts/math-functions/terms/`, create a new term entry for the `atanh()` function.

- In the `terms/` folder, make a new folder called `atanh`
- Inside the `atanh` folder, create a new markdown file called `atanh.md`
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
- Let's include an "Example" section with a \`

[2022-09-07 13:41] Dusch4593 opened #956 "[Term Entry] C++ Math Functions: `log()`"
### Reason/inspiration (optional)

Under `cpp/concepts/math-functions/terms/`, create a new term entry for the `log()` function.

- In the `terms/` folder, make a new folder called `log`
- Inside the `log` folder, create a new markdown file called `log.md`
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
- Let's include an "Example" section with a \```cpp co

[2022-09-07 13:42] Dusch4593 opened #957 "[Term Entry] C++ Math Functions: `log10()`"
### Reason/inspiration (optional)

Under `cpp/concepts/math-functions/terms/`, create a new term entry for the `log10()` function.

- In the `terms/` folder, make a new folder called `log10`
- Inside the `log10` folder, create a new markdown file called `log10.md`
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
- Let's include an "Example" section with a \`

[2022-09-07 13:43] Dusch4593 opened #958 "[Term Entry] C++ Math Functions: `log2()`"
### Reason/inspiration (optional)

Under `cpp/concepts/math-functions/terms/`, create a new term entry for the `log2()` function.

- In the `terms/` folder, make a new folder called `log2`
- Inside the `log2` folder, create a new markdown file called `log2.md`
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
- Let's include an "Example" section with a \```cp

[2022-09-07 13:44] Dusch4593 opened #959 "[Term Entry] C++ Math Functions: `pow()`"
### Reason/inspiration (optional)

Under `cpp/concepts/math-functions/terms/`, create a new term entry for the `pow()` function.

- In the `terms/` folder, make a new folder called `pow`
- Inside the `pow` folder, create a new markdown file called `pow.md`
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
- Let's include an "Example" section with a \```cpp co

[2022-09-07 13:45] Dusch4593 opened #960 "[Term Entry] C++ Math Functions: `sqrt()`"
### Reason/inspiration (optional)

Under `cpp/concepts/math-functions/terms/`, create a new term entry for the `sqrt()` function.

- In the `terms/` folder, make a new folder called `sqrt`
- Inside the `sqrt` folder, create a new markdown file called `sqrt.md`
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
- Let's include an "Example" section with a \```cp

[2022-09-07 13:46] Dusch4593 opened #961 "[Term Entry] C++ Math Functions: `hypot()`"
### Reason/inspiration (optional)

Under `cpp/concepts/math-functions/terms/`, create a new term entry for the `hypot()`

- In the `terms/` folder, make a new folder called `hypot`
- Inside the `hypot` folder, create a new markdown file called `hypot.md`
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
- Let's include an "Example" section with a \```cpp code

[2022-09-07 13:47] Dusch4593 opened #962 "[Term Entry] C++ Math Functions: `exp2()`"
### Reason/inspiration (optional)

Under `cpp/concepts/math-functions/terms/`, create a new term entry for the `exp2()` function.

- In the `terms/` folder, make a new folder called `exp2`
- Inside the `exp2` folder, create a new markdown file called `exp2.md`
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
- Let's include an "Example" section with a \```cp

[2022-09-07 13:48] Dusch4593 opened #963 "[Term Entry] C++ Math Functions: `fmod()`"
### Reason/inspiration (optional)

Under `cpp/concepts/math-functions/terms/`, create a new term entry for the `fmod()` function,

- In the `terms/` folder, make a new folder called `fmod`
- Inside the `fmod` folder, create a new markdown file called `fmod.md`
- Inside the file, be sure to include a "Syntax" section with a \```pseudo code snippet.
- Let's include an "Example" section with a \```cp